<!DOCTYPE html>
<html lang="es">
    <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="HnUu9iaeVDCTODuyAWK6YbfmE7gphm8pNEv3VmOQ">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="Municipalidad de Fray Mamerto Esquiu">
        <meta name="keywords" content="ERP">
        <meta name="author" content="Kjaya Software">
        <meta name="facebook-domain-verification" content="or2astjwkpdb955ooaxfajjacpwggw" />

        
        <link href="imagenes/favicon.ico" rel="icon">
        <link href="imagenes/favicon.ico" rel="apple-touch-icon">


        <title>Inicio</title>



    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" media="all" />

<!-- CSS - Bootstrap (v-3.4.1), Font Awesome (v-4.7.0), Poncho, Iconos -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link href="{{ asset('bundles/principal/plugins/poncho/dist/css/poncho.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/principal/plugins/poncho/dist/css/icono-arg.css') }}" type="text/css" rel="stylesheet">

<!-- JavaScript - Jquery, Bootstrap (v-3.4.1) -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <link rel="stylesheet" href="{{ asset('bundles/principal/plugins/muni/css/animate.css') }}">
  
        <link rel="stylesheet" href="{{ asset('bundles/principal/plugins/muni/css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/principal/plugins/muni/css/owl.theme.default.min.css')}}">

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <script src="{{ asset('bundles/principal/plugins/muni/js/wow.min.js') }}" ></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation-float.min.css" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- SCRIPTS -->

    <script src="{{ asset('bundles/principal/plugins/muni/js/smoothscroll.js') }}"></script>
    <script src="{{ asset('bundles/principal/plugins/muni/js/custom.js') }}"></script>

    <!-- Photoswipe CSS -->
<link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
<link rel="stylesheet" href="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
<script src="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>



    <script>new WOW().init();</script>


        </head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>

    <div id="superior">
        <div class="container">
            <div id="cbp-hrmenu" class="cbp-hrmenu">
                <ul class="navSuperior">
                    <li class="iconosAccBarraSuperior">
                        <a href="https://www.facebook.com/FrayMamertoEsquiuMunicipalidad" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook fa-lg" alt="Facebook" style="margin-right: 5px; cursor: pointer" title="FME en Facebook"></i>
                        </a>
                    </li>
                    <li class="iconosAccBarraSuperior">
                        <a href="https://instagram.com/fray_municipalidad?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram fa-lg" alt="Instagram" style="margin-right: 5px; cursor: pointer" title="FME en Instagram"></i>
                        </a>
                    </li>
                    <li class="iconosAccBarraSuperior">
                        <a href="https://twitter.com/fray_muni?s=21&amp;t=5Sl2zF3qa3OX_r7dVfUzKw" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter fa-lg" alt="Twitter" style="margin-right: 5px; cursor: pointer" title="FME en Twitter"></i>
                        </a>
                    </li>
                    <li class="iconosAccBarraSuperior">
                        <a href="https://api.whatsapp.com/send?phone=5493834804322" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-whatsapp fa-lg" alt="Whatsapp" style="margin-right: 5px; cursor: pointer" title="FME en WhatsApp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- MENU -->
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <!-- lOGO TEXT HERE -->
                <a href="index.html" class="navbar-brand">
                    <img class="logo" src="imagenes/logo-t.png" style="width: 9rem;" alt="Municipalidad de Fray Mamerto Esquiu">
                </a>
            </div>
            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
    <li><a href="#top" class="smoothScroll" title="P&aacute;gina principal del sitio"><i
                class="fa-solid fa-house"></i>&nbsp;Inicio</a></li>
    <li><a href="institucional.html" class="smoothScroll" title="Informaci&oacute;n institucional"><i
                class="fa-solid fa-building-columns"></i>&nbsp;Institucional</a></li>
    <li><a href="servicios.html" class="smoothScroll" title="Que servicios brindamos"><i
                class="fa-solid fa-bell-concierge"></i>&nbsp;Servicios</a></li>
    <li><a href="tramites.html" class="smoothScroll" title="Conozca los pasos para realizar una tarea"><i
                class="fa-solid fa-folder-tree"></i>&nbsp;Tr&aacute;mites</a></li>
    <li><a href="https://mesavirtual.fraymunicipalidad.gob.ar/" class="smoothScroll" title="Mesa de entradas"><i class="fa-solid fa-envelopes-bulk"></i>&nbsp;Mesa de Entradas</a></li>
    <li><a href="contactenos.html" class="smoothScroll"
            title="H&aacute;ganos saber sus opiniones y sugerencias"><i
                class="fa-solid fa-at"></i>&nbsp;Cont&aacute;ctenos</a></li>
</ul>
            </div>
        </div>
    </section>

        <!-- Inicio -->
    <section id="home">
        <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel owl-theme home-slider">
                                <div class="item" style="background-image: url(imagenes/slider1.jpg);">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Plaza Principal</h1>
                                <h3>Ubicada en la localidad de Piedra Blanca a 11 km de la capital provincial</h3>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="item" style="background-image: url(imagenes/slider2.jpg);">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Capilla de San José</h1>
                                <h3>Capilla de la epoca colonial que es mantenida intacta</h3>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="item" style="background-image: url(imagenes/slider3.jpg);">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-6 col-sm-12">
                                <h1>Dique de Las Pirquitas</h1>
                                <h3>Embalse construido en 1970 que abastece de agua a todo el Valle Central</h3>
                            </div>
                        </div>
                    </div>
                </div>
                            </div>
        </div>
        </div>
    </section>

    
    <section id="imagen">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12">
                    <div class="section-title">
                        <h2>Info Fray</h2>
                    </div>
                </div>
                <div class="text-center col-lg-12">
                    <iframe src="https://docs.google.com/gview?url=https://www.fraymunicipalidad.gob.ar/archivos/infofray.pdf?1&amp;embedded=true" style="height: 70vh;width:100%" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Tramites Frecuentes -->
    <section id="tramites">
        <div class="container">
            <div class="row">
                <div class="text-center section-title">
                    <h2>Trámites</h2>
                </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 animation wow animate__backInUp" data-aos="zoom-in" data-aos-delay="100" data-wow-delay="0.5s">
                                                    <a data-toggle="modal" href="#modal_tramites" data-titulo_modal="Contrataciones publicas">
                                                <div class="pt-3 text-center service-item">
                            <div class="p-3">
                                                                    <i class="fas fa-file-contract fa-3x text-celeste margin-t-30"></i>
                                                                <h5-custom class="margin-t-40">Contrataciones publicas</h5-custom>
                            </div>
                        </div>
                    </a>
                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 animation wow animate__backInUp" data-aos="zoom-in" data-aos-delay="100" data-wow-delay="0.5s">
                                                    <a data-toggle="modal" href="#modal_tramites" data-titulo_modal="Plan Urbano Territorial      de Fray Mamerto Esquiú" data-cuerpo_modal="&amp;lt;p&amp;gt;Ingresar aqu&amp;iacute;:&amp;amp;nbsp;&amp;lt;a href=%26quot%3bhttps_/drive.google.com/drive/folders/1V2Z0fkXANyh612sKf9s4HZ6vIV4Fmzugf507.html?usp=share_link&amp;quot; target=&amp;quot;_blank&amp;quot;&amp;gt;https://drive.google.com/drive/folders/1V2Z0fkXANyh612sKf9s4HZ6vIV4Fmzug?usp=share_link&amp;lt;/a&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;&amp;lt;br&amp;gt;&amp;lt;/p&amp;gt;">
                                                <div class="pt-3 text-center service-item">
                            <div class="p-3">
                                                                    <i class="fa-solid fa-city fa-3x text-celeste margin-t-30"></i>
                                                                <h5-custom class="margin-t-40">Plan Urbano Territorial      de Fray Mamerto Esquiú</h5-custom>
                            </div>
                        </div>
                    </a>
                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 animation wow animate__backInUp" data-aos="zoom-in" data-aos-delay="100" data-wow-delay="0.5s">
                                                    <a href="https://nodoide.catamarca.gob.ar/fme/visor/?zoom=18&amp;lat=-28.3931&amp;lng=-65.715&amp;layers=argenmap,Canales" target="_blank">
                                                <div class="pt-3 text-center service-item">
                            <div class="p-3">
                                                                    <i class="text-celeste" style="background: url('imagentramite/idera.jpg'); display:block; background-size: contain; background-repeat: no-repeat; background-position:center; height:100px; margin-top: 0 !important; margin-bottom: -25px;"></i>
                                                                <h5-custom class="margin-t-40">Infraestructura de Datos Espaciales  Adheridos a IDERA</h5-custom>
                            </div>
                        </div>
                    </a>
                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 animation wow animate__backInUp" data-aos="zoom-in" data-aos-delay="100" data-wow-delay="0.5s">
                                                    <a data-toggle="modal" href="#modal_tramites" data-titulo_modal="Concurso público - Secretario Administrativo Municipal de Faltas" data-cuerpo_modal="&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;b&amp;gt;&amp;lt;span style=&amp;quot;font-size:18.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; align=&amp;quot;center&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;b&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Llamado N&amp;deg; 02/2024 Concurso P&amp;uacute;blico
de Antecedentes y Oposici&amp;oacute;n, para cubrir el cargo de
un (1) Secretario Administrativo Municipal de Faltas, conforme DECFC-2024-117-MUNIFMESQ-INT.&amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;b&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;b&amp;gt;&amp;lt;u&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;REQUISITOS: &amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/u&amp;gt;&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;- &amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Los Aspirantes al Concurso podr&amp;aacute;n
ingresar a www. fraymunicipalidad.gob.ar para mayor informaci&amp;oacute;n y deber&amp;aacute;n: &amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;1) Cumplimentar&amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt; Art&amp;iacute;culo
4&amp;deg; del Anexo I (IF- 2023-00062750-MUNIFMESQ-SGEN).&amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify&amp;quot;&amp;gt;&amp;lt;a name=&amp;quot;_heading=h.gjdgxs&amp;quot;&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;2) Acreditar en tiempo y forma Anexo II
(IF-2023-00062751- MUNIFMESQ- SGEN), Mesa de Entradas y Salidas de la &amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Direcci&amp;oacute;n
de Despacho del Departamento Ejecutivo proporcionar&amp;aacute; Formulario de Inscripci&amp;oacute;n.&amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;3) Presentar Declaraci&amp;oacute;n
Jurada Anexo III (IF-2023-00062752- MUNIFMESQ- SGEN) Mesa de Entradas y Salidas
de la &amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;
mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Direcci&amp;oacute;n
de Despacho del Departamento Ejecutivo la proporcionar&amp;aacute; y Certificado de Antecedentes Penales. &amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;

&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;b&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;-Inscripciones: &amp;lt;/span&amp;gt;&amp;lt;/b&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;oficina &amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size: 14pt; line-height: 115%; font-family: &amp;amp;quot;Times New Roman&amp;amp;quot;, &amp;amp;quot;serif&amp;amp;quot;;&amp;quot;&amp;gt;Mesa
de Entradas y Salidas de la &amp;lt;/span&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Direcci&amp;oacute;n de Despacho del Departamento Ejecutivo ubicada en Paseo
Esquiu Local N&amp;deg;6 (Av. La Callecita esquina calle Nicolas Avellaneda, localidad
San Jos&amp;eacute; de Piedra Blanca, departamento Fray Mamerto Esquiu) de 08.00 a 12.30
horas, desde el 08 de mayo hasta 14 de
mayo de 2024 inclusive.&amp;amp;nbsp;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;lt;br&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;Descarga de requisitos, anexos, formularios y ordenanza de creaci&amp;oacute;n del Juzgado Municipal de Faltas:&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;lt;a href=%26quot%3bhttps_/linktr.ee/fraymodernizacion%26quot%3b%26gt%3bConcurso.html P&amp;uacute;blico | Linktree&amp;lt;/a&amp;gt;&amp;lt;br&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;lt;br&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;lt;br&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;p class=&amp;quot;MsoNormal&amp;quot; style=&amp;quot;margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;tab-stops:111.35pt&amp;quot;&amp;gt;&amp;lt;span style=&amp;quot;font-size:14.0pt;line-height:
115%;font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;,&amp;amp;quot;serif&amp;amp;quot;;mso-fareast-font-family:&amp;amp;quot;Times New Roman&amp;amp;quot;&amp;quot;&amp;gt;&amp;lt;o:p&amp;gt;&amp;lt;/o:p&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;">
                                                <div class="pt-3 text-center service-item">
                            <div class="p-3">
                                                                    <i class="fas fa-file-contract fa-3x text-celeste margin-t-30"></i>
                                                                <h5-custom class="margin-t-40">Concurso público - Secretario Administrativo Municipal de Faltas</h5-custom>
                            </div>
                        </div>
                    </a>
                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 animation wow animate__backInUp" data-aos="zoom-in" data-aos-delay="100" data-wow-delay="0.5s">
                                                    <a href="https://www.municipalidad.com/fray/home/menu" target="_blank">
                                                <div class="pt-3 text-center service-item">
                            <div class="p-3">
                                                                    <i class="fa-solid fa-cash-register fa-3x text-celeste margin-t-30"></i>
                                                                <h5-custom class="margin-t-40">Dirección de Rentas Municipal</h5-custom>
                            </div>
                        </div>
                    </a>
                    </div>
                            </div>
        </div>
    </section>

    <!--Imagenes-->
    <section id="imagen">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12">
                    <div class="section-title">
                        <h2>Mapa Turistico</h2>
                    </div>
                </div>
                <div class="text-center col-lg-12">
                    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        <figure itemprop="associatedMedia" itemscope
                            itemtype="http://schema.org/ImageObject">
                            <a href="imagenes/mapa.png"
                                itemprop="contentUrl" data-size="1600x909">
                                <img src="imagenes/mapa.png"
                                    itemprop="thumbnail" alt="Image description" />
                            </a>
                        </figure>
                    </div>
                    <!--***** PHOTOSWIPE *****-->
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="pswp__bg"></div>
                        <div class="pswp__scroll-wrap">
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>

                            <div class="pswp__ui pswp__ui--hidden">
                                <div class="pswp__top-bar">
                                    <div class="pswp__counter"></div>

                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                    <button class="pswp__button pswp__button--share" title="Share"></button>
                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip">
                                    </div>
                                </div>

                                <button class="pswp__button pswp__button--arrow--left"
                                    title="Previous (arrow left)"></button>
                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vencimientos -->
    <section id="vencimientos">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Fechas importantes</h2>
                    </div>
                    <div class="owl-carousel owl-theme owl-vencimientos">
                                            </div>
                </div>
            </div>
        </div>
    </section>

    <section id="servicios" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="row">
            <div class="section-title_2">
                <h2>Servicios</h2>
            </div>
            <div class="row d-flex">
                            </div>
            </div>
        </div>
    </section>

    <!--Videos e imagenes-->
    <section id="crecemos">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12">
                    <div class="section-title">
                        <h2>Crecemos</h2>
                    </div>
                </div>
                <div class="text-center col-lg-12">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/arN9l6Xq36M" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Novedades -->
    <section id="novedades">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title">
                        <h2>Novedades</h2>
                        <a class="btn" style="background: #252a40; color: #ffffff;" href="novedades.html">Ver todas</a>
                    </div>
                    <div class="owl-carousel owl-theme owl-novedades">
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-12-14%20at%2014.14.09.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 14-12-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/asumio-la-nueva-intendenta-de-fray.html">Asumió la nueva intendenta de Fray</a></h3>
                                            <p>En 40 años de Democracia el departamento tiene a la primera mujer intendenta de la historia.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fasumio-la-nueva-intendenta-de-fray', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Asumi%C3%B3+la+nueva+intendenta+de+Fray%3A+En+40+a%C3%B1os+de+Democracia+el+departamento+tiene+a+la+primera+mujer+intendenta+de+la+historia.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fasumio-la-nueva-intendenta-de-fray&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/asumio-la-nueva-intendenta-de-fray.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-09-27%20at%2008.46.59.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 29-09-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/nuevo-club-de-campo-municipal.html">Nuevo Club de Campo Municipal</a></h3>
                                            <p>El intendente Guillermo Ferreyra, junto a la secretaria de Desarrollo Social Alejandra Benavidez, empleados y empleadas Municipales inauguraron el Club de Campo Municipal cuyo predio se ubica en la localidad de La Carrera. Ofrecerá una multiplicidad de servicios. Estará abierto al público desde el viernes 13 de octubre.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fnuevo-club-de-campo-municipal', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Nuevo+Club+de+Campo+Municipal%3A+El+intendente+Guillermo+Ferreyra%2C+junto+a+la+secretaria+de+Desarrollo+Social+Alejandra+Benavidez%2C+empleados+y+empleadas+Municipales+inauguraron+el+Club+de+Campo+Municipal+cuyo+predio+se+ubica+en+la+localidad+de+La+Carrera.+Ofrecer%C3%A1+una+multiplicidad+de+servicios.+Estar%C3%A1+abierto+al+p%C3%BAblico+desde+el+viernes+13+de+octubre.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fnuevo-club-de-campo-municipal&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/nuevo-club-de-campo-municipal.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-09-26%20at%2017.54.48.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 29-09-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/portal-de-ingreso-a-fray.html">Portal de Ingreso a Fray</a></h3>
                                            <p>Cuenta con un moderno sistema de lector de patentes y garita de control, destinado a colaborar en la prevención y seguridad. La obra se complementa con la incorporación de 32 cámaras de seguridad.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fportal-de-ingreso-a-fray', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Portal+de+Ingreso+a+Fray%3A+Cuenta+con+un+moderno+sistema+de+lector+de+patentes+y+garita+de+control%2C+destinado+a+colaborar+en+la+prevenci%C3%B3n+y+seguridad.+La+obra+se+complementa+con+la+incorporaci%C3%B3n+de+32+c%C3%A1maras+de+seguridad.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fportal-de-ingreso-a-fray&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/portal-de-ingreso-a-fray.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-09-22%20at%2018.03.24.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 29-09-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/cancha-municipal-de-hockey.html">Cancha Municipal de Hockey</a></h3>
                                            <p>Se incorporó un moderno sistema de iluminación LED y vestuarios. Desde su inauguración ya se realizaron torneos regionales que impulsan la práctica de la disciplina en el departamento y en la Provincia.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fcancha-municipal-de-hockey', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Cancha+Municipal+de+Hockey%3A+Se+incorpor%C3%B3+un+moderno+sistema+de+iluminaci%C3%B3n+LED+y+vestuarios.+Desde+su+inauguraci%C3%B3n+ya+se+realizaron+torneos+regionales+que+impulsan+la+pr%C3%A1ctica+de+la+disciplina+en+el+departamento+y+en+la+Provincia.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fcancha-municipal-de-hockey&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/cancha-municipal-de-hockey.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-09-04%20at%2016.11.10.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 04-09-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/fiesta-de-las-infancias.html">Fiesta de las Infancias</a></h3>
                                            <p>Se llevó a cabo en el predio municipal Evita y contó con una gran variedad de juegos recreativos para chicos y grandes. Todas las áreas del municipio trabajaron para que la fiesta sea un éxito.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Ffiesta-de-las-infancias', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Fiesta+de+las+Infancias%3A+Se+llev%C3%B3+a+cabo+en+el+predio+municipal+Evita+y+cont%C3%B3+con+una+gran+variedad+de+juegos+recreativos+para+chicos+y+grandes.+Todas+las+%C3%A1reas+del+municipio+trabajaron+para+que+la+fiesta+sea+un+%C3%A9xito.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Ffiesta-de-las-infancias&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/fiesta-de-las-infancias.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-07-15%20at%2016.48.04.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 15-07-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/inauguramos-la-1-cancha-municipal-de-hockey.html">Inauguramos la 1° Cancha Municipal de Hockey</a></h3>
                                            <p>El acto  de inauguración contó con la presencia del Gobernador de la Provincia quien acompañó al intendente Guillermo Ferreyra en la apertura formal de este imponente campo de juego que se ubica en la localidad de La Carrera.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Finauguramos-la-1-cancha-municipal-de-hockey', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Inauguramos+la+1%C2%B0+Cancha+Municipal+de+Hockey%3A+El+acto++de+inauguraci%C3%B3n+cont%C3%B3+con+la+presencia+del+Gobernador+de+la+Provincia+quien+acompa%C3%B1%C3%B3+al+intendente+Guillermo+Ferreyra+en+la+apertura+formal+de+este+imponente+campo+de+juego+que+se+ubica+en+la+localidad+de+La+Carrera.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Finauguramos-la-1-cancha-municipal-de-hockey&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/inauguramos-la-1-cancha-municipal-de-hockey.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-07-14%20at%2015.19.46.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 15-07-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/aumento-salarial-y-bono.html">Aumento salarial y bono</a></h3>
                                            <p>Los empleados municipales recibirán un incremento salarial del 40% a partir del segundo semestre del año que será otorgado en 4 cuotas y con la primera de ellas se alcanzará un sueldo bruto de  $120.000. El acuerdo incluye un bono extraordinario de $60.000.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Faumento-salarial-y-bono', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Aumento+salarial+y+bono%3A+Los+empleados+municipales+recibir%C3%A1n+un+incremento+salarial+del+40%25+a+partir+del+segundo+semestre+del+a%C3%B1o+que+ser%C3%A1+otorgado+en+4+cuotas+y+con+la+primera+de+ellas+se+alcanzar%C3%A1+un+sueldo+bruto+de++%24120.000.+El+acuerdo+incluye+un+bono+extraordinario+de+%2460.000.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Faumento-salarial-y-bono&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/aumento-salarial-y-bono.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-06-22%20at%2018.48.30%20(2).jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 12-07-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/costureras-de-fray.html">Costureras de Fray</a></h3>
                                            <p>320 costureros y costureras recibieron la entrega de más de 11 mil metros de tela como parte del programa "Costureras de Fray" que lleva adelante la Municipalidad de Fray Mamerto Esquiú.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fcostureras-de-fray', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Costureras+de+Fray%3A+320+costureros+y+costureras+recibieron+la+entrega+de+m%C3%A1s+de+11+mil+metros+de+tela+como+parte+del+programa+%22Costureras+de+Fray%22+que+lleva+adelante+la+Municipalidad+de+Fray+Mamerto+Esqui%C3%BA.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fcostureras-de-fray&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/costureras-de-fray.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-07-07%20at%2008.12.37.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 11-07-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/nueva-iluminacion-led.html">Nueva iluminación LED</a></h3>
                                            <p>El barrio El Remanso de San Antonio ya cuenta con un moderno sistema de iluminación. La obra fue realizada íntegramente por personal municipal de la Subsecretaría de Infraestructura Eléctrica e incluyó la instalación del servicio de alumbrado público desde cero.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fnueva-iluminacion-led', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Nueva+iluminaci%C3%B3n+LED%3A+El+barrio+El+Remanso+de+San+Antonio+ya+cuenta+con+un+moderno+sistema+de+iluminaci%C3%B3n.+La+obra+fue+realizada+%C3%ADntegramente+por+personal+municipal+de+la+Subsecretar%C3%ADa+de+Infraestructura+El%C3%A9ctrica+e+incluy%C3%B3+la+instalaci%C3%B3n+del+servicio+de+alumbrado+p%C3%BAblico+desde+cero.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fnueva-iluminacion-led&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/nueva-iluminacion-led.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-07-03%20at%2012.18.00.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 11-07-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/mujeres-de-fray.html">Mujeres de Fray</a></h3>
                                            <p>El evento contó con la presencia del  Gobernador Raúl Jalil, quien acompañó al intendente Guillermo Ferreyra y a la Secretaria de Desarrollo Social en un nuevo encuentro multitudinario.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fmujeres-de-fray', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Mujeres+de+Fray%3A+El+evento+cont%C3%B3+con+la+presencia+del++Gobernador+Ra%C3%BAl+Jalil%2C+quien+acompa%C3%B1%C3%B3+al+intendente+Guillermo+Ferreyra+y+a+la+Secretaria+de+Desarrollo+Social+en+un+nuevo+encuentro+multitudinario.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fmujeres-de-fray&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/mujeres-de-fray.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/WhatsApp%20Image%202023-05-18%20at%2017.34.03.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 19-05-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/fray-motiva.html">Fray Motiva</a></h3>
                                            <p>Están destinadas a estudiantes de nivel Terciario y Universitario con residencia en el departamento Fray Mamerto Esquiú. Serán de $15.000 y tienen por objetivo acompañarlos en los gastos que demandan sus estudios.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Ffray-motiva', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Fray+Motiva%3A+Est%C3%A1n+destinadas+a+estudiantes+de+nivel+Terciario+y+Universitario+con+residencia+en+el+departamento+Fray+Mamerto+Esqui%C3%BA.+Ser%C3%A1n+de+%2415.000+y+tienen+por+objetivo+acompa%C3%B1arlos+en+los+gastos+que+demandan+sus+estudios.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Ffray-motiva&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/fray-motiva.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/101/TABLET.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 27-04-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/conectando-con-vos.html">CONECTANDO CON VOS</a></h3>
                                            <p>Un total de 627 tablets fueron entregadas a adultos mayores del departamento Fray Mamerto Esquiú como parte del programa de inclusión digital “Conectando con vos” que lleva adelante el Gobierno Nacional a través del Nacional de Comunicaciones (ENACOM), mediante el Ministerio de Inclusión Digital  y Sistemas Productivos de la Provincia.</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fconectando-con-vos', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=CONECTANDO+CON+VOS%3A+Un+total+de+627+tablets+fueron+entregadas+a+adultos+mayores+del+departamento+Fray+Mamerto+Esqui%C3%BA+como+parte+del+programa+de+inclusi%C3%B3n+digital+%E2%80%9CConectando+con+vos%E2%80%9D+que+lleva+adelante+el+Gobierno+Nacional+a+trav%C3%A9s+del+Nacional+de+Comunicaciones+%28ENACOM%29%2C+mediante+el+Ministerio+de+Inclusi%C3%B3n+Digital++y+Sistemas+Productivos+de+la+Provincia.&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Fconectando-con-vos&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/conectando-con-vos.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-md-4 col-sm-4">
                                <div class="item">
                                    <div class="novedades-thumb">
                                        <div class="novedades-top">
                                            <div class="novedades-image">
                                                <img src="../fraymunicipalidad.gob.ar/storage/files/98/portada%20colonias%20web%202023.jpg" style="height:250px; object-fit: cover;" class="img-responsive" alt="saddsa">
                                            </div>
                                            <div class="novedades-date">
                                                <span><i class="fa fa-calendar"></i> 17-01-2023</span>
                                            </div>
                                        </div>
                                        <div class="novedades-detail">
                                            <h3><a href="noticias/inicio-la-colonia-de-verano-en-fray.html">Inició la Colonia de Verano en Fray</a></h3>
                                            <p>Está dirigida a niños y niñas de 6 a 11 años de edad</p>
                                        </div>
                                        <div class="novedades-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                                                                        <ul class="social-icon" style="margin-left: 5px;">
                                                        <li>
                                                            <a class="fa fa-facebook-square" onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;u=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Finicio-la-colonia-de-verano-en-fray', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)"></a>
                                                        </li>
                                                        <li>
                                                            <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text=Inici%C3%B3+la+Colonia+de+Verano+en+Fray%3A+Est%C3%A1+dirigida+a+ni%C3%B1os+y+ni%C3%B1as+de+6+a+11+a%C3%B1os+de+edad&amp;url=https%3A%2F%2Fwww.fraymunicipalidad.gob.ar%2Fnoticias%2Finicio-la-colonia-de-verano-en-fray&amp;via=fray_muni" target="_blank"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="novedades-leer"  style="margin-right: 10px;">
                                                        <a href="noticias/inicio-la-colonia-de-verano-en-fray.html"><span>Leer m&aacute;s</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </section>

    <!-- contacto -->
    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                                                                                                                                                                                                                        
                    <form name="enviar" id="contacto-form" method="post" action="https://www.fraymunicipalidad.gob.ar/contacto/enviar">
                        <input type="hidden" name="_token" value="HnUu9iaeVDCTODuyAWK6YbfmE7gphm8pNEv3VmOQ">                        <div class="section-title">
                            <h2>Cont&aacute;ctenos <small>nos encantar&iacute;a saber de vos!</small></h2>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="control-group">
                                <input type="text" required class="form-control" name="remitente" placeholder="Su nombre" value="">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" required class="form-control" name="email" placeholder="Su email" value="">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <select required class="form-control" id="destinatario" name="destinatario">
                                    <option value="0">Seleccione un destinatario</option>
                                                                        <option value="9" >Dirección de Rentas</option>
                                                                        <option value="7" >Fiscalia Municipal</option>
                                                                        <option value="2" >Secretaría de Acción Social</option>
                                                                        <option value="3" >Secretaría de Coordinación y Modernización</option>
                                                                        <option value="4" >Secretaría de Educación</option>
                                                                        <option value="1" >Secretaría de Hacienda</option>
                                                                        <option value="5" >Secretaría de Obras y Servicios Públicos</option>
                                                                        <option value="6" >Secretaría de Producción y Ambiente</option>
                                                                        <option value="8" >Secretaría de Turismo</option>
                                                                    </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" name="mensaje" placeholder="Mensaje" value=""></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="enviar" value="Enviar mensaje">
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="contacto-image wow slideInRight" style="margin-top: 10px;">
                        <img src="imagenes/contacto.jpg" class="img-responsive" alt="Contacto">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal_tramites" tabindex="-1" role="dialog" aria-labelledby="modal_tramitesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title" id="modal_tramitesLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding:15px">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    
    <!-- FOOTER -->
    <footer id="footer" style="background-image: url('imagenes/footer.jpg'); background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%">
        <div class="container-fluid wow fadeInUp ">
            <div class="row footer-container">
                <div class="col-md-2 col-md-offset-2">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Municipalidad de FME</h2>
                        </div>
                        <address>
                            <p>Avenida Vicente Saadi S/N<br>
                                San José de Piedra Blanca, <br>Fray Mamerto Esquiú, Catamarca</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Info de contacto</h2>
                        </div>
                        <address>
                            <p>
                                <a href="cdn-cgi/l/email-protection.html#9bf8f4f5effaf8eff4dbfde9fae2f6eef5f2f8f2ebfaf7f2fffaffb5fcf4f9b5fae9"><span class="__cf_email__" data-cfemail="8be8e4e5ffeae8ffe4cbedf9eaf2e6fee5e2e8e2fbeae7e2efeaefa5ece4e9a5eaf9">[email&#160;protected]</span></a>
                            </p>
                        </address>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2>Links de interés</h2>
                        </div>
                        <address>
                            <p><a href="https://portal.catamarca.gob.ar/">Gobierno de la Provincia</a></p>
                        </address>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-info">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>Teléfonos Útiles</h2>
                            </div>
                            <address>
                                <p><span class="material-icons">local_police</span> Policía: 101 / 911</p>
                                <p><span class="material-icons">villa</span> Comisaría de Piedra Blanca: 4492871</p>
                                <p><span class="material-icons">villa</span> Comisaría de San Antonio: 4492111</p>
                                <p><span class="material-icons">flourescent</span> Guardia Urbana: 3834736965 / 3834384400</p>
                                <p><span class="material-icons">local_fire_department</span> Bomberos: 100</p>
                                <p><span class="material-icons">local_fire_department</span> Bomberos voluntarios FME: 3834360557</p>
                                <p><span class="material-icons">local_hospital</span> Hospital de San José: 4492530</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="">
        <a href="https://api.whatsapp.com/send?phone=5493834804322" target="_blank" class="btn-whatsapp">
            <img src="imagenes/chatbot_quiu.png" alt="" width="100%">
        </a>
    </div>


<script>
    
    var initPhotoSwipeFromDOM = function(gallerySelector) {

// parse slide data (url, title, size ...) from DOM elements
// (children of gallerySelector)
var parseThumbnailElements = function(el) {
    var thumbElements = el.childNodes,
        numNodes = thumbElements.length,
        items = [],
        figureEl,
        linkEl,
        size,
        item;

    for(var i = 0; i < numNodes; i++) {

        figureEl = thumbElements[i]; // <figure> element

        // include only element nodes
        if(figureEl.nodeType !== 1) {
            continue;
        }

        linkEl = figureEl.children[0]; // <a> element

        size = linkEl.getAttribute('data-size').split('x');

        // create slide object
        item = {
            src: linkEl.getAttribute('href'),
            w: parseInt(size[0], 10),
            h: parseInt(size[1], 10)
        };



        if(figureEl.children.length > 1) {
            // <figcaption> content
            item.title = figureEl.children[1].innerHTML;
        }

        if(linkEl.children.length > 0) {
            // <img> thumbnail element, retrieving thumbnail url
            item.msrc = linkEl.children[0].getAttribute('src');
        }

        item.el = figureEl; // save link to element for getThumbBoundsFn
        items.push(item);
    }

    return items;
};

//Cuando se abre un modal
$('#modal_tramites').on('show.bs.modal', function (e) {
    let boton = $(e.relatedTarget);
    $('#modal_tramites').find('#modal_tramitesLabel').html(boton.data('titulo_modal'));

    let txt = document.createElement("textarea");
    txt.innerHTML = boton.data('cuerpo_modal');
    $('#modal_tramites').find('.modal-body').html(txt.value);
})

// find nearest parent element
var closest = function closest(el, fn) {
    return el && ( fn(el) ? el : closest(el.parentNode, fn) );
};

// triggers when user clicks on thumbnail
var onThumbnailsClick = function(e) {
    e = e || window.event;
    e.preventDefault ? e.preventDefault() : e.returnValue = false;

    var eTarget = e.target || e.srcElement;

    // find root element of slide
    var clickedListItem = closest(eTarget, function(el) {
        return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
    });

    if(!clickedListItem) {
        return;
    }

    // find index of clicked item by looping through all child nodes
    // alternatively, you may define index via data- attribute
    var clickedGallery = clickedListItem.parentNode,
        childNodes = clickedListItem.parentNode.childNodes,
        numChildNodes = childNodes.length,
        nodeIndex = 0,
        index;

    for (var i = 0; i < numChildNodes; i++) {
        if(childNodes[i].nodeType !== 1) {
            continue;
        }

        if(childNodes[i] === clickedListItem) {
            index = nodeIndex;
            break;
        }
        nodeIndex++;
    }



    if(index >= 0) {
        // open PhotoSwipe if valid index found
        openPhotoSwipe( index, clickedGallery );
    }
    return false;
};

// parse picture index and gallery index from URL (#&pid=1&gid=2)
var photoswipeParseHash = function() {
    var hash = window.location.hash.substring(1),
    params = {};

    if(hash.length < 5) {
        return params;
    }

    var vars = hash.split('&');
    for (var i = 0; i < vars.length; i++) {
        if(!vars[i]) {
            continue;
        }
        var pair = vars[i].split('=');
        if(pair.length < 2) {
            continue;
        }
        params[pair[0]] = pair[1];
    }

    if(params.gid) {
        params.gid = parseInt(params.gid, 10);
    }

    return params;
};

var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
    var pswpElement = document.querySelectorAll('.pswp')[0],
        gallery,
        options,
        items;

    items = parseThumbnailElements(galleryElement);

    // define options (if needed)
    options = {

        // define gallery index (for URL)
        galleryUID: galleryElement.getAttribute('data-pswp-uid'),

        getThumbBoundsFn: function(index) {
            // See Options -> getThumbBoundsFn section of documentation for more info
            var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                rect = thumbnail.getBoundingClientRect();

            return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
        }

    };

    // PhotoSwipe opened from URL
    if(fromURL) {
        if(options.galleryPIDs) {
            // parse real index when custom PIDs are used
            // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
            for(var j = 0; j < items.length; j++) {
                if(items[j].pid == index) {
                    options.index = j;
                    break;
                }
            }
        } else {
            // in URL indexes start from 1
            options.index = parseInt(index, 10) - 1;
        }
    } else {
        options.index = parseInt(index, 10);
    }

    // exit if index not found
    if( isNaN(options.index) ) {
        return;
    }

    if(disableAnimation) {
        options.showAnimationDuration = 0;
    }

    // Pass data to PhotoSwipe and initialize it
    gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
};

// loop through all gallery elements and bind events
var galleryElements = document.querySelectorAll( gallerySelector );

for(var i = 0, l = galleryElements.length; i < l; i++) {
    galleryElements[i].setAttribute('data-pswp-uid', i+1);
    galleryElements[i].onclick = onThumbnailsClick;
}

// Parse URL and open gallery if it contains #&pid=3&gid=1
var hashData = photoswipeParseHash();
if(hashData.pid && hashData.gid) {
    openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
}
};

// execute above function
initPhotoSwipeFromDOM('.my-gallery');
</script>
</body>
</html>


