{% extends 'base.html.twig' %}

{% block body %}
    <h1>Safs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuil</th>
                <th>Numerosaf</th>
                <th>Saf</th>
                <th>Domicilio</th>
                <th>Email</th>
                <th>Telefonomovil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saf in safs %}
            <tr>
                <td><a href="{{ path('saf_show', { 'id': saf.id }) }}">{{ saf.id }}</a></td>
                <td>{{ saf.cuil }}</td>
                <td>{{ saf.numeroSaf }}</td>
                <td>{{ saf.saf }}</td>
                <td>{{ saf.domicilio }}</td>
                <td>{{ saf.email }}</td>
                <td>{{ saf.telefonoMovil }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('saf_show', { 'id': saf.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('saf_edit', { 'id': saf.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saf_new') }}">Create a new saf</a>
        </li>
    </ul>
{% endblock %}
