{# En expediente.estado devuelve el estado con etiquetas label #}
{% if app.user.departamentoRm.slug == "sca" %}
  {% set clase, etiqueta = "","-" %}
  {% if expediente.estado is null %}
      {% set clase, etiqueta = "label label-primary","Ninguno" %}
  {% elseif expediente.estado == 0 %}
     {% set clase, etiqueta = "label label-default","Archivado" %}
  {% elseif expediente.estado == true %}
      {% set clase, etiqueta = "label label-success","Concluido" %}
  {% endif %}          
  <div role="presentation" class="dropdown" >
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="{{clase}}">{{etiqueta}}<span class="caret"></span></span>
      </a>
          <ul class="dropdown-menu">
                <li><a href="{{ path('expediente_estado_cambiar', { 'id': expediente.id, 'estado_id': 2 }) }}"><span class="" style="font-size:8px; padding:2px;" >-</span> Ninguno</a></li>
                <li><a href="{{ path('expediente_estado_cambiar', { 'id': expediente.id, 'estado_id': 0 }) }}"><span class="label label-default" style="font-size:8px; padding:2px;" >-</span> Archivar </a></li>
                <li><a href="{{ path('expediente_estado_cambiar', { 'id': expediente.id, 'estado_id': 1 }) }}"><span class="label label-success" style="font-size:8px; padding:2px;" >-</span> Concluir </a></li>
          </ul>

  </div>
{% else %}
           {% if (expediente | movimiento_pendiente(app.user) ) %}
              <span  class="label label-warning">Ingreso</span>
          {% else %}
              Estado: <a data-toggle="tooltip" data-placement="bottom" title='Cambia el Estado' href="{{ path('movimiento_cambiar_estado', { 'id': expediente.id }) }}">{% if ( expediente | movimiento_estado(app.user))  %}<span  class="label label-primary">Activo</span>{% else %}<span  class="label label-success">Completo</span>{% endif %}</a>
          {% endif %} 
{% endif %}


