{# Siarme\ExpedienteBundle\Resources\views\Expediente\_lista.html.twig #}
             {% set year = 'now' | date('Y')%}
             
            <tr {% if (expediente | movimiento_pendiente(app.user) )  %} style="background-color:#FFFFE0;" data-toggle="tooltip" data-placement="top" title='No tiene TAREAS asignadas el Expediente'{% endif %} >
                <td>
                    <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
                    {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': expediente, 'tipo': constant('TIPO_ENTIDAD', expediente) } %}
                    {# -------------PARA HABILITAR ----------------------
                         {% include 'ExpedienteBundle:Expediente:_menu_info_expediente.html.twig' with {'entidad': expediente, 'tipo':constant('TIPO_ENTIDAD', expediente) } %}
                    #}

                    </div>
                </td>  
                <td class="hidden">{{ expediente.id}}</td>  
                <td>{{ expediente.numeroInterno}}</td>  
                {% if app.user.departamentoRm.slug == "dppr" %}
                    {# | default('INT-'~ year ~'-'~ expediente.numeroInterno) #}
                    <td>{{ expediente.numeroGde | default("-") }}</td>
                    <td><span  class="glyphicon glyphicon-folder-open text-muted"></span> <a href="{{ path('expediente_show', { 'id': expediente.id }) }}" target="_blank">{{ expediente.ccoo | default('NO-'~ year ~ '-n/d')}}</a></td>
                {% else %} 
                    <td><a href="{{ path('expediente_show', { 'id': expediente.id }) }}" target="_blank">{{ expediente.numeroGde | default('INT-'~ year ~'-'~ expediente.numeroInterno)}}</a></td>
                     <td>{{ expediente.ccoo | default('NO-'~ year ~ '-n/d')}}</td>
                {% endif %}
                <td>{{ expediente.extracto | raw | nl2br }}</td>
                  <td width="20%"> 
                  {% for tramite in expediente.tramite if tramite.tipoTramite.slug == "tramite_pedido" %}
                       <small><span class="{{tramite.estadoTramite.class}}"  data-toggle="tooltip" data-placement="bottom" title='{{tramite.estadoTramite}}' >-</span></small> 
                     <a  href="{{ path('tramite_show', { 'id': tramite.id }) }}" target="_blank">{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}}</a><br />
                {% endfor %}
               </td>     
               <td>
                    {% set movimiento = expediente | movimiento_estado(app.user) %}
                     {% if (expediente | movimiento_pendiente(app.user)) or expediente.tramite | length == 0  %}
                        <span  class="label label-warning">Ingreso</span>
                    {% else %}
                        {% if ( movimiento )  %} <span  class="label label-primary">Activo</span>{% else %} <span  class="label label-success">Completo</span> {% endif %}
                    {% endif %}
                </td> 
                <td>
                    {# <a  data-toggle="tooltip" data-placement="top" title='Modificar el Expediente {{ expediente.numeroGde }}' role="button" href="{{ path('expediente_edit' , { 'id': expediente.id }) }}"> <span class="glyphicon glyphicon-pencil"> </span></a>&nbsp;   #} 
                    {% if (expediente.tramite | length <= 1)  %}
                           <a  role="button" data-toggle="tooltip" data-placement="top" title='Eliminar el Expediente' onclick= "return confirm('¿Desea eliminar el Registro  del Expediente?');" href="{{ path('expediente_eliminar', { 'id': expediente.id }) }}"> <span class="glyphicon glyphicon-trash  text-danger" > </span> Eliminar</a> <br />
                    {% endif %}
                    {# 
                      <span role="presentation" class="dropdown"   data-toggle="tooltip" data-placement="top" title='Comparte y Notifica a un usuario'>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
                         <ul class="dropdown-menu dropdown-menu-right">
                           <li class="dropdown-header" style="width:40em">
                    #}
                            {# El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje #}
                    {#
                      {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': expediente.id, 'tipo': constant('TIPO_ENTIDAD', expediente)})) }}
                           </li>
                         </ul>
                      </span> 
                    #}
                    {#  
                      {%for movimiento in expediente.movimiento  %} 
                           {% if loop.last and movimiento.departamentoRm == app.user.departamentoRm %}  
                              <a data-toggle="tooltip" data-placement="top" title='Habilita el Expediente para agregar pedidos' role="button" href="{{ path('movimiento_habilitar_expediente', { 'expediente_id': expediente.id }) }}"><span class="glyphicon glyphicon-folder-open" onclick= "return confirm('¿Desea iniciar una Solicitud?');" ></span>+</a>&nbsp;
                           {% endif %}
                        {% endfor %} 
                    #}
                </td>
            </tr>
