{# Siarme\ExpedienteBundle\Resources\views\Expediente\edit.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} Expediente {% endblock %}

{% block contenido %}

 <div class="container"> 
         <div class="nav nav-tabs nav-justified" style="padding-top:5px;">
          
          <li role="presentation"><a href="{{ path('mis_tramites_index') }}">PRINCIPAL</a></li>
          <li role="presentation"><a href="{{ path('tramite_reparticion_index') }}">{{app.user.departamentoRm}}</a></li>
          <li role="presentation" class="active"><a href="{{ path('mis_expedientes_index') }}">EXPEDIENTES</a></li>
          <li role="presentation"><a href="{{ path('recordatorios_index') }}">RECORDATORIOS</a></li>
        </div>  
       {% block mensaje %}
       {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
      {% endblock %}
      <div class="row" style="padding-top:5px;">
         {{ include('ExpedienteBundle:Expediente:_lista.html.twig') }}
      </div>
</div>
{% endblock %}
