{# Siarme\ExpedienteBundle\Resources\views\Tramite\mis_expedientes_index.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}MIS TAREAS{% endblock %}
{% block header %}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block contenido %}
        {{ app.session.set('modulo', 'MIS TAREAS') }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-wrench') }}
        {{ app.session.set('route', 'mis_expedientes_index') }}
      <div class="nav nav-tabs nav-justified" style="padding-top:5px;">
        <li role="presentation"><a class="glyphicon glyphicon-tasks" href="{{ path('mis_tramites_index') }}"> TAREAS {% if movimientoPendiente is defined and movimientoPendiente is not empty  %} <span class="glyphicon-folder-open text-warning"><small>+</small></span>{% endif %}</a></li>
        <li role="presentation" class="active"><a class="glyphicon glyphicon-folder-open" href="{{ path('mis_expedientes_index') }}"> EXPEDIENTES</a></li>
      </div> 
        <table id="tablaExpediente" class="table table-hover">
        <thead>
            <tr>
                <th>Informacion</th>
                <th>N°</th>
                <th>Objeto</th>
                <th>Reparticion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                {% for expediente in expedientes %}
                     {{ include('ExpedienteBundle:Expediente:_tbody_completo.html.twig') }}
                {% endfor %}
        </tbody>
      </table>
{% endblock %}
{% block javascripts %}  
{{ parent() }}
<!-- DataTables -->
<script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>

<script> 

  $("#link-1").addClass('active');

  $(function () { // "order": [[ 1, "desc" ]]
    $("#tablaExpediente").DataTable({"searching": true,"lengthChange": false, "order": [[ 1, "desc" ]], "pageLength": 20,
            "language": {
                "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
            },
        });
  });

</script> <!-- DataTables  -->
{% endblock %}