{# Siarme\ExpedienteBundle\Resources\views\Expediente\new.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}{{ expediente }}{% endblock %}

{% block menu_li%}

{% endblock %}
{% block main %}
    <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">
            &nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"></span> NUEVO {{ expediente.tipoExpediente }}
    </div>
    <div class="panel panel-body">
    <hr style="margin-top:0px;">
    {{ form_start(form) }}
        {{ form_widget(form) }}
             <div class="text-right">
                 <input class="btn btn-danger" type="submit" value="GUARDAR" />
             </div>
    {{ form_end(form) }}
    </div>
</div>
{% if expediente.tipoExpediente.slug == "exp_acuerdo" %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/iYPgDEMNdoo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}
{% endblock %}



