
    {% set estadosConTramites, estados, tramitesPorEstado, estadoAnterior, tramiteAnterior, estadoSiguiente, nuevos, todos = {}, {}, [], 0, true, true, {}, {} %}
    {# for tramite1 in tramites | sort((a, b) => a.estadoTramite <=> b.estadoTramite) if tramite1.tipoTramite.slug not in ["tramite_oferta", "tramite_solicitud"] #}
    {% for tramite1 in tramites | sort((a, b) => a.estadoTramite <=> b.estadoTramite) if (tramite1.tipoTramite.slug not in ["tramite_oferta", "tramite_solicitud"]) and (tramite1.estadoTramite.slug  not in ["rectificacion", "ingresado"]) %}
        {% set todos = todos | merge([tramite1]) %}
        {% if tramite1.expediente.id is not defined and tramite1.estadoTramite.slug != "devuelto"  %}
            {% set nuevos = nuevos | merge([tramite1]) %}
        {% endif %}

       {% if loop.first %}
          {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
       {% else %}
            {% if estadoAnterior == tramite1.estadoTramite %} 
                  {% set tramitesPorEstado = tramitesPorEstado | merge([tramite1]) %}
            {% else %}

                {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}

                {% set tramitesPorEstado = [] %}
                {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
            {% endif %}
       {% endif %}
    {% endfor %}
    {% if   todos is not empty %}
                    {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}
{% endif %}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs" role="tablist">
    {#<li role="presentation" class="active"><a href='#reporte{{organismo.id}}' aria-controls='reporte{{organismo.id}}' role="tab" data-toggle="tab" class="glyphicon glyphicon-stats label label-info"> Reporte </a></li>#}
    <li role="presentation" class="active"><a href='#todos{{organismo.id}}' aria-controls='todos{{organismo.id}}' role="tab" data-toggle="tab" class="label label-info"><span class="glyphicon glyphicon-tasks"></span> Todos los Pedidos ({{todos| length}})</a></li>
    {% for  estado in estados %} 
            {% set classNav = ""  %} 
            <li role="presentation" class="{{classNav}}"><a class= "{{estado.estadoAnterior.class}}" href='#{{loop.index}}-{{organismo.id}}' aria-controls='{{loop.index}}-{{organismo.id}}' role="tab" data-toggle="tab">{{estado.estadoAnterior.estadoTramite}}  {% if estado.estadoAnterior.slug == "devuelto"  %} - NO CONCENTRA {% endif %} {% if estado.estadoAnterior.slug == "autorizado"  %} - PASE A DPCBS {% endif %} ({{estado.tramitesPorEstado| length}})</a></li>
    {% endfor %}
  </ul>

<div class="tab-content">
   {#<div role="tabpanel" class="tab-pane fade in active" id='reporte{{organismo.id}}'> 
        <div class="container"> {{ render(controller('ExpedienteBundle:Externo:reporteMinisterio', { 'organismo': organismo, 'anio': anio })) }}</div>
    </div>#}
    <div role="tabpanel" class="tab-pane fade in active" id='todos{{organismo.id}}'>
              {% set notaRectifica = false %}
              {% for tramite in todos | sort %}
                          {% if loop.first %}
                             <table class="table table-responsive table-hover tablaTramite{{organismo.id}}">
                                 <thead>
                                   {{ include('ExpedienteBundle:ExternoSaf:_thead_completo.html.twig') }}         
                                </thead>
                              <tbody>
                           {% endif %}
                                  {{ include('ExpedienteBundle:ExternoSaf:_tbody_completo.html.twig') }} 
             {% endfor %}
                            </tbody>
                        </table>
     </div> 
    {% set notaRectifica = true %}
    {% for id, tramites in estadosConTramites %}
           <div role="tabpanel" class="tab-pane fade" id='{{loop.index}}-{{organismo.id}}'>
              {% for tramite in tramites | sort %}
                          {% if loop.first %}
                             <table class="table table-responsive table-hover tablaTramite{{organismo.id}}">
                                 <thead>
                                   {{ include('ExpedienteBundle:ExternoSaf:_thead_completo.html.twig') }}         
                                </thead>
                              <tbody>
                           {% endif %}
                                  {{ include('ExpedienteBundle:ExternoSaf:_tbody_completo.html.twig') }} 
                {% endfor %}
                            </tbody>
                        </table>
         </div>
    {% endfor %}   
</div>
