{# Siarme\ExpedienteBundle\Resources\views\Externo\index.html.twig #}

{% extends 'frontend.html.twig' %}
{% block title %} PEDIDOS{% endblock %}
{% block stylesheets %}   
     <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_cerulean.min.css') }}" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ asset('bundles/expediente/plugins/font-awesome/css/font-awesome.min.css') }}">  
    <link href="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>     
{% endblock %}
{% block body %}
<header>
  <nav class="navbar navbar-inverse hidden-print"  role = "navigation">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand"><span  class="glyphicon glyphicon-shopping-cart"></span> {{app.user.departamentoRm.organismo}}</a>
    </div>
      <ul class="nav navbar-nav">       
        <li class="active"><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> INICIO</a></li>   
        <li><a href="{{ path('externo_items_adjudicados') }}"  target="_blank"> <span class="glyphicon glyphicon-tasks" ></span> ÍTEMS ADJUDICADOS</a></li> 
      </ul> 
      <ul class="nav navbar-nav navbar-right">     
          <li data-toggle="tooltip" data-placement="bottom" title='Ver Perfil' >
            
      <a href="{{ path('usuario_show', { 'id': app.user.id }) }}"><span class="glyphicon glyphicon-user text-info"> </span> {{ app.user.usuario }}</a>
            </li>      
        <li>
             <a href="{{ path('usuario_logout') }}" >
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  Salir
              </a>           
        </li>        
      </ul> 
    </div><!-- /.container-fluid -->    
</nav>
</header>
<ul class="nav nav-pills hidden-print">
  <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>
            </li>
    </div> 
</ul>
 <div class="row" id="copy" style="padding: 5px;">
      <ol class="breadcrumb"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
                {% if year >= 2022 %}
                    <li><a href="{{ path('externo_ministerio_index', { 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
                {% endif %}
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
      </ol>
        {% set organismos = app.user.departamentoRm.organismo.ministerio.saf %}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        {% for saf in organismos if saf.ministerio == app.user.departamentoRm.organismo.ministerio %}
             {% set active = false %}
            {% if loop.first %} {% set active = true %}{% endif %}
              <!-- Nav tabs -->
                {% set organismo = "" %}
                {% for organismo in saf.organismo  %} 
                    <li role="presentation" {% if active %}class="active"{% endif %} ><a href='#{{organismo.id}}' aria-controls='{{organismo.id}}' role="tab" data-toggle="tab">SAF N° {{organismo.saf }} - {{organismo.codigoGde }}</a></li>
                {% endfor %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for saf in organismos if saf.ministerio == app.user.departamentoRm.organismo.ministerio %}
             {% set active = false %}
            {% if loop.first %} {% set active = true %}{% endif %}
                {% for organismo in saf.organismo  %} 
                    <div role="tabpanel" class="tab-pane fade  {% if active %} in active {% endif %}" id='{{organismo.id}}'>
                       <div class="text-center"> <h4>{{organismo.organismo }}</h4></div> 
                              {% set tramites = organismo | tramite_por_organismo_slug("tramite_pedido" , anio ) %}
                               {{ include('ExpedienteBundle:ExternoMinisterio:_lista.html.twig') }} 
                    </div> 
                {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block javascripts %}   
    <script src="{{ asset('bundles/expediente/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/boostrap3/js/bootstrap.min.js') }}"></script>         
    <script src="{{ asset('bundles/expediente/plugins/print/printArea.js') }}"></script> 
    <script src="{{ asset('bundles/expediente/plugins/dropzone/dist/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/clipboard/dist/clipboard.min.js') }}"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>    

{% set organismos = app.user.departamentoRm.organismo.ministerio.saf %}  
{% for saf in organismos if saf.ministerio == app.user.departamentoRm.organismo.ministerio %}
    {% for organismo in saf.organismo  %} 
        $(function () {
        $(".tablaTramite{{organismo.id}}").DataTable({"searching": true,"lengthChange": true, "order": [[ 0, "desc" ]],"pageLength": -1,
                "language": {
                    "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
                },"lengthMenu": [[10, 25, 50, 100,-1], [10, 25, 50, 100, "Todo"]],
            });
      });
    {% endfor %}
{% endfor %}

</script>
{% endblock %}