{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recordatorios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Recordatorio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Publico</th>
                <th>Texto</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recordatorio in recordatorios %}
            <tr>
                <td><a href="{{ path('recordatorio_show', { 'id': recordatorio.id }) }}">{{ recordatorio.id }}</a></td>
                <td>{{ recordatorio.recordatorio }}</td>
                <td>{% if recordatorio.fecha %}{{ recordatorio.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if recordatorio.hora %}{{ recordatorio.hora|date('H:i:s') }}{% endif %}</td>
                <td>{% if recordatorio.publico %}Yes{% else %}No{% endif %}</td>
                <td>{{ recordatorio.texto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recordatorio_show', { 'id': recordatorio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recordatorio_edit', { 'id': recordatorio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recordatorio_new') }}">Create a new recordatorio</a>
        </li>
    </ul>
{% endblock %}
