    <p style="text-align:center"> 
        <br>
        <strong> 
        ACTA DE JUNTA MEDICA    N°: 0{{ documento.numero }} -{{ documento.anio }} 
        </strong> 
    </p> 
   <p class="text-uppercase text-left"> 
        <strong>Referencia: </strong>{{documento.tramite.expediente}} <br>
        <strong>Agente: </strong><br>
         {{documento.tramite.expediente.agente}}<br> 
        Edad: {{ documento.tramite.expediente.agente.fechaNacimiento | age }}  - Antiguedad: {{ documento.tramite.expediente.agente.fechaInicioLaboral | age }} - Departamento: {{ documento.tramite.expediente.agente.localidad.departamento | default("N/D") }} <br>
        <strong>Cargos:</strong> <br>
       <small>{% for cargo in documento.tramite.expediente.agente.cargo %} {{ cargo }} - {{ cargo.funcion }} {% endfor %} </small> 
        <br>        
        </p> 
<div style="border-bottom:solid windowtext 1.0pt; padding:0cm 0cm 1.0pt 0cm">
<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">&emsp;&emsp;&emsp;<strong>LA JUNTA M&Eacute;DICA DE MEDICINA LABORAL</strong> de la  {{appInstitucion}}, procede a examinar al agente: <strong>{{documento.tramite.expediente.agente}} </strong> y habiendo analizado los antecedentes de caso, efectuado el examen correspondiente, evaluado su pron&oacute;stico y evoluci&oacute;n ha dictaminado</span></span></p>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<hr/>
<p>
<span style="font-size:14px"> Fecha Desde: <small>..............................................</small> - Fecha Hasta:  <small>..............................................</small> </span>
</p>
<p>
<span style="font-size:14px">
  Diagnostico Codificado:<small>...............................</small> 
</span></p>
<p>
<span style="font-size:14px">
    Diagnostico:<small>...............................................................................................................................................</small></span></p></div>