<p style="margin-left:0cm; margin-right:0cm; text-align:center"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif">
	<br>
    <strong> 
  		{{ documento.nombreDocumento | upper }}
	</strong>
	<br> 
</span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:16px"><span style="font-family:&quot;Times New Roman&quot;,serif">
 	&emsp;&emsp;&emsp; La  {{appInstitucion}} , informa al agente  {{documento.tramite.expediente.agente | upper}} que deberá presentarse en JUNTA MÉDICA DE MEDICINA LABORAL - DPTO. AUTOSEGURO para su evaluación, el día <strong> {{documento.tramite.expediente.datoAt.fechaTurno | date('d-m-Y') }} </strong> a horas <strong> {{documento.tramite.expediente.datoAt.hora | date('H:i') }} </strong>, sito calle Ayacucho N° 588 - Capital. <br> 
    &emsp;&emsp;&emsp; Provisto de TODA documentación que acredite, el momento de la contingencia laboral y su estado actual de salud, en relación con su <em><strong>Expte. {{documento.tramite.expediente | default("ACCIDENTE DE TRABAJO")}}</strong></em>.- </span></span><br></p>