<div style="margin-left:25x; font-size:20px; ">
<p style="text-align:center"> 
    <br>
    <strong> 
    DICTAMEN  
    </strong> 
</p> 

<p >
<strong>VISTO: </strong> <br> 
&emsp;El Expediente Caratulado como: {{documento.tramite.expediente}}, {{documento.tramite.expediente.extracto | title}} de {{documento.tramite.expediente.agente.apellidoNombre }}.

</p> 

<p style="text-align: justify"><strong>CONSIDERANDO:</strong> <br>
&emsp;Que la nota recepcionada en fecha {{ "now" | date('d-m-Y') }} donde el  agente {{documento.tramite.expediente.agente | title }}, dependiente de {% for cargo in documento.tramite.expediente.agente.cargo %} {{ cargo }}, {% endfor %} solicita Reintegro de Gastos en concepto de transporte y consultas medicas, atento a que el mismo realiza su tratamiento Medico en esta ciudad,
</p>
{% for expediente in documento.tramite.expediente.agente.expediente %}
{% if loop.last == false %}
<p>
&emsp;Que por expediente  {{ expediente }}, que se tramita en Autoseguro Provincial, se determinó que la contingencia sufrida por el agente {{ expediente.agente.apellidoNombre | title }} el {{ expediente.datoAt.fechaAt |  date('d-m-Y') }} es {{ expediente.tipoTramite | default ("No Definido") | title }} con naturaleza de lesión: <strong>Traumatismo</strong> . 
</p>
{% endif %}
{% endfor %}
<div style="text-align: center"><strong>DICTAMINA:</strong></div>
<p style="text-align: justify">PRIMERO: Hacer lugar a lo solicitado por el agente {{documento.tramite.expediente.agente}}.</p>
<p style="text-align: justify">SEGUNDO: Corresponde reintegro sobre Factura N° 000-00000 por Consulta Medica. Tiket pasaje N° 000. Factura N° 000-00000 por consulta Especialista Medico.  
 </p>
</div>