<div style="margin-left:25x; font-size:20px; ">
<p style="text-align:center"> 
    <br>
    <strong> 
    {{ documento.nombreDocumento | upper }}    N°: 0{{ documento.numero }} -{{ documento.anio }} 
    </strong> 
</p> 

<p >
<strong>VISTO: </strong> <br> 
&emsp;El Expediente Caratulado como: {{documento.tramite.expediente}} - {{documento.tramite.expediente.extracto | title }}  de {{documento.tramite.expediente.agente.apellidoNombre }}.

</p> 

<p style="text-align: justify"><strong>CONSIDERANDO:</strong> <br>
&emsp;Los elementos de juicio presentados en los autos de referencia, y teniendo en cuenta la valoración 
    Clínica del examinado en el día de la fecha, la  Junta  Médica del Autoseguro Provincial, dependiente de la {{appInstitucion}},
</p>
<div style="text-align: center"><strong>DICTAMINA:</strong></div>
<p style="text-align: justify">PRIMERO: Que la contingencia sufrida en la fecha {{ documento.tramite.expediente.datoAt.fechaAt |  date('d-m-Y') }}, por el agente: {{documento.tramite.expediente.agente}}, {{documento.tramite.expediente.agente.fechaNacimiento | age }} años de edad,  {{documento.tramite.expediente.agente.fechaInicioLaboral | age }} años de Antigüedad, dependiente de {% for cargo in documento.tramite.expediente.agente.cargo %}  {{ cargo.organismo | default (" ") }}, {% endfor %}  se encuadra como <em><strong>{{ documento.tramite.expediente.tipoTramite | default ("No Definido")}} </strong> según Ley 24557 de Riesgo de Trabajo.</em>
<strong>Diagnostico:&nbsp;&nbsp;&nbsp;</strong>.-
</p>
<p style="text-align: justify">SEGUNDO: Correspondiendo una incapacidad parcial y permanente del<strong> 15 % (quince) </strong>del V.O.T
 </p>
</div>