  <div style="margin-left:2em;">	
    <p  style="text-align:center;"> 
        <br><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif">
        <strong> 
        INFORME
        </strong></span></span>
    </p> 
<p style="margin-left:0cm;"class="text-uppercase text-left"> 
        <strong> <u>Referencia: </u></strong><small>{{documento.tramite.expediente}} - {{documento.tramite.expediente.extracto}}</small><br>
        <strong><u>Agente:</u> </strong>{{documento.tramite.expediente.agente.apellidoNombre}} - <u><strong>DNI N°: </strong></u> {{documento.tramite.expediente.agente.dni}}</small><br> 
        <strong><u>Localidad:</u></strong> <small> {{ documento.tramite.expediente.agente.localidad | default("N/D") }}  </small> <br>
        <strong><u>Lugar de Trabajo:</u></strong> 
       <small>{% for cargo in documento.tramite.expediente.agente.cargo %} {{ cargo }} - {{ cargo.funcion }} <br> {% endfor %} </small>       
</p> 
<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-family:&quot;Arial&quot;,sans-serif"> <strong>La Junta M&eacute;dica del Autoseguro Provincial </strong> de la {{appInstitucion | raw}}, procede a examinar al agente: {{documento.tramite.expediente.agente}}  y habiendo analizado los antecedentes de caso y efectuado el examen correspondiente en base a los elementos de juicios presentados informa:
<li><span style="font-size:12pt"> Que no hay elementos, examen físico, ni estudios, suficientes para encuadrarlos como secuelas de accidente de trabajo.</span></li>
<li style="font-size:16pt;"> <span style="font-size:12pt">Se realiza examen psicológico, donde se determina que debe continuar con tratamiento y posterior evaluación por esta Junta Medica para determinar condiciones laborales.</span></li> </span></span></span>

</p>


<br><br>
</div>
