
<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">SE&Ntilde;OR</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">DIRECTOR DE LA OBRA SOCIAL DE LOS EMPLEADOS PÚBLICOS</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:12.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">DR. NORBERTO BAZAN</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-size:12.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">SU DESPACHO</span></span></u></strong><strong> &nbsp;</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Tengo el agrado de dirigirme a Ud., a fin de informarle que el/la Sr/Sra:<strong> {{documento.tramite.expediente.agente.apellidoNombre}}  , CUIL N°: {{documento.tramite.expediente.agente.cuil}}, </strong>Afiliado <strong>{{documento.tramite.expediente.agente.obraSocial}}</strong> dependiente de <strong>{% for cargo in documento.tramite.expediente.agente.cargo %} {{ cargo }}, {% endfor %}  </strong>ha sufrido una contingencia encuadrada en los t&eacute;rminos de la Ley N&ordm; 24.557 de Riesgos de Trabajo, en fecha<strong>  {% if documento.tramite.expediente.datoAt.fechaAt is defined %}{{ documento.tramite.expediente.datoAt.fechaAt |  date('d-m-Y') }}{% else %} No Definida {% endif %}</strong>, hecho que fuera oportunamente comunicado a este Organismo.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se emite la presente comunicaci&oacute;n a efectos que se otorguen las prestaciones m&eacute;dicas estatuidas por la Ley N&ordm; 24557, y de conformidad con lo dispuesto por el Decreto Acuerdo N&deg; 2557/2008.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se deja constancia que el otorgamiento de las prestaciones antes mencionadas, no debe entenderse en ning&uacute;n caso como aceptaci&oacute;n del siniestro denunciado como Accidente de Trabajo o Enfermedad Profesional, hasta tanto la Administraci&oacute;n se expida al respecto en los t&eacute;rminos y plazos fijados por la Ley N&deg; 24557 y el Decreto Nacional N&ordm; 717/1996.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp; En caso de producirse el rechazo de la pretensi&oacute;n, dicha situaci&oacute;n ser&aacute; comunicada fehacientemente ante la OBRA SOCIAL DE LOS EMPLEADOS PUBLICOS a los fines del <strong>CESE</strong> de las prestaciones m&eacute;dicas autorizadas por la presente y se proceder&aacute; a descontar de los haberes las prestaciones indebidamente otorgadas. </span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp; En caso de producirse el Alta M&eacute;dica Definitiva se deber&aacute; presentar inmediatamente ante la DIRECCION PROVINCIAL SERVICIO DE RECONOCIMIENTOS MEDICOS, a los fines del CESE de las prestaciones m&eacute;dicas autorizadas por la presente, bajo apercibimiento, en caso de incumplimiento se proceder&aacute; a descontar de los haberes, las prestaciones indebidamente otorgadas.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp; Mediante la presente el/la agente trabajador/a, queda debidamente notificado/a.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;&nbsp; Atentamente.-</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Comunicaci&oacute;n N&ordm; : 0{{ documento.numero }} -{{ documento.anio }}</span></span></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Nota:</span></span></strong><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif"> Las recetas de medicamentos y solicitudes de prestaciones m&eacute;dico asistenciales, previo a ser presentadas en la OBRA SOCIAL DE LOS EMPLEADOS PÚBLICOS (OSEP), deber&aacute;n ser autorizadas por el Dr. DEAN DANIEL, Dr. DÍAZ JOSE ALBERTO y/o Dr. RODRIGUEZ, ROQUE DANIEL, de la Direcci&oacute;n Provincial Servicio de Reconocimientos M&eacute;dicos, sito en calle Ayacucho N&ordm; 598.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">&nbsp;Asimismo, deber&aacute;n contar con la leyenda <strong>&ldquo;ACCIDENTE DE TRABAJO O ENFERMEDAD PROFESIONAL&rdquo;</strong>, adem&aacute;s de contener nombre del beneficiario y N&ordm; de afiliado de la OSEP, caso contrario la Obra Social NO brindar&aacute; dichas prestaciones. Para iniciaci&oacute;n de tr&aacute;mite ante la OSEP, deber&aacute;n dirigirse al Sector Afiliaci&oacute;n de la Obra Social sito en Avenida Pte. Castillo y Hern&aacute;ndez de Pedraza.</span></span></span></span></p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><u><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Requisitos para la provisi&oacute;n de medicamentos</span></span></u></strong></span></span></p>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<ol>
	<li><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Receta de pu&ntilde;o y letra del M&eacute;dico sin enmiendas ni borrones, en caso de existir deber&aacute;n ser salvadas por el profesional.</span></span></li>
	<li><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Las recetas deber&aacute;n contener:</span></span></span></span>
	<ol style="list-style-type:lower-alpha">
		<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">UNICAMENTE medicamentos recetados como consecuencia del Accidente de Trabajo o Enfermedad Profesional.</span></span></li>
		<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Nombre y Apellido del afiliado.</span></span></li>
		<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">N&ordm; de Afiliado de OSEP.</span></span></li>
		<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Prescripci&oacute;n de los medicamentos por Gen&eacute;ricos (Monodroga), especificando presentaci&oacute;n y cantidades.</span></span></li>
		<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Firma, fecha y sello del facultativo</span></span></li>
	</ol>
	</li>
	<li><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Leyenda que indique &ldquo;ACCIDENTE DE TRABAJO&rdquo;.</span></span></li>
</ol>

<p style="margin-left:0cm; margin-right:0cm">&nbsp;</p>

<p style="margin-left:0cm; margin-right:0cm"><span style="font-size:10pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="font-size:11.0pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">La presente Autorizaci&oacute;n tiene validez por treinta (30) d&iacute;as. Consecuentemente para su renovaci&oacute;n deber&aacute; presentar ante el Departamento Autoseguro de la Direcci&oacute;n Provincial Servicio de Reconocimientos M&eacute;dicos, certificado m&eacute;dico extendido por el m&eacute;dico de cabecera y visado por los Dres.</span></span></span></span></p>