{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block contenido %}
<div class="container">
     <ul class="nav nav-pills hidden-print"> 
             <li role="presentation" data-toggle="popover" data-placement="bottom"  title="Atención...!" data-content="Debe Actualizar los datos del agente para poder CREAR">  
                <a  href="{{ path('usuario_edit_perfil', { 'id': app.user.id  }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
             </li> 
            <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
            <div class="pull-right">
                    <li  role="presentation">
                      <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                        <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                        <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                          <span class="glyphicon glyphicon-copy"></span>Copiar</a>
                    </li>
            </div>
</ul>
    <div id="copy" class="panel panel-default print">
        <div class="panel-heading text-center">  
             <p class="h4">{{ usuario.agente }}</p>
        </div>
        <div class="panel-body">
            <ul class="list-group h4">
                <li class="list-group-item">Usuario: {{ usuario.usuario }}</li>
                  {% if ( app.user == usuario or is_granted('ROLE_ADMIN') ) %}
                       <li class="list-group-item">Contraseña: {{ usuario.password}}</li>
                 {% endif %} 
              <li class="list-group-item">Departamento: {{ usuario.departamentoRm }} </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
