{# Siarme\AusentismoBundle\Resources\views\Itempedido\_tbody_completo.html.twig #}
<tr> 
    <td></td>
    <td>{{loop.index}}</td>
    <td>{{ itemR.codigo }}</td>
    <td>{{ itemR.descripcion }}</td>
    <td>{{ itemR.unidad }}</td>
    <td class="text-center" style="background-color:Ivory;">{{ itemR.t1 }}</td>
    <td class="text-center" style="background-color:LightYellow;">{{ itemR.t2  }}</td>
    <td class="text-center" style="background-color:LemonChiffon;">{{ itemR.t3 }}</td>
    <td class="text-center" style="background-color:PaleGoldenrod;">{{ itemR.t4 }}</td>
    <td class="text-center" >{% set total = itemR.t1 + itemR.t2 + itemR.t3 + itemR.t4 %} {{ total }}</td>
</tr>

