{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} ITEM {{ itemPedido.numero }} {% endblock %}
{% block contenido %}
 <div class="container"> 
{% set items = itemPedido.tramite.itemPedido %}
{% if items | length > 1  %} 
 <nav aria-label="Page navigation">
  <ul class="pagination pagination-sm" style="margin-bottom:0px; margin-top:5px;">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">Ítems: &laquo;</span>
      </a>
    </li>
    {% for item in items %}
        {% if itemPedido.numero == loop.index %}
            <li class="active"><a href="{{ path('itempedido_show', { 'id': item.id }) }}">{{loop.index}}</a></li>
        {% else %}
            <li><a href="{{ path('itempedido_show', { 'id': item.id }) }}">{{loop.index}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{# {% if ( app.user.departamentoRm == itemPedido.tramite.departamentoRm ) and ( itemPedido.tramite.expediente | default(null) | movimiento_estado(app.user)) %}#}
    {% if edit %}
      <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                  {{ render(controller('AusentismoBundle:ItemPedido:edit', {'id': itemPedido.id  }))}}
              </div>
            </div>
      </li>
    <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el Item' >
                  {{ form_start(delete_form) }}
                  <input class="btn btn-danger" onclick= "return confirm('¿Desea ELIMINAR elItem?');" type="submit" value="Eliminar"> 
                  {{ form_end(delete_form) }}   
    </li> 
{% endif %} 
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>

<div id="copy" class="panel panel-default print">
        <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 
  <!-- Default panel contents -->
  <div class="panel-heading"> ITEM N° : {{ itemPedido.numero }}
        {% if itemPedido.tramite.expediente.id is defined %}
                {% if ( itemPedido.tramite.expediente |  default(null) | movimiento_estado(app.user))  %}
                    <span class="pull-right {{itemPedido.tramite.estadoTramite.class}}">{{itemPedido.tramite.estadoTramite }}</span>{% else %}<span  class="label label-default pull-right" data-toggle="tooltip" data-placement="bottom" title='Para modificar el ÍTEM debe cambiar el estado de la Nota DPPR que lo contiene'>Enviado</span>{% endif %}
        {% else %}
            <span class="pull-right {{itemPedido.tramite.estadoTramite.class}}">{{itemPedido.tramite.estadoTramite }}</span>
            <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning  pull-right"></span>
        {% endif %}
  </div>
  <div class="panel-body"> 
<dl>
    <div class="panel-heading text-center">
        <dt>Expediente | CCOO</dt>
         <dd>
             <a href="{{ path('expediente_show', { 'id': itemPedido.tramite.expediente.id | default(0) }) }}">{{itemPedido.tramite.expediente | default(null) }}</a>
         </dd>
         <dt>Pedido</dt>
         <dd>
            {% set year = 'now' | date('Y')%}
            <a   href="{{ path('tramite_show', { 'id': itemPedido.tramite.id }) }}">PEDIDO {{ itemPedido.tramite.numeroTramite }} - {{ itemPedido.tramite.ccoo | default('NO-'~ year ~ '-n/d')}} </a>
         </dd>
</div>
    <dt>Código</dt>
    <dd>{{ itemPedido.codigo }}</dd>
    <dt>Rubro</dt>
    <dd>{{ itemPedido.rubro }}</dd>
    <dt>Descripción</dt>
    <dd>{{ itemPedido.item }}</dd>
    <td>Unidad de Medida</td>
    <dd>{{ itemPedido.unidadMedida }}</dd>
    <dt>
        {% set itemsPedidos = itemPedido | item_pedido_por_codigo(6, true) %}
        Detalle Técnico {% if  itemPedido.tramite.expediente | default(null) | movimiento_estado(app.user) %}
      | <a class="detalle hidden-print" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> {% if itemPedido.detalle  is empty %} <span class="glyphicon glyphicon-plus-sign"></span> Agregar {% else %} <span class="glyphicon glyphicon-pencil"></span>  Modificar {% endif %}</a> | {% if itemsPedidos | length > 0  %} <a class="hidden-print text-warning" data-toggle="collapse" href="#collapseDetalle" role="button" aria-expanded="false" aria-controls="collapseDetalle"> <span class="glyphicon glyphicon-info-sign"></span> Ver {{itemsPedidos | length }} detalles sugeridos</a> {% endif %} 
    {% endif %} 
    </dt>
    <dd>    
        <div class="collapse text-warning" id="collapseDetalle">
            <div class="list-group">
                 {% for   item in itemsPedidos %}
                    <div class="list-group-item">   
                        <p class="list-group-item-text"><strong>{{item.detalle | raw }}</strong></p>
                    </div>
                 {% endfor %} 
            </div>
        </div>
        <div id="detalle">
        {{ itemPedido.detalle | raw }}
        </div>
        <div class="collapse" id="collapseExample">
            {{ render(controller('AusentismoBundle:ItemPedido:editDetalle', {'id': itemPedido.id  }))}}
        </div>
    </dd>
</dl>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Estado</th>
        <th></th>
    </thead>
    <tbody>
            <tr>
                <td>$ {{ itemPedido.precio  | default(0) | number_format(2, ',', '.')  }}</td>
                <td>{{ itemPedido.cantidad }}</td>
                <td>$ {{ itemPedido.total  | default(0) | number_format(2, ',', '.')  }}</td>
                <td class="estado">
                    {% set itemsProceso = itemPedido | item_proceso %}
                    {% if (itemsProceso | length > 0 ) %} 
                        {% for itemProceso in itemsProceso | reverse %}
                          {% if  loop.first %}
                            {{ include('AusentismoBundle:ItemProceso:_etiqueta_estado.html.twig') }}
                          {% endif %}
                       {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                {# {% if ( app.user.departamentoRm == itemPedido.tramite.departamentoRm ) and (( itemPedido.tramite.expediente | default(null) | movimiento_estado(app.user)) or itemPedido.tramite.expediente.id is not defined) %}
                    <a data-href="{{ path('item_pedido_estado', { 'id': itemPedido.id }) }}" class="btn-estado-item" role="button">
                    {% if itemPedido.estado %}<span class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% else %}<span class="glyphicon glyphicon-unchecked text-warning" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% endif %} </a>
                {% endif %} #} 
                </td>
            </tr>
    </tbody>
  </table>

</div>
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': itemPedido.id, 'tipo': constant('TIPO_ENTIDAD', itemPedido)  })) }}

{{ render(controller('ExpedienteBundle:Comentario:new', { 'tipoid': itemPedido.id, 'tipo': constant('TIPO_ENTIDAD', itemPedido) })) }}
</div>
{% endblock %}

{% block javascripts %} 
    {{parent()}}
     <script> 

     $('.detalle').on('click',function () {

        if($('#detalle').is(':visible')){
        $('#detalle').fadeOut("fast");
      }else{
        $('#detalle').fadeIn("fast");
      }

     });
        CKEDITOR.replace('siarme_ausentismobundle_item_detalle_detalle', {  height: 400, 
         // Configure SCAYT to load on editor startup.
         scayt_autoStartup: true,
          autoGrow_onStartup: true,
        } );

$("#siarme_ausentismobundle_itempedido_item").change(function() {
  let str = $(this).val();
  str = str.trim();
  $("#siarme_ausentismobundle_itempedido_item").val(str);
            });
$("#siarme_ausentismobundle_itempedido_codigo").change(function() {
  let str = $(this).val();
  str = str.trim();
  $("#siarme_ausentismobundle_itempedido_codigo").val(str);
            });
$("#siarme_ausentismobundle_itempedido_precio").change(function() {
  let str = $(this).val();
  str = str.replace("$", "");
  str = str.replace(".", "");
  str = str.trim();
  $("#siarme_ausentismobundle_itempedido_precio").val(str);
            });

     </script>
{% endblock %}

{% block footer %}
<dir class="footer"></dir>
{% endblock %}
