{{ form_start(form) }}
{{ form_errors(form) }}

<div>   
    {{ form_label(form.texto) }}
    {{ form_errors(form.texto) }}
    {% block wiget_texto %}
    {{ form_widget(form.texto,   {'value' : "Documento PDF"})  }}
    {% endblock %}
</div><hr>
<div>   
    {{ form_label(form.archivo) }}
    {{ form_errors(form.archivo) }}
    {% block wiget_archivo %}
    {{ form_widget(form.archivo,  {'attr' : {'class':'text'} })  }}
    {% endblock %}
</div>
<div class="text-right">
    <a class="btn btn-primary" href="{{ path('expediente_show', { 'id': documento.tramite.expediente.id }) }}"> CANCELAR </span></a> 
    <input class="btn btn-danger"  type="submit" value="Guardar" />
</div>

{{ form_end(form) }}
