{{ form_start(form) }}
{{ form_errors(form) }}

<div class="text-center">    
    {{ form_label(form.texto) }}
    {{ form_errors(form.texto) }}
    {% block wiget_texto %}
    {{ form_widget(form.texto,  {'value' : texto1 })  }}
    {% endblock %}

</div>
<div class="text-right">
    <a class="btn btn-primary" href="{{ path('snippet_index') }}"> CANCELAR </span></a> 
    <input class="btn btn-danger"  type="submit" value="Guardar" />
</div>

{{ form_end(form) }}