{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block stylesheets %}  
     <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_yeti.min.css') }}" type="text/css" rel="stylesheet">
     <link href="{{ asset('bundles/expediente/plugins/select2/css/select2.min.css') }}" rel="stylesheet"> 
{% endblock %} 
{% block menu_li %} {% endblock %}
{% block main %}

<div class="col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading text-center">  
             <p  class="h4"> Modificar Datos de Usuario</p>
             {{usuario}}
        </div>
        <div class="panel-body">

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}

            <div class="text-right">
                <input class="btn btn-danger btn-sm" type="submit" value="Guardar" />
            </div>
        {{ form_end(edit_form) }}
            </div>
    </div>
</div>
{% endblock %}
