{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block contenido %}
<div class="container">
     <ul class="nav nav-pills hidden-print"> 
        <li role="presentation" class="disabled"><a href="#">Menu</a></li>
        {% if (app.user.departamentoRm.slug == "info" or app.user == usuario ) %}
          {% if app.user.departamentoRm.slug == "info"  %}
             <li role="presentation" data-toggle="popover" data-placement="bottom"  title="Atención...!" data-content="Debe Actualizar los datos del agente para poder CREAR">  
                <a  href="{{ path('usuario_edit', { 'id': usuario.id   }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
             </li> 
             {#                  
                <li>
                  {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR el USUARIO?")'}}) }}                       
                   <button class="btn btn-danger btn-sm"  type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash"> Eliminar  </span> </button>
                  {{ form_end(delete_form) }}
                </li> #}
            {% endif %}   
             <li role="presentation" data-toggle="popover" data-placement="bottom"  title="Atención...!" data-content="Debe Actualizar los datos del agente para poder CREAR">  
                <a  href="{{ path('usuario_edit_perfil', { 'id': usuario.id  }) }}"><span class="glyphicon glyphicon-pencil"></span> Cambiar Contraseña</a>
             </li> 
        {% endif %}
            <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
            <div class="pull-right">
                    <li  role="presentation">
                      <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                        <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                        <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                          <span class="glyphicon glyphicon-copy"></span>Copiar</a>
                    </li>
            </div>
</ul> 
    <div class="panel panel-default">
        <div class="panel-heading text-center">  
             <p class="h4">Datos de Usuario</p>
        </div>
        <div class="panel-body">
            <ul class="list-group h4">
              <li class="list-group-item"> Apellido y Nombre:  {{ usuario.agente }}</li>
              <li class="list-group-item">Usuario: {{ usuario.usuario }} </li>
                  {# if ( app.user == usuario or is_granted('ROLE_ADMIN') ) %}
                       <li class="list-group-item">Contraseña: {{ usuario.passwordEnClaro }}</li>
                 {% endif #} 
              <li class="list-group-item">Rol: {{ usuario.rol }} </li>

               <li class="list-group-item">Estado: {%if usuario.esActivo %} Activo {% else %} Bloqueado {% endif  %} </li>
              <li class="list-group-item">Sector Actual: {{ usuario.departamentoRm }}</li>
              <li class="list-group-item">Sectores: 
                {% for sector in usuario.sector %} {{ sector }}, {% endfor %}
                    {% if app.user.departamentoRm.slug == "info"  %}
                         &nbsp;&nbsp;&nbsp;<a class="btn btn-sm btn-primary hidden-print" data-toggle="collapse" href="#sector_new" role="button" aria-expanded="false" aria-controls="sector_new">Modificar</a>
                    {% endif %}
              </li>
              <li  class="list-group-item">
                <div class="collapse" id="sector_new">
                    {{ render(controller('UsuarioBundle:Usuario:sectorNew', { 'id': usuario.id })) }}
                </div>
              </li>
            </ul>
        </div>     
    </div>
</div>
{% endblock %}
