{#
{% set msjs_compartido = app.user.id | Comparte('MSJ') %}
 {% set msjs_compartido_total = msjs_compartido | length %} 

 {% set ags_compartido = app.user.id | Comparte('TRA') %} 
 {% set ags_compartido_total = ags_compartido | length %} 

 {% set expts_compartido = app.user.id | Comparte('EXP') %} 
 {% set expts_compartido_total = expts_compartido | length  %} 
 {% set docs_compartido = app.user.id | Comparte('DOC') %} 
 {% set docs_compartido_total = docs_compartido | length  %}
 #}
<header>  
  <nav class="navbar-default hidden-print" style="margin-bottom:1px; padding:1px;"  role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar  bg-primary"></span>
        <span class="icon-bar  bg-primary"></span>
        <span class="icon-bar  bg-primary"></span>
        <span class="icon-bar  bg-primary"></span>
      </button>
      {% if app.user.sector | length > 1  %}
         <div class="dropdown navbar-brand">
              <a class="dropdown-toggle" style="color:white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span data-toggle="tooltip" data-placement="bottom"  title="SIAC" class="glyphicon glyphicon-shopping-cart"></span> {{app.user.departamentoRm}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for sector in app.user.sector  %}
                   <li><a href="{{ path('usuario_cambiar_sector', { 'id': sector.id  }) }}">{{sector}}  {% if app.user.departamentoRm == sector %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</a></li>
                   <li role="separator" class="divider"></li>
                {% endfor %}
              </ul>
        </div>
      {% else %}
       <a class="navbar-brand">
        <span data-toggle="tooltip" data-placement="bottom"  title="SIAC" class="glyphicon glyphicon-shopping-cart"></span>{{app.user.departamentoRm}}
       </a>
      {% endif %}
    </div> 
    <div  class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" id="link-4"><a class="glyphicon glyphicon-home" href="{{ path('tramite_reparticion_index') }}">PRINCIPAL</a></li>
        <li role="presentation" id= "link-1"><a class="glyphicon glyphicon-wrench" href="{{ path('mis_tramites_index') }}">MIS TAREAS
        {#<span class="badge">
          {% if tareas is defined %}{{ tareas | default("") | length  }} {% endif %}
          {% if tareasReporte is defined %}{{tareasReporte | default("") | length}}{% endif %}
        </span>#}
        </a></li>

{% if app.user.departamentoRm.slug != "dppr" %}
        <li role="presentation" id="link-2"><a class="glyphicon glyphicon-calendar" href="{{ path('recordatorios_index') }}">AGENDA<span class="badge">{{ recordatorios | default("") | length  }}</span></a></li>
  {% endif %}
        {#<li role="presentation" id="link-3"><a class="glyphicon glyphicon-ok" href="{{ path('tramites_realizados_index') }}">REALIZADO</a></li>#}
    {% if app.user.departamentoRm.slug == "despacho" or app.user.id == 8 or is_granted('ROLE_SUPERVISOR') %}
        <li role="presentation" id="link-3"><a class="glyphicon glyphicon-file" href="{{ path('licencia_index') }}">LICENCIAS</a></li>
    {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right"> 
        <li role="presentation" id="link-3"><a href="{{ path('item_catalogo_index') }}"> <span class="glyphicon glyphicon-search" ></span> CATALOGO COMPRAR</a></li>
       {#<li id="alerta2" class="dropdown" >        
     Aqui se renderiza el menu desplegable completo con "ul" y "li" incluidos
      {{ render(controller('DocumentoBundle:Compartir:alerta' )) }}
     </li>    #}
       {% if ( is_granted('ROLE_ADMIN')) %} 
          <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-th"></span></a>
                  <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li>
                        <a   href="{{ path('easyadmin') }}"  target="_blank"> <span class="glyphicon glyphicon-eye-close"> ADMINISTRADOR</span></a>
                        </li>  
                        <li role="separator" class="divider"></li>  
                         <li>
                        <a   href="{{ path('tipodocumento_index') }}"  target="_blank"> <span class="glyphicon glyphicon-eye-close"> TIPOS DE DOCUMENTOS</span></a>
                        </li>  
                  </ul> 
           </li>
       {% endif %}
       <li role="presentation" id="link-5">
          <a class="glyphicon glyphicon-share-alt" aria-hidden="true" href="{{ path('compartidos_index') }}">
         {# NOTIFICACIONES <small>
              {% if ags_compartido_total > 0 %}
                  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>{{ags_compartido_total}}
              {% endif %}      

              {% if expts_compartido_total > 0 %}
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {{expts_compartido_total}} 
              {% endif %}

              {% if docs_compartido_total > 0 %}  
                 <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{docs_compartido_total}} 
              {% endif %}
           </small>#}
            <span id="alerta"></span>
          </a>
        </li>       
        <li >
            <a href="{{ path('usuario_show', { 'id': app.user.id }) }}"  role="button" aria-expanded="false"><span class="glyphicon glyphicon-user">{{ app.user.usuario }}</span></a>
        </li>
        <li>
            <a href="{{ path('usuario_logout') }}" >
              <span class="glyphicon glyphicon-log-out"></span>
                  Salir
            </a>                
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</header>
