{# Siarme/ExpedienteBundle/Resources/views/Default/informe_licencia.html.twig #}
{% extends 'ExpedienteBundle:Default:layout_informe_show.html.twig' %}
{% block cuerpo %}

{# 
      informe:3 [▼
      "DCCION. DE SERV. DE RECONOC. MEDICO" => array:2 [▼
        0 => array:3 [▶]
        1 => array:3 [▼
          "estado" => "Denegado"
          "cantidad" => "1"
        ]
      ]
      "ESCUELA NRO 325 - TERCERA CATEGORIA" => array:1 [▶]
      "DIRECCION DE CONTROL Y RECONOCIMIENTO MEDICO - MIN. DE EDUCACION CS. Y TEC." => array:2 [▶]
  #}
            <h5 class="text-center"> Cantidad de Juntas Médicas por Organismo </h5>
            <h5 class="text-center">Desde la Fecha: <strong>{{ fechaDesde| date("d/m/Y") }}</strong> Hasta la Fecha: <strong>{{fechaHasta | date("d/m/Y")}}</strong> </h5>
          <div class="conteiner-fluid">

               {% for organismo, arrays in informe | sort  %}
                  <div class="row">
                      <dl>
                        <dt> 
                        &emsp;{{organismo }}  
                        </dt>
                       <dd>&emsp;Juntas Médicas: <br>
                   {% for fila in arrays %}
                            {% set estado = fila['estado'] %}
                            {% set organismo = fila['organismo'] %}
                            {% set cantidad = fila['cantidad'] %}
                        &emsp;Estado: <span class="badge"> {{ estado }} </span> - Cantidad: <span class="badge">{{ cantidad }}</span><br>
                  {% endfor %}
                    </dd>
                     </dl>
                    </div>

              {% endfor %}
          </div>
{% endblock %}