      {# En tramite.estadoTramite devuelve el estado con etiquetas label #}
<div role="presentation" class="dropdown" >
     <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="{{tramite.estadoTramite.class}}">{{tramite.estadoTramite}}<span class="caret"></span></span>
    </a>
    {% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
        <ul class="dropdown-menu">
                {% for estadoTramite in tramite.tipoTramite.estadoTramite %} 
                    <li><a href="{{ path('tramite_estado_cambiar', { 'id': tramite.id, 'estado_id':estadoTramite.id }) }}"><span class="{{estadoTramite.class}}" style="font-size:8px; padding:2px;" >-</span> {{estadoTramite}}</a></li>
                {% endfor %}
        </ul>
    {% endif %} 
</div>

