
    {% set estadosConTramites, estados, tramitesPorEstado, estadoAnterior, tramiteAnterior, estadoSiguiente, nuevos, todos = {}, {}, [], 0, true, true, {}, {} %}
    {# for tramite1 in tramites | sort((a, b) => a.estadoTramite <=> b.estadoTramite) if tramite1.tipoTramite.slug not in ["tramite_oferta", "tramite_solicitud"] #}
    {% if ofertas is not defined %}
        {% for tramite1 in tramites | sort((a, b) => a.estadoTramite <=> b.estadoTramite) if tramite1.tipoTramite.slug not in ["tramite_oferta", "tramite_solicitud","tramite_doc"] %}
            {% set todos = todos | merge([tramite1]) %}
            {% if tramite1.expediente.id is not defined and (tramite1.estadoTramite.slug not in ["devuelto", "baja"])  %}
                {% set nuevos = nuevos | merge([tramite1]) %}
            {% endif %}
    
           {% if loop.first %}
              {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
           {% else %}
                {% if estadoAnterior == tramite1.estadoTramite %} 
                      {% set tramitesPorEstado = tramitesPorEstado | merge([tramite1]) %}
                {% else %}
    
                    {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                    {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}
    
                    {% set tramitesPorEstado = [] %}
                    {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
                {% endif %}
           {% endif %}
        {% endfor %}
    {% else %} 
        {% for tramite1 in ofertas | sort((a, b) => a.estadoTramite <=> b.estadoTramite) if tramite1.tipoTramite.slug  in ["tramite_oferta"] %}
            {% set todos = todos | merge([tramite1]) %}
            {% if tramite1.expediente.id is not defined and (tramite1.estadoTramite.slug not in ["devuelto", "baja"])  %}
                {% set nuevos = nuevos | merge([tramite1]) %}
            {% endif %}

           {% if loop.first %}
              {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
           {% else %}
                {% if estadoAnterior == tramite1.estadoTramite %} 
                      {% set tramitesPorEstado = tramitesPorEstado | merge([tramite1]) %}
                {% else %}

                    {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                    {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}

                    {% set tramitesPorEstado = [] %}
                    {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
                {% endif %}
           {% endif %}
        {% endfor %}
    {% endif %}
    {% if   todos is not empty %}
                    {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}
    {% endif %}

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified hidden-print tab-tipoTramite" role="tablist">
     <li role="presentation"  class="tab-todos" ><a href="#todos" aria-controls="todos" role="tab" data-toggle="tab"> Total ({{todos| length}})</a></li>
     
    {% if app.user.departamentoRm.slug == "dppr" and nuevos | length > 0 %}
            <li role="presentation" class="tab-nuevos" ><a href="#nuevos" aria-controls="nuevos" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-warning-sign text-warning"></span> Sin Pase ({{ nuevos | length }})</a></li>
    {% endif %}
    
    {% for  estado in estados %} 
      {#dump(estado)
          array:2 [▼
            "estadoAnterior" => EstadoTramite {#7314 ▶}
            "tramitesPorEstado" => array:54 [▶]
          ]
      #}
       <li role="presentation" class="tab-{{loop.index}}"><a class= "{{estado.estadoAnterior.class}}" href="#{{loop.index}}" aria-controls="{{loop.index}}" role="tab" data-toggle="tab">{{estado.estadoAnterior.estadoTramite}} ({{estado.tramitesPorEstado| length}})</a></li>
    {% endfor %}
  </ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-todos tab-pane fade in" id="todos">
              {% set notaRectifica = false %}
              {% for tramite in todos %}
                          {% if loop.first %}
                             <table id="" style="width:100%" class="tablaTramite table table-responsive table-hover">
                                 <thead>
                                   {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                </thead>
                              <tbody>
                           {% endif %}
                                  {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
                {% endfor %}
                            </tbody>
                        </table>
     </div> 

    {% if app.user.departamentoRm.slug == "dppr" and nuevos | length > 0  %}
        <div role="tabpanel" class="tab-nuevos tab-pane fade in" id="nuevos">
              {% set notaRectifica = false %}
              {% for tramite in nuevos %}
                          {% if loop.first %}
                             <table id="" style="width:100%" class="tablaTramite table table-responsive table-hover">
                                 <thead>
                                   {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                </thead>
                              <tbody>
                           {% endif %}
                                  {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
                {% endfor %}
                            </tbody>
                        </table>
        </div>
    {% endif %}
    
    {% set notaRectifica = true %}
    {% for id, tramites in estadosConTramites %}
           <div role="tabpanel" class="tab-{{loop.index}} tab-pane fade in" id="{{loop.index}}">
              {% for tramite in tramites %}
                          {% if loop.first %}
                             <table id="" style="width:100%" class="tablaTramite table table-responsive table-hover">
                                 <thead>
                                   {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                </thead>
                              <tbody>
                           {% endif %}
                                  {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
                {% endfor %}
                            </tbody>
                        </table>
       </div>
   {% else %}
    <h2>No hay Tareas</h2> 
   {% endfor %}  
   
</div>