  
  {% set tipoTramite = "indice" %}
   {% if pedidos | length %}
    {% set estadosConTramites, estados, tramitesPorEstado, estadoAnterior, tramiteAnterior, estadoSiguiente, nuevos, todos = {}, {}, [], 0, true, true, {}, {} %}
    {% for tramite1 in pedidos | sort((a, b) => a.estadoTramite <=> b.estadoTramite) %}
        {% set todos = todos | merge([tramite1]) %}
       {% if loop.first %}
          {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
          {% set tipoTramite = tramite1.tipoTramite.slug %}
       {% else %}
            {% if estadoAnterior == tramite1.estadoTramite %} 
                  {% set tramitesPorEstado = tramitesPorEstado | merge([tramite1]) %}
            {% else %}

                {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}

                {% set tramitesPorEstado = [] %}
                {% set tramiteAnterior, estadoAnterior, tramitesPorEstado = tramite1, tramite1.estadoTramite, tramitesPorEstado | merge([tramite1]) %}
            {% endif %}
       {% endif %}
    {% endfor %}
                {% set estados = estados | merge([{estadoAnterior, tramitesPorEstado}]) %}
                {% set estadosConTramites = estadosConTramites | merge({ (estadoAnterior.estadoTramite) : tramitesPorEstado} ) %}

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#{{tipoTramite}}todos" aria-controls="{{tipoTramite}}todos" role="tab" data-toggle="tab"> Total ({{todos| length}})</a></li>
                  {% for  estado in estados %} 
                    {#dump(estado)
                        array:2 [▼
                          "estadoAnterior" => EstadoTramite {#7314 ▶}
                          "tramitesPorEstado" => array:54 [▶]
                        ]
                    #}
                      <li role="presentation"><a class= "{{estado.estadoAnterior.class}}" href="#{{tipoTramite}}{{loop.index}}" aria-controls="{{tipoTramite}}{{loop.index}}" role="tab" data-toggle="tab">{{estado.estadoAnterior.estadoTramite}} ({{estado.tramitesPorEstado| length}})</a></li>
                  {% endfor %}
                </ul>
                <div class="tab-content">
                    {% set notaRectifica = true %}
                    <div role="tabpanel" class="tab-pane fade in active" id="{{tipoTramite}}todos">
                                  {% set notaRectifica = false %}
                                  {% for tramite in pedidos %}
                                              {% if loop.first %}
                                                 <table id="" style="width:100%" class="tablaTramite table table-responsive table-hover">
                                                     <thead>
                                                       {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                                    </thead>
                                                  <tbody>
                                               {% endif %}
                                                      {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
                                    {% endfor %}
                                                </tbody>
                                            </table>
                    </div>  
                    {% for id, tramites1 in estadosConTramites  %}
                        <div role="tabpanel" class="tab-pane fade" id="{{tipoTramite}}{{loop.index}}">
                              {% for tramite in tramites1 %}
                                          {% if loop.first %}
                                             <table id="" style="width:100%" class="tablaTramite table table-responsive table-hover">
                                                 <thead>
                                                   {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                                </thead>
                                              <tbody>
                                           {% endif %}
                                                  {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
                                {% endfor %}
                                            </tbody>
                                        </table>
                       </div>
                   {% else %}
                    <h2>No hay Tareas</h2> 
                   {% endfor %}  
                </div>
    {% endif %} 
    