{# Siarme\ExpedienteBundle\Resources\views\Tramite\_menu_acciones_tramite.html.twig #}
  {% if tramite.recordatorio | length > 0 %}
    <span data-toggle="tooltip" data-placement="top" title="Agenda">
    <a class="dropdown-toggle previous hidden-print" data-toggle="dropdown" role="button" aria-expanded="false"> <span  class="glyphicon glyphicon-calendar text-info" aria-hidden="false"><small>{{tramite.recordatorio | length}}</small></span></a>
       <ul  class="dropdown-menu"  style="width:400px;">  <!-- dropdown-menu -->  
            {% for recordatorio in tramite.recordatorio  %}
                    <li class="list-group-item" style="margin:0px;">   <!-- list-group -->  
                       <span class="glyphicon glyphicon-calendar text-info"></span> {{recordatorio | upper }} - {{recordatorio.fecha | date('d-m-Y') }} - {{recordatorio.hoy ? 'Hoy': '' }}- {{recordatorio.vigente ? 'Vigente': 'Finalizado' }}

                    </li> <!-- list-group -->
             {% endfor %}
        </ul> <!-- dropdown-menu -->  
     </span>

 {% endif %}
{# -------------- PARA HBILITAR ----------------
{% if tramite.documento | length > 0 %}
    <span data-toggle="tooltip" data-placement="top" title="Documentos">
    <a class="dropdown-toggle previous" data-toggle="dropdown" role="button" aria-expanded="false">{% if tramite.documento | length > 0 %}<span  class="glyphicon glyphicon-file text-info" aria-hidden="false">{{ tramite.documento | length }}</span>{% else %}<span  class="glyphicon glyphicon-file text-muted" aria-hidden="false">{{ tramite.documento | length }}</span>{% endif %}</a>
       <ul  class="dropdown-menu"  style="width:300px;">  <!-- dropdown-menu -->  
                {% for documento in tramite.documento %}          
           <li class="list-group" style="margin:0px;" >   <!-- list-group -->   
                 <a href="{{ path('documento_show', { 'id': documento.id }) }}"> 
                 {% if ( app.user.id == documento.usuario.id) %}
                    <small><span data-toggle="tooltip" data-placement="top" title='{{ documento.usuario | title }}' class='glyphicon glyphicon-user text-success' aria-hidden="true"></span></small>
                    {% else %}       
                    <small><span data-toggle="tooltip" data-placement="top" title='{{ documento.usuario | title }}' class='glyphicon glyphicon-user  text-muted' aria-hidden="true"></span></small>
                    {% endif %}                             
                {% if documento.papelera == false  %}
                        {% if documento.tipoDocumento.esArchivo %} 
                            {% set type = documento.archivo |default('nn.pdf') |split('.') %}
                            <span style="font-size: 20px" class="file-icon" data-type='{{type[1]}}'></span> {{ documento.nombreArchivo[:23]}}...
                        {% else %}
                            <span style="font-size: 20px" class='{{documento.tipodocumento.glyphicon ~ ' text-primary'}}'></span> {{ documento }}
                         {% endif %}
                {% endif %}  
                 </a> 
          </li> <!-- list-group --> 
        {% endfor %}
    </ul> <!-- dropdown-menu -->  
  </span>
 {% endif %} 

 <div class="pull-right">
    <span class="text-info">&nbsp;{{tramite.estadoTramite.porcentaje}}%</span>
</div>
#}
