{# Siarme\ExpedienteBundle\Resources\views\Tramite\new.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}{{ tramite}}{% endblock %}

{% block menu_li%}

{% endblock %}
{% block main %}
     {% if app.user.departamentoRm.slug == "sca" %}
        <div class="nav nav-pills hidden-print"> 
          <li role="presentation" class="disabled"><a href="#">Menu</a></li>
          <li role="presentation"><a href="{{ path('proveedor_new') }}">Agregar Nuevo Proveedor</a></li>
        </div>
    {% endif %}
    <div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">
            &nbsp;&nbsp; NUEVO {{ tramite.tipoTramite}} <strong>{{ tramite.numeroTramite }}</strong> 
      </div>
    <div class="panel panel-body">
        {% if tramite.expediente is not empty %}
        <dl class="text-center">
            <dt>Expediente | CCOO</dt>
            <dd style="font-size: 20px" >{{ tramite.expediente }}</dd>
            <dt>Objeto</dt>
            <dd>{{ tramite.expediente.extracto | upper | raw | nl2br }}</dd>
        </dl>
        {% endif %}
		    {{ form_start(form) }}
		        {{ form_widget(form) }}
		            <div class="text-right">
		                <input class="btn btn-danger" type="submit" value="GUARDAR" />
		            </div>
		    {{ form_end(form) }}
	</div>  <div id="expediente" class="row"></div>
	</div>
  

{% endblock %}

{% block javascripts %} 
	{{ parent() }}
    <script>
            $("#siarme_expedientebundle_tramite_expediente").change(function() {
                
                let id = this.options[this.selectedIndex].value;
            //    alert("{{ path('expediente_detalle_show', { 'id':"" }) }}" + "/"+ id);

                $("#expediente").load("{{ path('expediente_detalle_show', { 'id':"" }) }}" + "/"+ id);
            });
        $("#siarme_expedientebundle_tramite_montoAdjudica").change(function() {
          let str = $(this).val();
          str = str.replace("$", "");
          str = str.replace(".", "");
          str = str.replace(".", "");
          str = str.replace(".", "");
          str = str.trim();

          $("#siarme_expedientebundle_tramite_montoAdjudica").val(str);
                    });
        $("#siarme_expedientebundle_solicitud_PresupuestoOficial").change(function() {
          let str = $(this).val();
          str = str.replace("$", "");
          str = str.replace(".", "");
          str = str.replace(".", "");
          str = str.replace(".", "");
          str = str.trim();

          $("#siarme_expedientebundle_solicitud_PresupuestoOficial").val(str);
                    });
    </script>
{# 
{% if tramite.expediente.id is defined  %}
	<script>

            $("#siarme_expedientebundle_solicitud_organismoOrigen").select2({
                placeholder: 'Seleccione un SAF de la lista',
                cache: true,
                ajax: {
                   url: "{{ path('organismo_search', {'id': tramite.expediente.id }) }}",
                   dataType: 'json',            
                   delay: 1000,
                   data: function (params) {
                      return {
                              q: params.term // search term
                             };
                   },
                   processResults: function (data) {
                     return {
                              results: $.map(data, function(obj) {
                                 return { id: obj.id, text: obj.text };
                              })
                            };
                   },
                   
                },

            });
  </script>
  {% endif %}
  #}
  {% endblock %}