{# Siarme\ExpedienteBundle\Resources\views\Tramite\realizados_index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} REALIZADO {% endblock %}
  {% block header %}
   {{ include('ExpedienteBundle:Default:_header.html.twig') }}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block contenido %}
        {{ app.session.set('modulo', 'REALIZADO') }}
        {{ app.session.set('route', 'tramites_realizados_index') }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-ok') }}
{#
         <div class="nav nav-tabs nav-justified" style="padding-top:5px;">
            <li role="presentation"  class="active"><a class="glyphicon glyphicon-tasks" href="{{ path('tramites_realizados_index') }}"> TAREAS </a></li>
            <li role="presentation"><a class="glyphicon glyphicon-folder-open" href="{{ path('expedientes_realizados_index') }}"> EXPEDIENTES</a></li>
        </div>  
#}
    <ol class="breadcrumb"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('tramites_realizados_index', { 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
<div  class="row" style="padding-top:5px;">
  <!-- Nav tabs -->
  {% set realizadas = app.user | tipo_tramite_por_usuario(anio, true)  %}
  <ul class="nav nav-tabs nav-justified hidden-print" role="tablist">
        {% for tarea in realizadas | sort((a, b) => a.tramite.tipoTramite <=> b.tramite.tipoTramite) %}
            {% set tramite = tarea.tramite %}
            {% if loop.first %}
                {% set tipo = tramite.tipoTramite %}
                <li role="presentation"  class="active"><a href="#{{tramite.tipoTramite.id}}" aria-controls="todos" role="tab" data-toggle="tab">{{tramite.tipoTramite}}</a></li>
            {% elseif  tipo  != tramite.tipoTramite %}
                {% set tipo = tramite.tipoTramite %}
                <li role="presentation"><a href="#{{tramite.tipoTramite.id}}" aria-controls="todos" role="tab" data-toggle="tab">{{tramite.tipoTramite}}</a></li>
            {% endif %} 
        {% endfor %}
 </ul>

 <div id="copy"class="tab-content">
            {% for tarea in realizadas | sort((a, b) => a.tramite.tipoTramite <=> b.tramite.tipoTramite) %}
                  {% set tramite = tarea.tramite %}
                    {% if loop.first %}
                        {% set tipo = tramite.tipoTramite %}
                        <div role="tabpanel" class="tab-pane fade in active" id="{{tramite.tipoTramite.id}}">
                           
                     <table id="tablaTramite" class="table table-hover table-responsive" style="width:100%">
                        <thead>
                          {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}  
                        </thead>
                        <tbody>
                        {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}

                    {% elseif  tipo  == tramite.tipoTramite %}    
                            {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}
                    {% else %}   
                            </tbody>
                          </table> 
                       </div>
                     {% set tipo = tramite.tipoTramite %}
                     <div role="tabpanel" class="tab-pane fade " id="{{tramite.tipoTramite.id}}">
                     <table id="" class="table table-hover tablaItem table-responsive" style="width:100%">
                        <thead>
                          {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}  
                        </thead>
                        <tbody>
                        {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}
                    {% endif %}    
            {% else %}
                <h2>No tienes Tareas</h2>    
            {% endfor %}
                        </tbody>
                    </table>
                </div>
</div>
 </div>
 

{% endblock %}
{% block javascripts %}  
{{ parent() }}
<script> 
  $("#link-3").addClass('active');
</script>
{% endblock %}