{# Siarme\ExpedienteBundle\Resources\views\Tramite\index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} AGENDA{% endblock %}
  {% block header %}
   {{ include('ExpedienteBundle:Default:_header.html.twig') }}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block contenido %}
    
        {{ app.session.set('modulo', 'AGENDA') }}
        {{ app.session.set('route', 'recordatorios_index') }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-calendar') }}
  {#
      <div class="nav nav-tabs nav-justified" style="padding-top:5px;">
            <li role="presentation" class="active"><a class="glyphicon glyphicon-tasks" href="{{ path('recordatorios_index') }}"> TAREAS</a></li>
       {#  <li role="presentation" class="active"><a class="glyphicon glyphicon-folder-open" href="{{ path('expediente_recordatorios_index') }}"> EXPEDIENTES</a></li>
      </div> 

#}
    <form class="navbar-form navbar-right" method="GET" action="{{ path('recordatorios_index')}}" role="search">
       <div class="form-group">
          <div class="input-group">
            <input name="fecha"  type="date" class="form-control" placeholder="Buscar" required />
             <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></span>
         </div>
       </div>
    </form> 
    <table class="table table-hover">
        <tbody>
            {% for recordatorio in recordatorios %}
                    {% set tramite = recordatorio.tramite %}
                    <tr><td colspan=100%><span class="glyphicon glyphicon-calendar text-info"></span>{{recordatorio.fecha | date('d/m/Y') }} | {{recordatorio | upper }} - {{ include('ExpedienteBundle:Tramite:_agenda_etiqueta.html.twig') }} 
                      </td></tr>

                    {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }} 
            {% else %}
            <h2>No hay Recordatorios</h2>  
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block javascripts %}  
{{ parent() }}
<script>   $("#link-2").addClass('active');</script>
{% endblock %}