<div class="row text-center">

    {% for agente in pagination  | sort | reverse %}

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="panel panel-default" style="margin:2px;">
       <div class="panel-heading" style="margin:0px;">
        <div class="dropdown"> 
             {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
            {% include 'DocumentoBundle:Documento:_menu_simple.html.twig' with {'entidad': agente, 'tipo': 'AG'} %}
            {% include 'ExpedienteBundle:Expediente:_menu_agente_panel_heading.html.twig'  %}
          </div><!-- dropdown -->
      </div><!-- Panel Heading -->
          <h3 style="margin:0px;">
      <ul  class="pager" style="margin:0px;" >
            <a href="{{ path('agente_show', { 'id': agente.id }) }}"><span class="glyphicon glyphicon-user"></span></a>
            </h3><small> {{agente.apellidoNombre | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}<br> CUIL: {{agente.cuil | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}<br> <span class='glyphicon glyphicon-phone'></span>{{ agente.telefonoMovil }}  - {{ agente.telefonoFijo }}</small>
       <hr style="margin:0px" >
            {% include 'ExpedienteBundle:Expediente:_menu_agente_panel_footer.html.twig'  %}
    </div>
</div>
   {% endfor %}          
</div>


