
<table id="tablaExpediente" class="table table-hover text-capitalize">
  <thead>
    <tr class="text-muted">
{# sorting of properties based on query components #}
    <th>N°</th>
    <th>Expediente</th>
     <th>Iniciador</th>
    <th>Turno</th>
    <th>Acciones</th>
</tr>
  </thead>
      <tbody> 
{% for expediente in pagination %}
      <tr>
              <td>
                   {{ loop.index }}
              </td>
              <td>
                {{ expediente.extracto  }}
              </td>
              <td>                
                {{ expediente.agente}}
              </td>

              <td>    {{expediente.datoAt.fechaAt | date('d-m-Y')}}      
                 {{ include('ExpedienteBundle:Expediente:_turno_etiqueta.html.twig') }} 
 
              </td>
              <td>
                  {% if (expediente.departamentoRm  == app.user.departamentoRm )  %}
                <a data-toggle="tooltip" data-placement="top" title="Ver detalle de Expediente" href="{{ path('expediente_show', { 'id': expediente.id }) }}"><span class="glyphicon glyphicon-folder-open"> VER </span></a>
              {% else %} 
                   <a class="text-muted"data-toggle="tooltip" data-placement="top" title="NO PERTENECE AL DEPARTAMENTO"><span class="glyphicon glyphicon-folder-open"> VER </span></a>
              {% endif %}
            </td>
      </tr>
{% else %}
{% endfor %}
</tbody>
</table>

