
<table class="table table-responsive table-hover">
<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Tramites', 't.') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Expediente', 'e.letra') }}</th>
    <th {% if pagination.isSorted('a.Agente') %} class="sorted"{% endif %}> {{ knp_pagination_sortable(pagination, 'Agente', 'a.apellidoNombre') }} </th>
    <th>Extracto</th>
    <th {% if pagination.isSorted('c.Clasificacion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Clasificacion', 'c.clasificacion') }}</th>
    <th>Estado</th>
</tr>

{# table body #}
{% for expediente in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
 <td>
                  {% if expediente.tramite | length > 0 %}
                     <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Cantidad de Tramites" >{{expediente.tramite | length}}</span>
                 {% else %}
                    <p class="text-danger"><span class="glyphicon glyphicon-remove"></span></p> 
                {% endif %}
              </td>
              <td>
                <a data-toggle="tooltip" data-placement="top" title="Ver detalle de Expediente" href="{{ path('expediente_show', { 'id': expediente.id }) }}">{{ expediente | replace({ (find) :'<mark>'~find~'</mark>' }) | raw}}</a>
              </td>
              <td> 
                {% if  expediente.agente.id is defined  %}
                             <a data-toggle="tooltip" data-placement="top" title="Muestra TODOS los datos del Agente" href="{{ path('agente_show', { 'id':  expediente.agente.id }) }}">{{   expediente.agente.apellidoNombre }}</a>    
                {% else %}
          
              {% endif %}
              </td>
              <td>
                {{ expediente.extracto | replace({ (find) :'<mark>'~find~'</mark>' }) | raw }}
              </td>
              <td>                
                {{ expediente.clasificacion | replace({ (find) :'<mark>'~find~'</mark>' }) | raw}}
              </td>


                {% if  is_granted('ROLE_ADMINISTRATIVO') and (expediente.departamentoRm  == app.user.departamentoRm ) %}
              <td>                   
                {% if expediente.estado %}      
                  <a  class="label label-success" data-toggle="tooltip" data-placement="top" title="ENVIAR Expediente" href="{{ path('expediente_concluir', { 'id': expediente.id }) }}">ENVIAR</a> 

                  {% else %}
                  <a class="label label-default" data-toggle="tooltip" data-placement="top" title="RECIBIR Expediente" href="{{ path('expediente_iniciar', { 'id': expediente.id }) }}">RECIBIR</a>
                  {% endif %}
                </td>
        {% else %}

                <td>                   {% if  (expediente.tramite | length > 0)%}
                  {% if expediente.estado %}
      
                  <span  class="text-success">EN CURSO...</span> 

                  {% else %}
                  <span class="text-muted">ENVIADO...</span>
                  {% endif %}
                  {% endif %}</td>
      {% endif %}


</tr>
{% endfor %}

</table>

