{# Siarme/ExpedienteBundle/Resources/views/Extranet/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block menu_li %}
     <li>
          <a href="{{ path('expediente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista</span></a>
     </li>
        <li>
      <a href="{{ path('agente_new') }}"  role="button"> <span class="glyphicon glyphicon-exclamation-sign"> Nuevo Agente</span></a>   
     </li>  
    {#  <li >
         <a href="{{ path('expediente_new') }}"  role="button"> <span class="glyphicon glyphicon-level-up"> Crear Expediente</span> </a> 
      </li>   

      <form class="navbar-form navbar-right" method="GET" action="{{ path('expediente_index')}}" role="search">
          <div class="form-group">
            <input name="consulta"  type="text" class="form-control" placeholder="Buscar" required />
          </div>
          <button type="submit" class="btn btn-default" >Buscar</button>
      </form>#}
{% endblock %}

{% block contenido %}
<div class="center-block">
{% block mensaje %}
 {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
{% endblock %}


  <ul class="nav nav-tabs nav-justified" id="myTab">
   {% if find is empty %}
    <li class="active"><a data-toggle="tab" href="#home" role >Agentes <span class="label label-primary"> {{ pagination.getTotalItemCount }} </span></a></li>
  {% elseif  pagination.getTotalItemCount == 0 %}
      <li class="active"><a data-toggle="tab" href="#home" role >Agentes <span class="label label-default"> <small> Ninguno </small> </span></a></li>
  {% else %}
      <li class="active"><a data-toggle="tab" href="#home" role >Agentes <span class="label label-success"> <small>Encontrados </small> {{ pagination.getTotalItemCount }} </span></a></li>
  {% endif %}
    <li >
      {% if find is empty %}
    <a   data-toggle="tab" href="#menu1"> Expedientes <small class="text-success"></small> <span class="label label-primary"> Iniciados </span> </a>
    {% elseif  expedientes.getTotalItemCount == 0 %}
     <a data-toggle="tab" href="#menu1"> Expedientes <span class="label label-default"> <small> Ninguno </small> </span> </a>
    {% else %}
      <a data-toggle="tab" href="#menu1"> Expedientes <span class="label label-success"> <small>Encontrados </small> {{ expedientes.getTotalItemCount }} </span> </a>
    
  {% endif %}
    </li>
    <li><a data-toggle="tab" href="#menu2"> Expedientes con TURNOS 
      {% if turnoshoy >= 1 %}
     <span class="label label-success"> Hoy: {{turnoshoy}} </span>
     {% endif %}
     </a>
     </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

        <table id="tablaAgente" class="table table-hover text-capitalize">
            <thead>
                <tr  class="text-muted">
                    <th>Cant. Expts.</th>
                    <th>Apellido y Nombre</th>
                    <th>DNI</th>
                    <th>Localidad</th>
                    <th>Tel. Movil</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            {% for agente in pagination %}
                <tr>
                    <td>               
                        {% if (agente.expediente | length > 0 ) %}
                              <span  data-toggle="tooltip" data-placement="top" title="MUESTRA los Expedientes del Agente">
                                <button class="btn btn-primary btn-xs" data-toggle="collapse" data-target=".l-{{agente.id}}" aria-expanded="false" id="l-{{agente.id}}"> Mostrar: 
                                {{agente.expediente | length}}
                                <span class="caret"></span>
                                        
                                 </button>
                              </span>

                         {% else %}
                                <span class="glyphicon glyphicon-exclamation-sign"></span> 
                         {% endif %}
                    </td>
                    {% set find = find | upper %}

                    <td><a data-toggle="tooltip" data-placement="top" title="Muestra los DATOS del Agente" href="{{ path('agente_show', { 'id': agente.id }) }}">{{ agente.apellidoNombre | replace({ (find) :'<mark>'  ~ find ~'</mark>' }) | raw }}</a></td>
                    <td>{{ agente.dni | replace({ (find) :'<mark>'~find~'</mark>' }) | trim | raw }}</td>
                    <td>{{ agente.localidad }}</td>
                    <td>{{ agente.telefonoMovil }}</td>
                    <td>
              {% if agente.localidad is empty %}
                      <a class="label label-info" data-toggle="tooltip" data-placement="top" title="ACTUALIZAR los datos del Agente para CREAR un Expediente" href="{{ path('agente_edit', { 'id': agente.id }) }}"> Modificar </a> 
              {% else %}

                     {% set iddpto = app.user.departamentoRm.id %}
                      {# Los expedientes pueden ser INT: Expte. Interno, EU: Expte. Unico, LIC: Expte. Licencia #}
                     {% if iddpto == 1 %}
                         <a class="label label-primary" data-toggle="tooltip" data-placement="top" title="CREAR Expediente" href="{{ path('expediente_new', { 'id': agente.id , 'tipo': "int" }) }}"> Nuevo Expt</a>
                      {% elseif iddpto == 5 %}
                         <a class="label label-primary" data-toggle="tooltip" data-placement="top" title="CREAR Expediente" href="{{ path('expediente_new', { 'id': agente.id , 'tipo': "lic" }) }}"> Nuevo Expt</a>
                      {% else %}
                            <a class="label label-primary" data-toggle="tooltip" data-placement="top" title="CREAR Expediente"  href="{{ path('expediente_new', { 'id': agente.id , 'tipo': "eu" }) }}"> Nuevo Expt</a> 
                       {% endif %}  
              {% endif %}
                    </td>
                </tr>
                    <tr  class="bg-info conteiner collapse out budgets l-{{agente.id}}" >
                           <td></td>
                           <td  colspan="5">

                                {# {{ render(controller('ExpedienteBundle:Expediente:lista',
            { 'agenteId': agente.id }
        )) }} #}                 {{ include('ExpedienteBundle:Expediente:lista.html.twig' , {'pagination': agente.expediente, 'find': null }) }} 
                            </td>
                    </tr>

            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation pagination">
        {{ knp_pagination_render(pagination)  }}
        </div>
    </div>

    <div id="menu1" class="tab-pane fade">
       {% if find is empty %}  
        {% set find = "--..--" %}
        {% endif %}
        {{ include('ExpedienteBundle:Expediente:lista.html.twig', {'pagination' : expedientes , 'find': find | upper }) }}

    </div>

    <div id="menu2" class="tab-pane fade">

      {{ render(controller('ExpedienteBundle:Expediente:indexTurno'))}}

    </div>
  </div>

  
</div>

{% endblock %}
