
    {% set comentarios = entidad.id | default(null)| Comentario(tipo)  %}
    {# {% set historiales = entidad.id | default(null)| Historial(tipo) %} #}
    {% set usuario = app.user %}
    {% set compartidos = entidad.id | default(null) | Compartido(tipo, usuario.id) %}
    {#
        {% if (historiales | length > 0 ) %}
           <span data-toggle="tooltip" data-placement="top" title='Historial' > 
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span  class="glyphicon glyphicon-time text-info">{{ historiales | length }}</span></a>
              <div  class="dropdown-menu"  style="width:20em;" >     
         
                      <ul class="list-group">
                        <small >

                       {% for historial in historiales | sort | reverse %}
                          <li class="list-group-item">
                              
                                 {% if ( app.user.id == historial.usuario.id) %}
                                      <a data-toggle="tooltip" data-placement="top" title='{{ historial.usuario}}' class='glyphicon glyphicon-user glyphicon text-success small'>
                                       </a>  
                                 {% else %}       
                                       <a data-toggle="tooltip" data-placement="top" title='{{ historial.usuario}}' class='glyphicon glyphicon-user text-muted'></a> 
                                     {% endif %} <span class="text-muted">  {{ historial.usuario.usuario}} HA {{ historial.accion}} {% if historial.fecha %}{{ historial.fecha|long_time }}
                                 {% endif %}</span><br>
                              </li> 
                          
                      {% endfor %}
                      </small>
                  </ul>

              </div>
           </span>

          {% endif %}
    #}
   {% if (comentarios | length > 0 ) %}
          <span data-toggle="tooltip" data-placement="top" title='Comentario'> 
                <a class="dropdown-toggle glyphicon glyphicon-comment text-info" data-toggle="dropdown" role="button" aria-expanded="false">{{ comentarios | length }}</a>
                <div  class="dropdown-menu" style="width:20em;">  
                    
                    <ul class="list-group">
                       {% for comentario in comentarios | sort | reverse %}
                           <li class="list-group-item">
                                      <small>{% if ( app.user.id == comentario.usuario.id) %}
                                      <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-user glyphicon text-success small'>
                                       </a>  
                                      {% else %}       
                                       <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-user text-muted'></a> 
                                     {% endif %} <span class="text-muted">  {{ comentario.usuario.usuario}} ha comentado  {% if comentario.fecha %}{{ comentario.fecha|long_time }} ({{ comentario.fecha|date('d-m-Y') }}){% endif %}</span></small> <br> {{ comentario.texto }}

                                      {% if ( is_granted('ROLE_ADMIN')) or ( app.user.id == comentario.usuario.id) %}
                                   &emsp;
                                      <a data-href="{{ path('comentario_eliminar', { 'id': comentario.id }) }}" class="btn-eliminar-comentario"><span data-toggle="tooltip" data-placement="top" title='Quitar comentario' class="glyphicon glyphicon-trash" ></span></a>
                                      {% endif %}
                              </li>
                      {% endfor %}
                  </ul>
       
                </div>
               </span>
        {% endif %}

{% if (compartidos | length > 0 ) %}

 {% set alerta = false %}
&nbsp; <span data-toggle="tooltip" data-placement="top" title='Notificacion'> 
     <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share {% for compartido in compartidos if not compartido.estado %} {% set alerta = true %} text-success {% endfor %}"><small>{% if alerta %}<span class="glyphicon glyphicon-bell text-success "></span>{% endif %}</small>{{ compartidos | length }}</span></a>             
             <ul class="dropdown-menu" style="width:400px;">
    <table class="table table-striped">
        <tbody>
              {% for compartido in compartidos | sort | reverse %}

              {% if ( app.user.id == compartido.usuarioEnvia.id) or ( app.user.id == compartido.usuarioRecive.id) %}
              
                  <tr>                
                      <td> 
                          <small>
                          {% if ( app.user.id == compartido.usuarioEnvia.id) %}
                               <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia }}' class='glyphicon glyphicon-user glyphicon text-success '>
                               </a>  
                               <span class="text-muted">  {{ compartido.usuarioEnvia.usuario}} &nbsp; compartiste con &nbsp;</span>
                          {% else %}       
                                <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia}}' class='glyphicon glyphicon-user text-muted '></a> 
                                <span class="text-muted">  {{ compartido.usuarioEnvia.usuario}} &nbsp; compartió contigo &nbsp;</span>
                         {% endif %} 

                          {% if ( app.user.id == compartido.usuarioRecive.id) %}
                               <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive }}' class='glyphicon glyphicon-user glyphicon text-success '>
                               </a>  
                          {% else %}       
                                <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive}}' class='glyphicon glyphicon-user text-muted '></a> 
                         {% endif %}
                         <span class="text-muted"> 
                         {{ compartido.usuarioRecive.usuario}} &nbsp;
                         {% if compartido.fecha %}{{ compartido.fecha | long_time }}{% endif %}
                         </span> 
                       </small> <br> {{ compartido.texto | raw }}
                      </td>                
                      <td class="text-center"> 

                          {% if ( app.user.id == compartido.usuarioEnvia.id) or (compartido.estado == true) %}
                           <a  class="text-danger"  href="{{ path('compartir_eliminar', { 'id': compartido.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Eliminar Notificación' class="glyphicon glyphicon-trash"></span></a>
                          {% endif %}
                          <br>
                          {% if compartido.estado %}
                              <span data-toggle="tooltip" data-placement="top" title='Visto' class="glyphicon glyphicon-ok text-success"></span>

                          {% else %}
                                 <span data-toggle="tooltip" data-placement="top" title='Pendiente'  class="glyphicon glyphicon-ok text-muted"></span>
                                 <br><span class="glyphicon glyphicon-bell text-success "></span>
                         {% endif %}  

                       </td>
                  </tr>
                    {% endif %}
              {% endfor %}
              </tbody>
          </table>

             </ul> 
      </span>&nbsp;
       {% endif %}
