{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{documento}} {% endblock %}
  {% block header %}
 {{ include('ExpedienteBundle:Default:_breadcrumb.html.twig') }}
{% endblock %}
{% block izquierdo %}
<div id="compartir">
{{ render(controller('DocumentoBundle:Compartir:index',
            { 'tipoid': documento.id, 'tipo': "DOC" }
        )) }} 
</div>
{% endblock %}

{% block main %}   
  <ul class="nav nav-pills hidden-print">               
{% if not documento.tipoDocumento.esArchivo and (app.user.id == documento.usuario.id or is_granted('ROLE_SUPERVISOR')) %}
       {% if  (not documento.papelera) %}
              {% if not documento.tipoDocumento.esArchivo %}
                    <li role="presentation" data-toggle="tooltip" data-placement="top" title='Modificar el Documento'>            
                        <a  role="button" href="{{ path('extranet_documento_edit' , { 'id': documento.id }) }}"> <span class="glyphicon glyphicon-pencil"> </span> Modificar</a>
                    </li>       
               {% endif %}        
       {% else %}
            {% if (documento.papelera == true) %}
               <li data-toggle="tooltip" data-placement="top"  title='Restaurar Documento de Papelera'>
             <a role="button" onclick= "return confirm('¿Desea  Restaurar?');" href="{{ path('documento_restaurar', { 'id': documento.id }) }}"><span class='glyphicon glyphicon-repeat'></span> Restaurar</a>  
            </li>         
         {% endif %}
       {% endif %}
     {% if documento.papelera %}
            <li data-toggle="tooltip" data-placement="top" title='Eleminar Definitivamente el Documento'>
              {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR el Definitivamente el Documento?")'}}) }}                       
                 <button class="btn btn-danger btn-sm" type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash">Eliminar</span> </button>
                 {{ form_end(delete_form) }}
            </li> 
      {% endif %}
{% endif %}
   <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title='Comparte y Notifica a un usuario acerca de este Documento'>
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
             <ul class="dropdown-menu">
               <li class="dropdown-header" style="width:40em">
                {# El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje #}
                 {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': documento.id, 'tipo': "DOC" })) }}
               </li>
             </ul>
    </li>
{% if documento.tipoDocumento.esArchivo %}
    <li role="presentation">
      {% set type = documento.archivo |default('nn.pdf') |split('.') %}
        <a href="{{ asset('uploads/archivos/' ~ documento.archivo) }}" target="_blank" download><span class="glyphicon glyphicon-download-alt"></span> Descargar</a>
    </li>
{% endif %}
    {% if edit %}
            <li data-toggle="tooltip" data-placement="top" title='Eleminar Definitivamente el Documento'>
              {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR el Definitivamente el Documento?")'}}) }}                       
                 <button class="btn btn-danger btn-sm" type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash">Eliminar</span></button>
                 {{ form_end(delete_form) }}
            </li> 
    {% endif %}
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
  </ul> 
<div  id="copy"  class="panel panel-default print">

    <div class="panel-heading text-center" >
      {% if documento.tipoDocumento.membrete %}
         {{ include('ExpedienteBundle::Default/_membrete.html.twig') }}
      {% endif %}
      {% if documento.tipoDocumento.esArchivo %}
        <span class="file-icon" data-type='{{type[1]}}'></span> 
        {{documento.nombreArchivo}}
      {% endif %}

    </div>
    <!-- Pueba de margenes <div class="panel-body"  style="margin-left: 4em ; margin-right: 2em"> -->
     <div {% if documento.papelera %} 
   class="panel-body"   style="background-color:#F5F0F5;"
{% else %}
  class="panel-body" 
{% endif %}
style="text-size : 14px; margin-left: 1em ; margin-right: 1em"> 
        {% if documento.tipoDocumento.esArchivo %}
             {{ include('DocumentoBundle::Documento/include/archivo_show.html.twig')}}
        {% else %} 
             {{ include(['DocumentoBundle::Documento/include/'~ documento.slug ~'_show.html.twig','DocumentoBundle::Documento/include/'~ documento.tipoDocumento ~'_show.html.twig', 'DocumentoBundle::Documento/include/default_show.html.twig']) }}
         {% endif %}      
    </div> <!-- Panel-body-->

</div>   <!-- Panel-->


{% endblock %}

 {% block derecho %}
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': documento.id, 'tipo': "DOC" }
        )) }}
     
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': documento.id, 'tipo': "DOC" }
        )) }}


 {% endblock %}
{% block javascripts %} 
{{ parent() }}

 <script>

 $( ".panel-body" ).find( "hr" ).attr("style","margin-top:20px; border: 0.5px dashed;" );
  $( ".panel-body" ).find( ".linea" ).attr("style","margin:5px; border: 0.5px dashed;" );
 
// $('hr').attr("style","margin-top:20px; border: 0.5px dashed;" );

    $(".btn-eliminar-comentario").unbind('click').click( function(){
      var $op=confirm("Esta seguro de Eliminar ");
      if ($op==true) {
        var $href= $(this).attr("data-href");
       // alert(URL+$href);
        $(this).parent().parent().addClass("hidden");
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){
                console.log( response);

             } 
        });
      } 
      
    });

</script>
{% endblock %}
{% block footer %}
<dir class="footer"></dir>
{% endblock %}