{# Siarme\DocumentoBundle\Resources\views\Documento\javascript.html.twig#}

{# MODULO EDITAR Y NUEVO DOCUMENTO #}
<script type="text/javascript">

 CKEDITOR.replace( 'siarme_documentobundle_docadministrativo_texto', {  height: 700,
    // Configure SCAYT to load on editor startup.
   // scayt_autoStartup: true,
   // autoGrow_onStartup: true,
} );

</script>
<script type="text/javascript">
 CKEDITOR.replace( 'siarme_documentobundle_docmedico_texto', {  height: 700, 
    // Configure SCAYT to load on editor startup.
    //scayt_autoStartup: true,
 //   autoGrow_onStartup: true,
} );
</script>

<script>

/*-- $('select').select2({  allowClear:true, placeholder:""});*/
$('select').select2({  allowClear:true, placeholder:"Buscar"});
/**$('#siarme_documentobundle_docmedico_Licencia_fechaDesde').change(function() {
        var start= $("#siarme_documentobundle_docmedico_Licencia_fechaDesde").val();
    var end= $("#siarme_documentobundle_docmedico_Licencia_fechaHasta").val();

     var startDay = new Date(start);
     var endDay = new Date(end);
     if (startDay > endDay) { alert("VERIFIQUE la Fecha Hasta  debe ser mayor a la Fecha Desde");}
     var millisecondsPerDay = 1000 * 60 * 60 * 24;

     var millisBetween = endDay.getTime() - startDay.getTime();
     var days = millisBetween / millisecondsPerDay;

      // Round down.
       alert("DÍAS: " + (Math.floor(days) + 1));
});*/


     {% if documento.licencia.agente  is defined %}


function formatFecha(fecha){
    var start_date = fecha;
    var d = start_date.slice(0, 10).split('-');   
    var start_date = d[0] +'-'+ d[1] +'-'+ d[2];
    var date = new Date(start_date);

     date.setDate(date.getDate() + 1);
    var month = '' + (date.getMonth() + 1),
    day = '' + (date.getDate()),
    year = date.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month, year].join('-');
}        

function actualizarFechaHasta(){

    var dia = $('#siarme_documentobundle_docmedico_Licencia_dias').val();

    if (dia > 0 ){ 

       $("label[for='siarme_documentobundle_docmedico_Licencia_dias']").html('Días:');

        var start_date = $("#siarme_documentobundle_docmedico_Licencia_fechaDesde").val();
        var d = start_date.slice(0, 10).split('-');   
        var start_date = d[0] +'-'+ d[1] +'-'+ d[2];
        var date = new Date(start_date);
        var dias = parseInt(dia);

        date.setDate(date.getDate() + dias);
        var month = '' + (date.getMonth() + 1),
        day = '' + (date.getDate()),
        year = date.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        $("#siarme_documentobundle_docmedico_Licencia_fechaHasta").val([year, month, day].join('-'));
  } else {  

      $("label[for='siarme_documentobundle_docmedico_Licencia_dias']").html('Días: &emsp;&emsp;&emsp; <span class="glyphicon glyphicon-warning-sign text-danger"> </span> <span class="text-danger"> Verifique Días: ' + dia + ' <span/>'); 
  }
    //return [year, month, day].join('-');
}


function tituloLicenciaPeriodo(titulo) {
$('#titulo_licencia_periodo').html(titulo);
};

function tituloLicenciaFechaDesde(titulo) {
$('#titulo_licencia_fecha_desde').html(titulo);

};

function tituloLicenciaFechaHasta(titulo) {
$('#titulo_licencia_fecha_hasta').html(titulo);
};


function searchLicenciaPeriodo(){
    var fechaDesde = $("#siarme_documentobundle_docmedico_Licencia_fechaDesde").val();
    var fechaHasta = $("#siarme_documentobundle_docmedico_Licencia_fechaHasta").val();
        $.ajax({
          type: 'post', //send it through get method
          dataType: 'json', //response type
          url: URL + "{{ path( 'ajax_licencia_search_periodo' , { 'id': documento.licencia.agente.id} ) }}",
          data: { 
            fechaDesde: fechaDesde, 
            fechaHasta: fechaHasta, 
          },
          success: function(response) {   

            if (response[0].id > 0){

              tituloLicenciaPeriodo("<span class='glyphicon glyphicon-warning-sign text-danger'> </span> Existen licencias intermedias desde el <strong> "+ formatFecha(fechaDesde) +" al "+ formatFecha(fechaHasta) +  " </strong> ");
              $(".alert-periodo").load("{{ path( 'licencia_search_periodo' , { 'id': documento.licencia.agente.id, 'fecha_desde':" "})}}" + fechaDesde +"/"+ fechaHasta);

            } else { 
                tituloLicenciaPeriodo(""); 
               $(".alert-periodo").html("");
            }
          },
          error: function() {
            alert("error");
            //Do Something to handle error
          }
        });
};


function searchLicenciaFechaDesde( ){
    var fechaDesde = $("#siarme_documentobundle_docmedico_Licencia_fechaDesde").val();
        $.ajax({
          type: 'post', //send it through get method
          dataType: 'json',
          url: URL + "{{ path( 'ajax_licencia_search_fecha' , { 'id': documento.licencia.agente.id} ) }}",
          data: { 
            fecha: fechaDesde, 
          },
          success: function(response) {   
           // var len = response.length;
          //  alert(response[0].id);

            if (response[0].id > 0){

              tituloLicenciaFechaDesde("<span class='glyphicon glyphicon-warning-sign text-danger'> </span> La Fecha Desde <strong> "+ formatFecha(fechaDesde) + " </strong> se superpone con: ");

              $(".alert-fechaDesde").load("{{ path( 'licencia_search_fecha' , { 'id': documento.licencia.agente.id, 'fecha':" "})}}" + fechaDesde );
            //  mostrarLicenciaFechaDesde($('#siarme_documentobundle_docmedico_Licencia_dias').val(), fecha); 
            } else { 
              tituloLicenciaFechaDesde(""); 
               $(".alert-fechaDesde").html("");

            }
              
         /*   for(var i=0; i<len; i++){
                var id = response[i].id;
                var text = response[i].text;

                var tr_str = "<tr>" +
                    "<td align='center'>" + (i+1) + "</td>" +
                    "<td align='center'>" + text + "</td>" +
                    "</tr>";

                $("#tablaLic").append(tr_str);
            }*/

          },
          error: function() {
            alert("error");
            //Do Something to handle error
          }
        });
};

function searchLicenciaFechaHasta( ){
 var fechaHasta = $("#siarme_documentobundle_docmedico_Licencia_fechaHasta").val();

//alert("ok");
        $.ajax({
          type: 'post', //send it through get method
          dataType: 'json',
          url: URL + "{{ path( 'ajax_licencia_search_fecha' , { 'id': documento.licencia.agente.id} ) }}",
          data: { 
            fecha: fechaHasta, 
          },
          success: function(response) {   
            //var len = response.length;

            if (response[0].id > 0){
               tituloLicenciaFechaHasta("<span class='glyphicon glyphicon-warning-sign text-danger'> </span> La Fecha Hasta <strong> " + formatFecha(fechaHasta) + " </strong> se superpone con:");

                $(".alert-fechaHasta").load("{{ path( 'licencia_search_fecha' , { 'id': documento.licencia.agente.id, 'fecha':" "})}}" + fechaHasta );
            } else {
               tituloLicenciaFechaHasta("");
               $(".alert-fechaHasta").html(""); 
             }
              
         /*   for(var i=0; i<len; i++){
                var id = response[i].id;
                var text = response[i].text;

                var tr_str = "<tr>" +
                    "<td align='center'>" + (i+1) + "</td>" +
                    "<td align='center'>" + text + "</td>" +
                    "</tr>";

                $("#tablaLic").append(tr_str);
            }*/

          },
          error: function() {
            alert("error");
            //Do Something to handle error
          }
        });
};

// Compruebo si hay licencias en las fechas por defecto
 searchLicenciaFechaDesde();
 searchLicenciaFechaHasta();

// Compruebo si hay licencias coincidentes con la fecha desde al cambiar
$('#siarme_documentobundle_docmedico_Licencia_fechaDesde').change(function() {
    var dia = $('#siarme_documentobundle_docmedico_Licencia_dias').val();
    actualizarFechaHasta();
    if (dia > 0) {
           searchLicenciaFechaDesde();
           searchLicenciaFechaHasta();
        //$("#siarme_documentobundle_docmedico_Licencia_fechaHasta").attr('disabled','disabled');
    } 
});

// Compruebo si hay licencias coincidentes con la fecha hasta al cambiar
$('#siarme_documentobundle_docmedico_Licencia_dias').change(function() {

    var dia = $('#siarme_documentobundle_docmedico_Licencia_dias').val();

    actualizarFechaHasta();

    if (dia > 0){ 
        searchLicenciaFechaHasta();
        searchLicenciaPeriodo();
      }
        //$("#siarme_documentobundle_docmedico_Licencia_fechaHasta").attr('disabled','disabled');
}); 

{% endif %}

 </script>
