{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itempedidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Trimestre</th>
                <th>Codigo</th>
                <th>Item</th>
                <th>Condetalle</th>
                <th>Unidadmedida</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itemPedido in itemPedidos %}
            <tr>
                <td><a href="{{ path('itempedido_show', { 'id': itemPedido.id }) }}">{{ itemPedido.id }}</a></td>
                <td>{% if itemPedido.fecha %}{{ itemPedido.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ itemPedido.trimestre }}</td>
                <td>{{ itemPedido.codigo }}</td>
                <td>{{ itemPedido.item }}</td>
                <td>{{ itemPedido.conDetalle }}</td>
                <td>{{ itemPedido.unidadMedida }}</td>
                <td>{{ itemPedido.precio }}</td>
                <td>{{ itemPedido.cantidad }}</td>
                <td>{% if itemPedido.estado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('itempedido_show', { 'id': itemPedido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('itempedido_edit', { 'id': itemPedido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itempedido_new') }}">Create a new itemPedido</a>
        </li>
    </ul>
{% endblock %}
