{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} AGENTE{% endblock %}

{% block menu_li%}

{% endblock %}
{% block contenido %}
 <div class="container"> 
{% block mensaje %}
 {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
{% endblock %}
<a href="{{ path('tramite_index') }}">Volver a lista de Pedidos</a>
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">PEDIDO {{ tramite.numeroTramite }} - Fecha: {% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}</div>

  <!-- List group -->
  <div class="list-group" aria-multiselectable="true">
    <div class="list-group-item text-center" >
        <dl class="list-group-item-heading" role="tab" id="headingTwo">
             <dt>
                {{ tramite.trimestre }}° Trimestre - SAF N° {{ tramite.organismoOrigen.saf.numeroSaf }} - {{ tramite.organismoOrigen.codigoGde }} - {{ tramite.organismoOrigen.organismo }}  
              </dt>
              <dt> Rubro y SubRubro: </dt>
              <dd>{{ tramite.rubro}}</dd>
              <dt>Presupuesto Oficial: </dt>
              <dd > {{ tramite.PresupuestoOficial }}</dd>        
        </dl>
    </div>
      <div class="panel collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="tab" id="headingThree">
           <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4 class="glyphicon glyphicon-paperclip text-info"></h4> Nuevo Documento<span class="caret"></span>
            </a>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                {% for tipo in tramite.tipoTramite.tipoDocumento if (tipo.visible) %}                               
                 <div style="width: 18rem;" href="{{ path( 'documento_new' , { 'id': null, 'tramite': tramite.id, 'slug': tipo.slug  } ) }}" role="button"> 
                 <span style="font-size:25px; margin:2px;"  class= '{{ tipo.glyphicon}} ~ text-info'> </span>{{ tipo.nombredocumento }}<span> &nbsp; </span>
                  </div>                                   
                {% endfor %}
                {#<a  href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>#}
            </div>
          </div>

      </div>
      <div id="collapseThree"  role="tabpanel" aria-labelledby="headingThree">
          <div class="list-group-item-text"> fsfsffd</div>
            
            <div class="list-group-item panel-footer text-center"> 
            </div>
      </div>
       
  </div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

</div>

{% endblock %}
