{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}

{% block title %} {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} {% endblock %}
{% block contenido %}
<div class="container"> 
 {% set pedidos1 = tramite.expediente | tramite_por_expediente_slug("tramite_pedido") %}
{% if pedidos1 | length > 1 %}
<nav aria-label="Page navigation">
  <ul class="pager"  style="margin-bottom:0px; margin-top:5px;">
    {% for tramite1 in pedidos1 %}
        {% if tramite1.id == tramite.id %}
            <li class="active"><span  class='{{ tramite1.tipoTramite.glyphicon}}'></span>{{tramite1.tipoTramite}} N° {{tramite1.numeroTramite }}</strong></li>
        {% else %} 
                <li data-toggle="tooltip" data-placement="top" title="{{tramite1.organismoOrigen}}"><a href="{{ path('tramite_show', { 'id': tramite1.id  }) }}"><span  class='{{ tramite1.tipoTramite.glyphicon}}'></span>{{tramite1.tipoTramite}} N° {{tramite1.numeroTramite }}</a></li> 
        {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{#{% if ( app.user.departamentoRm == tramite.departamentoRm ) and (( tramite.expediente | default(null) | movimiento_estado(app.user)) or tramite.expediente.id is not defined) %} #}
{% if edit %}
    <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                    {{ render(controller('ExpedienteBundle:Tramite:edit', {'id': tramite.id  }))}}
              </div>
            </div>
    </li> 
    <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}' >
                <a  role="button" onclick= "return confirm('¿Desea ELIMINAR el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}?');" href="{{ path('tramite_eliminar' , { 'id': tramite.id }) }}"> <span class="glyphicon glyphicon-trash text-danger"> </span> Eliminar</a>
    </li>  
{#
       {% if (movimientoPendiente is defined) and (movimientoPendiente is not empty) %}
          {% if   tramite.expediente | length <= 0 %}
         <li role="presentation" data-toggle="tooltip" data-placement="top" title='Añadir este {{ tramite.tipoTramite }} al expediente iniciado para consolidar'>
            <a  role="button" href="{{ path('tramite_expediente_agregar' , { 'tramite_id': tramite.id }) }}"> <span class="glyphicon glyphicon-folder-open text-warning" onclick= "return confirm('¿Desea consolidar?');" ></span> Añadir</a>
        </li>
       {% endif %}
      {% elseif (tramite.expediente | length <= 0)  %}
        <li role="presentation" data-toggle="tooltip" data-placement="top" title='Añade este {{ tramite.tipoTramite }} a un nuevo expediente'>
          <a  role="button" href="{{ path('movimiento_expediente_new' , { 'tramite_id': tramite.id }) }}"><span class="glyphicon glyphicon-folder-open" onclick= "return confirm('¿Desea iniciar una Solicitud?');" ></span> Añadir PEDIDO</a> 
         </li>
      {% endif %}
#}
{% endif %} 
         {#
         <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title='Comparte y Notifica a un usuario acerca este PEDIDO'>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
                     <ul class="dropdown-menu">
                       <li class="dropdown-header" style="width:40em">
                        {- El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje -}
                         {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite)})) }}
                       </li>
                     </ul>
            </li>
        #}
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">

            <a href="https://docs.google.com/spreadsheets/d/1evDkuVFNirUdLmjbtP_0FPM9w8Ty6XPccaxQ7ZiLn-8/edit?usp=sharing" target="_blank"> <span class="fa fa-file-excel-o text-success" ></span> Montos BAPIN </a>&nbsp;&nbsp;
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
{% set year = 'now' | date('Y')%}
<!-- copiar - imprimir-->
<div id="copy" class="panel panel-default print">
    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style> 
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp;<span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} | {% if tramite.fechaDestino %} {{ tramite.fechaDestino|date('d-m-Y') }}  {{ tramite.fechaDestino| long_time }} {% endif %}
       
        {% if tramite.expediente.id is defined %}
                {% if ( tramite.expediente |  default(null) | movimiento_estado(app.user))  %}
                     <span class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                    {#<span  class="label label-primary  pull-right">Activo</span>#}
                 {% else %}
                        <span class="pull-right {{tramite.estadoTramite.class}}">{{tramite.estadoTramite }}</span>
                        <span  class="label label-default pull-right" data-toggle="tooltip" data-placement="bottom" title='Para modificar el PEDIDO debe cambiar el estado de la Nota DPPR que lo contiene'>Enviado</span> 
              {% endif %}
        {% else %}
            {% if app.user.departamentoRm.slug == "dppr" %}
                 <span class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
             {% endif %}
        {% endif %}
      </div>

     <div class="panel-body">
            <dl class="list-group-item-heading text-center" role="tab" id="headingTwo">
                <dt>Expediente | CCOO</dt>
                <dd>
                {% if tramite.expediente.id is defined %}
                    <span class="glyphicon glyphicon-folder-open"></span> <a href="{{ path('expediente_show', { 'id': tramite.expediente.id | default(1) }) }}"><span id="expediente">{{ tramite.expediente.numeroGde | default("") }}</span></a>
                     {% if tramite.expediente.numeroGde is not empty %}
                         <!-- clipboard-copiar texto de id="copy" -->
                         <a class="btn hidden-print" data-clipboard-target="#expediente">
                         <span class="glyphicon glyphicon-copy"></span></a>
                     {% endif %} 
                     {% if edit %}
                        <span role="presentation"  class="dropdown overflow hidden-print">
                                <a class="dropdown-toggle" href="#" role="presentation" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {% if tramite.expediente.numeroGde is empty %} Agregar {% else %} <span class="glyphicon glyphicon-pencil"></span> {% endif %}<span class="caret"></span></a>
                                <div class="dropdown-menu dropdown-menu-right" style="width: 400px;" aria-labelledby="dropdownMenuLink">   
                                    <div class="list-group-item">
                                        {{ render(controller('ExpedienteBundle:Expediente:gdeEdit', {'id': tramite.expediente.id  }))}}
                                  </div>
                                </div>
                         </span>  
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;    
                    <a href="{{ path('expediente_show', { 'id': tramite.expediente.id | default(0) }) }}"><span id="ccoo">{{tramite.expediente.ccoo | default("") }}</span></a>
                    <!-- clipboard-copiar texto de id="copy" -->
                    <a class="btn hidden-print" data-clipboard-target="#ccoo">
                    <span class="glyphicon glyphicon-copy"></span></a>
                {% else %}
                    <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning"></span>Sin pase
                {% endif %}
                </dd>
                <dt> Nota del SAF</dt>
                <dd >{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}} |  {{ tramite.trimestre }}° Trimestre</dd>
                {% if tramite.estadoTramite.slug == "rectificacion" or tramite.numeroComprar is not empty %}
                        <dt>CCOO Rectificación</dt>  
                        <dd>{{tramite.numeroComprar | default("-")}}</dd>
                {% endif %}
                {% if tramite.estadoTramite.slug == "devuelto" %}
                        <dt>CCOO No Concentra</dt>
                        <dd>{{tramite.numeroNota | default("-")}}</dd>
                {% endif %}
                <dt>Objeto</dt>
                <dd> {{ tramite.texto | default("* Subir una Nota de Pedido.") }}</dd>
                {% if tramite.texto is not empty %} {% endif %}
                 <dt>Unidad Ejecutora</dt>
                 <dd>
                     SAF N° {{ tramite.organismoOrigen.saf.numeroSaf | default("N/D") }} - {{ tramite.organismoOrigen.codigoGde | default("N/D") }} - {{ tramite.organismoOrigen.organismo | default("N/D") }}  
                  </dd>

                  <dt> Rubro</dt>
                  <dd>{{ tramite.rubro}}</dd>
                  <dt>Presupuesto Oficial </dt>
                  <dd> 
                    {% if (tramite.PresupuestoOficial | number_format(2, ',', '.') != tramite.presupuestoOficialItem | number_format(2, ',', '.') ) and tramite.documento | length > 0  %} <span class="glyphicon glyphicon-info-sign text-warning"  data-toggle="tooltip" data-placement="bottom" title='Verifique el Presupuesto Oficial, el total por item es $ {{ tramite.presupuestoOficialItem  | number_format(2, ',', '.')  }}' ></span> {% endif %}
                        
                    {{tramite.moneda}} ${{ tramite.PresupuestoOficial | number_format(2, ',', '.')  }} <br />
                    ( {{ numero_a_letras(tramite.PresupuestoOficial,2, tramite.moneda) }} ) <br />
        
                    {% set itemsRubro = tramite | tramite_pedido_item_por_rubro("rubro") %}
                    {% set itemsIpp = tramite | tramite_pedido_item_por_rubro("ipp") %}
                        <table class="table">
                             <thead class="text-center">
                                {% if itemsIpp | length > 0 %}
                                   <th class="bg-success">Cantidad Ítems por Imputación Presupuestaria</th>
                                {% endif %}
                                {% if itemsRubro | length > 0 %}
                                    <th class="bg-warning">Cantidad Ítems por Rubro Comprar</th>
                                 {% endif %}
                             </thead>
                            <tr>
                            {% if itemsIpp | length > 0 %}
                                <td class="bg-success">                                  
                                        <table class="table table-bordered text-left">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                {% for item in itemsIpp %}
                                                    <tr>
                                                        <td>{% set rubro = item.ipp | rubro %} {{ rubro | title }} </td>
                                                        <td>{{item.cantidad}} ítems</td>
                                                        <td>$ {{item.presupuesto  | default(0) | number_format(2, ',', '.')}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                         </table>  
                                </td>
                            {% endif %}
                            {% if itemsRubro | length > 0 %}
                                <td class="bg-warning">
                                        <table class="table table-bordered text-left">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                {% for item in itemsRubro %}
                                                    <tr>
                                                        <td>- {{ item.rubro }}</td>
                                                        <td>{{item.cantidad}} ítems</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                         </table>  
                                </td>
                            {% endif %}
                            </tr>
                        </table>
                 </dd>   
                  <dt> Disponibilidad de Crédito Presupuestario {% if ( app.user.departamentoRm == tramite.departamentoRm ) and ( tramite.expediente | default(null) | movimiento_estado(app.user)  or tramite.expediente.id is not defined ) %} |  <a role="button" data-href="{{ path('credito_new', {'id':tramite.id})}}" class="btn-nuevoCredito"> <span  class="glyphicon glyphicon-plus-sign"></span> Nuevo </a>{% endif %} 
                  </dt> 
                  <dd>
                    {% set creditos = tramite.credito %}
                    {{ include('ExpedienteBundle:Credito:_lista.html.twig') }}
                  </dd>
                <div class="hidden-print">
                <dt>Tarea&nbsp;&nbsp; 
                    {% if ( app.user.departamentoRm.slug == "dppr") %}
                        {% set mitramite = tramite_usuario(app.user, tramite) %}
                            {% if mitramite is empty %}
                                <a  href="{{ path('adquirir_tarea_new', { 'id': tramite.id }) }}" class="btn btn-sm btn-primary">Adquirir PEDIDO</a> 
                            {% endif %} 
                   {% endif %}
                </dt>
                <dd>
                    {% set tareas = tramite.tarea %}
                    <table class="table table-hover">
                            <tbody> 
                              {% for tarea in tareas %}
                                    {% set tramite = tarea.tramite %}
                                    {{ include('ExpedienteBundle:Tarea:_tbody_completo.html.twig') }}      
                             {% endfor %}
                            </tbody>
                    </table>
                </dd>
                <dd >
                    {{ render(controller('DocumentoBundle:Compartir:index', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) } )) }} 
                </dd>
                </div>
            </dl>           
 {# ---- PARA HABILITAR ----------
            {% if tramite.estadoTramite.porcentaje < 100 %}
                    <div class="progress progress-striped active" style="margin:0px;">
                          <div class="progress-bar" role="progressbar"
                          aria-valuenow="{{tramite.estadoTramite.porcentaje}}" aria-valuemin="0" aria-valuemax="100"
                          style="width: {{tramite.estadoTramite.porcentaje}}%">
                          <span class="sr-only">{{tramite.estadoTramite.porcentaje}}% completado</span>
                          </div>
                    </div>
             {% else %}
                    <div class="progress progress-striped" style="margin:0px;">
                      <div class="progress-bar progress-bar-success" role="progressbar"
                           aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%">
                        <span class="sr-only">100% completado (éxito)</span>
                      </div>
                    </div>
            {% endif %}
#}
   </div>


<!-- Large modal -->
<div id="modal-credito"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
            <h3>DISPONIBILIDAD DE CREDITO PRESUPUESTARIO
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </h3>
     </div><!-- /.header -->
         <div id="modal-body-credito" class="modal-body">
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Large modal -->
<div id="modal-nuevo-item"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog " role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
     </div><!-- /.header -->
         <div id="modal-body-nuevo-item" class="modal-body">
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_panel_body.html.twig') }}
{#    {{ render(controller('ExpedienteBundle:Expediente:modalExpedienteNew', {'tramite_id': tramite.id}))}}#}
</div>

 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
</div>
{% endblock %}

{% block javascripts %} 
{{ parent() }}
{{ include('AusentismoBundle:ItemPedido:_java_script.html.twig') }} 
<script>
$("#siarme_expedientebundle_tramite_PresupuestoOficial").change(function() {
  let str = $(this).val();
  str = str.replace("$", "");
  str = str.replace(".", "");
  str = str.replace(".", "");
  str = str.replace(".", "");
  str = str.trim();
  $("#siarme_expedientebundle_tramite_PresupuestoOficial").val(str);
            });
</script>
{% endblock  %}
{% block footer %}
<dir class="footer"></dir>
{% endblock %}