
<span><a data-toggle="tooltip" data-placement="top" title='{{ itemOferta.oferta.oferente }}' href="{{ path('tramite_show', { 'id': itemOferta.oferta.id }) }}"><small>{{ itemOferta.oferta.oferente[:33]}}{# itemOferta.oferta.tipoTramite}} {{ itemOferta.oferta.numeroTramite #}</small></a></span>
<span>{% if itemOferta.tipo == 1 %}<span class="label label-primary">Principal</span>{% else %}<span class="label label-default">Alternativa</span>{% endif %}</span>
{% set comentarios = entidad.id | default(null)| Comentario(tipo)  %}
{% if (comentarios | length > 0 ) %}
     <span data-toggle="tooltip" data-placement="top" title='Comentario' class='hidden-print'> 
        <a class="dropdown-toggle glyphicon glyphicon-comment text-info" data-toggle="dropdown" role="button" aria-expanded="false">{{ comentarios | length }}</a>
        <div  class="dropdown-menu" style="width:400px;">  
            
            <ul class="list-group">
               {% for comentario in comentarios | sort | reverse %}
                   <li class="list-group-item">
                              <small>{% if ( app.user.id == comentario.usuario.id) %}
                              <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog glyphicon text-success small'>
                               </a>  
                              {% else %}       
                               <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog text-muted'></a> 
                             {% endif %} <span class="text-muted">  {{ comentario.usuario.usuario}} ha comentado  {% if comentario.fecha %}{{ comentario.fecha|long_time }} ({{ comentario.fecha|date('d-m-Y') }}){% endif %}</span></small> <br> {{ comentario.texto }}

                              {% if ( is_granted('ROLE_ADMIN')) or ( app.user.id == comentario.usuario.id) %}
                           &emsp;
                              <a data-href="{{ path('comentario_eliminar', { 'id': comentario.id }) }}" class="btn-eliminar-comentario"><span data-toggle="tooltip" data-placement="top" title='Quitar comentario' class="glyphicon glyphicon-trash" ></span></a>
                              {% endif %}
                      </li>
              {% endfor %}
          </ul>
        </div>
       </span>
{% endif %}

{# if (itemOferta.texto is not empty ) %}
     &nbsp;
     <span data-toggle="tooltip" data-placement="top" title='Detalle Técnico' class='hidden-print'> 
        <a aria-hidden="true" class="dropdown-toggle overflow fa fa-file-text text-info" data-toggle="dropdown" role="button" aria-expanded="false">1</a>
        <div  class="dropdown-menu" style="width: 400px;">  
            <ul class="list-group">
               <li class="list-group-item">
                        {{itemOferta.texto | raw}}
               </li>
           </ul>
        </div>
       </span>
{% endif #}