{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itemofertas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Numero</th>
                <th>Tipo</th>
                <th>Codigoespecial</th>
                <th>Codigo</th>
                <th>Item</th>
                <th>Marca</th>
                <th>Unidadmedida</th>
                <th>Cantidad</th>
                <th>Cantidadsolicitada</th>
                <th>Precio</th>
                <th>Pfprecio</th>
                <th>Pfcalidad</th>
                <th>Pfplazoentrega</th>
                <th>Pfantecedente</th>
                <th>Cantidadadjudicada</th>
                <th>Estado</th>
                <th>Adjudicado</th>
                <th>Texto</th>
                <th>Sistema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itemOfertum in itemOfertas %}
            <tr>
                <td><a href="{{ path('itemoferta_show', { 'id': itemOfertum.id }) }}">{{ itemOfertum.id }}</a></td>
                <td>{% if itemOfertum.fecha %}{{ itemOfertum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ itemOfertum.numero }}</td>
                <td>{{ itemOfertum.tipo }}</td>
                <td>{{ itemOfertum.codigoEspecial }}</td>
                <td>{{ itemOfertum.codigo }}</td>
                <td>{{ itemOfertum.item }}</td>
                <td>{{ itemOfertum.marca }}</td>
                <td>{{ itemOfertum.unidadMedida }}</td>
                <td>{{ itemOfertum.cantidad }}</td>
                <td>{{ itemOfertum.cantidadSolicitada }}</td>
                <td>{{ itemOfertum.precio }}</td>
                <td>{{ itemOfertum.pFPrecio }}</td>
                <td>{{ itemOfertum.pFCalidad }}</td>
                <td>{{ itemOfertum.pFPlazoEntrega }}</td>
                <td>{{ itemOfertum.pFAntecedente }}</td>
                <td>{{ itemOfertum.cantidadAdjudicada }}</td>
                <td>{% if itemOfertum.estado %}Yes{% else %}No{% endif %}</td>
                <td>{% if itemOfertum.adjudicado %}Yes{% else %}No{% endif %}</td>
                <td>{{ itemOfertum.texto }}</td>
                <td>{{ itemOfertum.sistema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('itemoferta_show', { 'id': itemOfertum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('itemoferta_edit', { 'id': itemOfertum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itemoferta_new') }}">Create a new itemOfertum</a>
        </li>
    </ul>
{% endblock %}
