{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}Items{% endblock %}
{% block contenido %}

 <div class="row text-center">
    <h4>ITEMS ADJUDICADOS {{'now' | date("Y")}}</h4>
 {#   <form class="navbar-form navbar" method="GET" action="{{ path('itemoferta_index_adjudicado')}}" role="search">
       <div class="form-group">
          <div class="input-group">
            <input style="width=100%;" id="buscar" name="consulta"  type="text" class="form-control" placeholder="Buscar ítem"  value="{{find}}"  />
             <span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></span>
         </div>
       </div>
    </form> #}
</div>
<ul class="nav nav-pills hidden-print"  style="margin-bottom:1px;">
    <div class="pull-right">
            <li  role="presentation">
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div> 
</ul>
    <table id="copy" class="table table-hover table-responsive tablaItem">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Rubro</th>
                <th>Decripcion COMPRAR | OFERTA</th>
                <th>Calidad</th>
                <th>Precio Unitario</th>
                <th>Tiempo</th>
            </tr>
        </thead>
        <tbody>
        {% for itemOferta in itemOfertas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ itemOferta.codigo }}</td>
                <td>{% set itemCatalogo = itemOferta | item_catalogo %}{{itemCatalogo.rubro  |default("-")}}</td>
                <td>{% set itemOferta = itemOferta | item_oferta_adjudicado %}<div data-toggle="tooltip" data-placement="top" title='Descripción y Rubro COMPRAR' style="font-size:10px; padding:0px; margin:0px; background-color: #eef1ea; border:1px dashed black;"><strong>{{ itemOferta.itemProceso.item }}</strong></div><div>{{ itemOferta.item }}</div> </td>
                <td>{% include 'AusentismoBundle:ItemOferta:_calidad_etiqueta.html.twig' %}</td>
                <td>${{itemOferta.precio | default(0) | number_format(2, ',', '.')  }}</td>
                <td>
                    {{itemOferta.fecha | long_time}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
