{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itemofertum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ itemOfertum.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if itemOfertum.fecha %}{{ itemOfertum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ itemOfertum.numero }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ itemOfertum.tipo }}</td>
            </tr>
            <tr>
                <th>Codigoespecial</th>
                <td>{{ itemOfertum.codigoEspecial }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ itemOfertum.codigo }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{{ itemOfertum.item }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ itemOfertum.marca }}</td>
            </tr>
            <tr>
                <th>Unidadmedida</th>
                <td>{{ itemOfertum.unidadMedida }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ itemOfertum.cantidad }}</td>
            </tr>
            <tr>
                <th>Cantidadsolicitada</th>
                <td>{{ itemOfertum.cantidadSolicitada }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ itemOfertum.precio }}</td>
            </tr>
            <tr>
                <th>Pfprecio</th>
                <td>{{ itemOfertum.pFPrecio }}</td>
            </tr>
            <tr>
                <th>Pfcalidad</th>
                <td>{{ itemOfertum.pFCalidad }}</td>
            </tr>
            <tr>
                <th>Pfplazoentrega</th>
                <td>{{ itemOfertum.pFPlazoEntrega }}</td>
            </tr>
            <tr>
                <th>Pfantecedente</th>
                <td>{{ itemOfertum.pFAntecedente }}</td>
            </tr>
            <tr>
                <th>Cantidadadjudicada</th>
                <td>{{ itemOfertum.cantidadAdjudicada }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if itemOfertum.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Adjudicado</th>
                <td>{% if itemOfertum.adjudicado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ itemOfertum.texto }}</td>
            </tr>
            <tr>
                <th>Sistema</th>
                <td>{{ itemOfertum.sistema }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itemoferta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('itemoferta_edit', { 'id': itemOfertum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
