{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} ITEM OFERTA {{ itemOferta.numero }} {% endblock %}
{% block contenido %}
 <div class="container"> 
{% set items = itemOferta.oferta.itemOferta %}
{% if items | length > 1  %} 
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm" style="margin-bottom:0px; margin-top:5px;">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">Ítems: &laquo;</span>
      </a>
    </li>
    {% for item in items %}
        {% if itemOferta.numero == loop.index %}
            <li class="active"><a href="{{ path('itemoferta_show', { 'id': item.id }) }}">{{loop.index}}</a></li>
        {% else %}
            <li><a href="{{ path('itemoferta_show', { 'id': item.id }) }}">{{loop.index}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %} 
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{# if ( app.user.departamentoRm == itemOferta.oferta.departamentoRm ) and ( itemOferta.oferta.expediente | default(null) | movimiento_estado(app.user)) #}
{% if edit %}
      <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                  {{ render(controller('AusentismoBundle:itemOferta:edit', {'id': itemOferta.id  })) }}
              </div>
            </div>
      </li>
   {# 
        <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el Item' >
                      {{ form_start(delete_form) }}
                      <input class="btn btn-danger" onclick= "return confirm('¿Desea ELIMINAR elItem?');" type="submit" value="Eliminar"> 
                      {{ form_end(delete_form) }}   
        </li> 
    #}
{% endif %} 
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>


<div id="copy" class="panel panel-default print">
        <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 
  <!-- Default panel contents -->
  <div class="panel-heading"> <span class="glyphicon glyphicon-barcode"></span> ITEM OFERTA N° {{ itemOferta.numero }} - <span class="estadoTramite">{% if itemOferta.proceso.adjudicado %}(<span class=" text-success">Adjudicado</span>){% else %} (Evaluación){% endif %}</span>
        {# if itemOferta.oferta.expediente.id is defined %}
                {% if ( itemOferta.oferta.expediente |  default(null) | movimiento_estado(app.user))  %}
                    {% set tramite = itemOferta.oferta %}
                    <span class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span><span class="pull-right">Estado:</span>{% else %} <span  class="label label-default pull-right" data-toggle="tooltip" data-placement="bottom" title='Para modificar el ÍTEM debe cambiar el estado de la Nota DPPR que lo contiene'>Enviado</span> {% endif %}
        {% endif #}
  </div>
  <div class="panel-body"> 
    <dl>
    <div class="panel-heading text-center">
        <dt>Expediente</dt>
         <dd>
             <a href="{{ path('expediente_show', { 'id': itemOferta.oferta.expediente.id }) }}">{{itemOferta.oferta.expediente}}</a>
         </dd>
         <dt>Proceso</dt>
         <dd>
            <a   href="{{ path('tramite_show', { 'id': itemOferta.proceso.id }) }}">{{ itemOferta.proceso.numeroComprar  | default("n/d" )}}</a>
         </dd>
        <dt>Ofertente</dt>

        <dd> <a  href="{{ path('tramite_show', { 'id': itemOferta.oferta.id }) }}">OFERTA {{ itemOferta.oferta.numeroTramite}} - {{ itemOferta.oferta.oferente }} - CUIT: {{ itemOferta.oferta.cuit }}</a></dd>
    </div>
        <dt>Código</dt>
        <dd>{{ itemOferta.codigo }} </dd>
        <dt>Descripción</dt>
        <dd>{{ itemOferta.item }}</dd>
        <dt>Unidad de Medida</dt>
        <dd>{{ itemOferta.unidadMedida }}</dd>
        <dt>Detalle técnico de oferta 
            {% if edit %}
               <a class="texto hidden-print" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> {% if itemOferta.texto  is empty %} |  <span class="glyphicon glyphicon-plus-sign"></span>Agregar{% else %} |  <span class="glyphicon glyphicon-pencil"></span> Modificar{% endif %}</a>
            {% endif %}
        </dt>
        <dd>
            <div id="texto">
            {{ itemOferta.texto | raw }}
            </div>
            <div class="collapse" id="collapseExample">
                {{ render(controller('AusentismoBundle:ItemOferta:editTexto', {'id': itemOferta.id  }))}}
            </div>
        </dd>
    </dl>
          <!-- Table -->
          <table class="table">
            <thead>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Calidad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                    <tr>
                        <td><span>{% if itemOferta.tipo == 1 %}<span class="label label-primary">Principal</span>{% else %}<span class="label label-default">Alternativa</span>{% endif %}</span></td>
                        <td>$ {{ itemOferta.precio  | default(0) | number_format(2, ',', '.')  }}</td>
                        <td>{{ itemOferta.cantidad }}</td>
                        <td>$ {{ itemOferta.total  | default(0) | number_format(2, ',', '.')  }}</td>
                        <td>{% include 'AusentismoBundle:ItemOferta:_calidad_etiqueta.html.twig' %}</td>
                        <td class="estado">{% if itemOferta.estado %}Válido{% else %}No válido{% endif %}</td>
                        <td>
                        {% if edit %}
                            <a data-href="{{ path('item_oferta_estado', { 'id': itemOferta.id }) }}" class="btn-estado-item" role="button">
                            {% if itemOferta.estado %}<span class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% else %}<span class="glyphicon glyphicon-unchecked text-warning" data-toggle="tooltip" data-placement="top" title='Cambiar Estado'></span>{% endif %} </a>
                        {% endif %}
                        </td>
                    </tr>
            </tbody>
          </table>         
{% if itemOferta.adjudicado %}
        <h4> DETALLE ADJUDICADO</h4>

          <!-- Table -->
          <table class="table">
            <thead>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Puntaje Total</th>
                <th>Estado</th>
            </thead>
            <tbody>
                    <tr>
                    {% if itemOferta.adjudicado and itemOferta.proceso.adjudicado %}
                        <td>$ {{ itemOferta.precio  | default(0) | number_format(2, ',', '.')  }}</td>
                        <td>{{ itemOferta.cantidadAdjudicada }}</td>
                        <td>$ {{ itemOferta.montoAdjudicado  | default(0) | number_format(2, ',', '.')  }}</td>
                        <td>{{itemOferta.pFTotal}} %</td>
                        <td class="estado">{% if itemOferta.estado %}
                           {% if itemOferta.adjudicado %}Adjudicado{% else %} - {% endif %}
                            {% else %}No válido{% endif %}
                        </td>
                    {% else %} 
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Evaluación</td>
                    {% endif %}
                    </tr>
            </tbody>
          </table>
{% endif %}
<hr>
        {% set itemsPedidos = itemOferta.itemProceso | item_pedido %}
        {% if itemsPedidos | length > 0 %}
       <h4><span class="glyphicon glyphicon-align-justify"></span> ÍTEM DE NOTA PEDIDO ({{  itemsPedidos | length}})</h4>
                <table id="#" class="table table-hover text-left">
                    <thead>
                       {{ include('AusentismoBundle:ItemPedido:_thead_completo.html.twig') }}
                    </thead>
                     <tbody>
                    {% for itemPedido in itemsPedidos %}
                        {{ include('AusentismoBundle:ItemPedido:_tbody_completo.html.twig') }}
                    {% endfor %}
                    </tbody>
                </table>
        {% endif %}
   {#
    <h4> <span class="glyphicon glyphicon-shopping-cart"></span> ÍTEM SOLICITADO</h4>
        {% set itemProceso = itemOferta.itemProceso %}
        <table id="#" class="table table-hover text-left">
          <thead>
            {{ include('AusentismoBundle:ItemProceso:_thead_completo.html.twig') }}
          </thead>
          <tbody>
                 {{ include('AusentismoBundle:ItemProceso:_tbody_completo.html.twig') }}
        
          </tbody>
        </table>
    #}

</div>
 </div>
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': itemOferta.id, 'tipo': constant('TIPO_ENTIDAD', itemOferta)  })) }}

{{ render(controller('ExpedienteBundle:Comentario:new', { 'tipoid': itemOferta.id, 'tipo': constant('TIPO_ENTIDAD', itemOferta) })) }}
</div>
{% endblock %}

{% block javascripts %} 
    {{parent()}}

<script> 

     $('.texto').on('click',function () {

        if($('#texto').is(':visible')){
        $('#texto').fadeOut("fast");
      }else{
        $('#texto').fadeIn("fast");
      }

     });
        CKEDITOR.replace('siarme_ausentismobundle_item_texto_texto', {  height: 400, 
         // Configure SCAYT to load on editor startup.
         scayt_autoStartup: true,
          autoGrow_onStartup: true,
        } );

     </script>
{% endblock %}

{% block footer %}
<dir class="footer"></dir>
{% endblock %}