<ul class="list-group">
     {% for comentario in comentarios | sort | reverse %}
         <li class="list-group-item">
                    <small>{% if ( app.user.id == comentario.usuario.id) %}
                    <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog glyphicon text-success small'>
                     </a>  
                    {% else %}       
                     <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-cog glyphicon text-default'></a> 
                   {% endif %} <span class="text-muted">  {{ comentario.usuario.usuario}} &emsp;{% if comentario.fecha %}{{ comentario.fecha|long_time }} ({{ comentario.fecha|date('d-m-Y') }}){% endif %}</span></small> <br> {{ comentario.texto }}

                    {% if ( is_granted('ROLE_ADMIN')) or ( app.user.id == comentario.usuario.id) %}
                 &emsp;
                    <a data-href="{{ path('comentario_eliminar', { 'id': comentario.id }) }}" class="btn-eliminar-comentario"><span data-toggle="tooltip" data-placement="top" title='Quitar comentario' class="glyphicon glyphicon-trash" ></span></a>
                    {% endif %}
            </li>
    {% endfor %}
</ul>
