{% if (comentarios | length > 0 ) %}
<div style="margin-top:10px">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Comentarios</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for comentario in comentarios | sort | reverse %}
            <tr>
                <td> 
                    <small>{% if ( app.user.id == comentario.usuario.id) %}
                    <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-user glyphicon text-success small'>
                     </a>  
                    {% else %}       
                     <a data-toggle="tooltip" data-placement="top" title='{{ comentario.usuario}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                   {% endif %} <span class="text-muted">  {{ comentario.usuario.usuario}} &emsp;{% if comentario.fecha %}{{ comentario.fecha|long_time }} ({{ comentario.fecha|date('d-m-Y') }}){% endif %}</span></small> <br> {{ comentario.texto }}
                </td>                
                <td> 
                    {% if ( is_granted('ROLE_ADMIN')) or ( app.user.id == comentario.usuario.id) %}
                    <br><a data-href="{{ path('comentario_eliminar', { 'id': comentario.id }) }}" class="btn-eliminar-comentario text-danger"><span data-toggle="tooltip" data-placement="top" title='Quitar comentario' class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                 </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
 {% endif %}