{# Siarme\ExpedienteBundle\Resources\views\Tramite\_registro_completo.html.twig#}
 {% set year = 'now' | date('Y')%}
          <tr{#if tramite.departamentoRm != app.user.departamentoRm  %} style="background-color:rgba(192,192,192,0.3);" data-toggle="tooltip" data-placement="top" title="Reparticion {{ tramite.departamentoRm  }}"  {% elseif  tramite.tareaActiva %} data-toggle="tooltip" data-placement="top" title='Tarea en curso...'  style="background-color:hsla(120,60%,70%,0.3);" {% endif #}>
                <td>{{ tramite.numeroTramite }}</td>
                 <td style="width: 15%">{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}}</td>
                {% if  tramites is defined and tramite.estadoTramite.slug  in ["rectificacion", "devuelto"] and notaRectifica %}
                     <td>{{tramite.numeroNota}}</td>
                {% endif %}
                <td style="width: 15%">
                      {{tramite.expediente.ccoo | default("-")}} 
                </td>
                <td>
                    {% if  tramite.expediente.id is defined %}
                            <span  class="glyphicon glyphicon-folder-open text-muted"></span> {{tramite.expediente.numeroGde | default("En curso")}} 
                            {% set procesos = tramite.expediente | tramite_por_expediente_slug("tramite_proceso")  %}
                            {% for tramite1 in procesos %}
                                <br/>- <small>{{ tramite1.numeroComprar | default('100-00000-n/d')}} {% if tramite1.estado %}<span class="label label-success">Preadjudicado</span>{% else %}<span class="{{tramite1.estadoTramite.class}}">{{tramite1.estadoTramite}}</span>{% endif %}</small>
                            {% endfor %}
                    {% else %}
                            <span  class="glyphicon glyphicon-folder-open text-muted"></span> <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Expediente' class="glyphicon glyphicon-warning-sign text-warning"></span> 
                    {% endif %}
                </td>
                <td style="width: 25%"><small>{{ tramite.texto | upper }}</small></td>
                <td>{{ tramite_credito(tramite) | raw }}</td>
                    {# En tramite.estadoTramite devuelve el estado con etiquetas label #}
                {#<td>{{ tramite.PresupuestoOficial | format_currency('EUR', locale='de')  }}</td>#}
                <td>${{ tramite.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}</td>
               
                <td>
                <small>{% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
                            <span>{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                    {% else %} 
                            <span class="{{tramite.estadoTramite.class}}">{{tramite.estadoTramite }}</span>
                    {% endif %}</small>  
                </td> 
            </tr>