{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movimientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimiento in movimientos %}
            <tr>
                <td><a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">{{ movimiento.id }}</a></td>
                <td>{% if movimiento.fecha %}{{ movimiento.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if movimiento.activo %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movimiento_show', { 'id': movimiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('movimiento_edit', { 'id': movimiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movimiento_new') }}">Create a new movimiento</a>
        </li>
    </ul>
{% endblock %}
