{# Siarme\ExpedienteBundle\Resources\views\Tramite\_registro_completo.html.twig#}
 {% set year = 'now' | date('Y')%}
          <tr {% if tramite.departamentoRm != app.user.departamentoRm  %} style="background-color:rgba(192,192,192,0.3);"  data-toggle="tooltip" data-placement="top" title="Reparticion {{ tramite.departamentoRm  }}"  {% elseif  tramite.tareaActiva %} data-toggle="tooltip" data-placement="top" title='Tarea en curso...'  style="background-color:hsla(120,60%,70%,0.3);" {% endif %}
           >
{% if tramites is defined or  tareas is defined or realizadas is defined %}
           <td>
                    <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
                    {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': tramite, 'tipo': constant('TIPO_ENTIDAD', tramite) } %}
                    {% include 'ExpedienteBundle:Tramite:_menu_info_tramite.html.twig' with {'entidad': tramite, 'tipo':constant('TIPO_ENTIDAD', tramite) } %}

                    </div>
                </td>
                <td class="hidden">{{tramite.id}}</td>
{% endif %}
                <td style="color:#306066;"><strong>AC-{{ tramite.numeroTramite }}</strong></td>

{% if tramites is defined or  tareas is defined or realizadas is defined %}
                 <td style="width: 25%"><a  href="{{ path('tramite_show', { 'id': tramite.id }) }}" target="_blank">{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}}</a></td>
{% else %}
                 <td style="width: 15%"><a  href="{{ path('tramite_show', { 'id': tramite.id }) }}" target="_blank">{{ tramite.ccoo[0:16] | default('NO-'~ year ~ '-n/d')}}</a></td>
{% endif %}
{% if  tramites is defined and tramite.estadoTramite.slug  in ["rectificacion", "devuelto"] and notaRectifica %}
                <td>{{tramite.numeroNota}}</td>
{% endif %}
                <td>{{ tramite.trimestre }}° Trim.</td>
                <td>{% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}</td>
                <td>          
                    <a data-toggle="tooltip" data-placement="top" title='{{ tramite.organismoOrigen}}' href="{{ path('organismo_show', { 'id': tramite.organismoOrigen.id | default(0) }) }}" target="_blank"><strong>{{ tramite.organismoOrigen.saf.numeroSaf | default("N/D")}}</strong></a>
                </td>
                <td style="width: 35%; color:#306066;"><small>{{ tramite.texto | upper }}</small></td>
                    {# En tramite.estadoTramite devuelve el estado con etiquetas label #}
                {#<td>{{ tramite.PresupuestoOficial | format_currency('EUR', locale='de')  }}</td>#}
                <td>-</td>
                <td>$ {{ tramite.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}</td>
               
                <td>
                    {% if ( tramite.expediente.id is defined and tramite.expediente | movimiento_estado(app.user))  %}
                           {#<span  class="label label-primary">Activo</span>#}
                           <span class="pull-left">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                    {% elseif  tramite.expediente.id is defined %} 
                           <span  class="label label-default">Enviado</span> 
                    {% else %}
                            <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning"></span>
                            {% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
                                <span>{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                            {% else %} 
                                <span class="{{tramite.estadoTramite.class}}">{{tramite.estadoTramite }}</span>
                            {% endif %} 
                            
                    {% endif %}
                </td> 
{% if tramites is defined or mis_tramites is defined or realizadas is defined %}
                <td style="width:10%">
            {% if  tramite.expediente.id is defined %}
                    <span  style="color:#306066;"  class="glyphicon glyphicon-folder-open"></span> <a data-toggle="tooltip" data-placement="top" title='{{tramite.expediente}}' href="{{ path('expediente_show', { 'id': tramite.expediente.id }) }}" target="_blank">{{tramite.expediente.ccoo[0:16] | default('NO-'~ year ~ '-n/d')}}</a>
            {% else %}
                    <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning"></span> 
            {% endif %}
                </td>
                <td>
                    {% for tarea in tramite.tarea  %}  
                            {% if loop.first and tarea.esResponsable | default(false) %} 
                                    {% set title = "Responsable: " ~ tarea.usuario.agente.apellidoNombre | default( tarea.usuario.departamentoRm ) %} 
                                         {% if ( app.user.id == tarea.usuario.id  | default(null) ) %}
                                                     {#<small><span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-info' aria-hidden="true">
                                                     </span></small> #} {{ tarea.usuario.usuario }} 
                                          {% else %}       
                                                   {#<small> <span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-muted' aria-hidden="true"></span></small>#} {{ tarea.usuario.usuario | default(null) }}
                                          {% endif %}
                           {% endif %}   
                   {% endfor %}
               </td>
{% endif %}
{% if organismo is not defined %}
                <td>
                    {% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
                        {% include 'ExpedienteBundle:Tramite:_menu_acciones_tramite.html.twig' %}
                    {% endif %} 
                </td>
{% endif %}
            </tr>