{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'GeneralBundle:Default:layout.html.twig' %}

{% block title %} {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} {% endblock %}
{% block contenido %}
 <div class="container"> 
<div class="nav nav-pills hidden-print"> 

      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{% if ( app.user.departamentoRm == tramite.departamentoRm ) and (( tramite.expediente | default(null) | movimiento_estado(app.user)) or tramite.expediente.id is not defined) %}
      <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                    {{ render(controller('ExpedienteBundle:Tramite:edit', {'id': tramite.id  }))}}
              </div>
            </div>
      </li> 
 
     {% if (tramite.documento | length <= 0) %}
            <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}' >
                <a  role="button" onclick= "return confirm('¿Desea ELIMINAR el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}?');" href="{{ path('tramite_eliminar' , { 'id': tramite.id }) }}"> <span class="glyphicon glyphicon-trash text-danger"> </span> Eliminar</a>
            </li>  
        {% endif %} 
{#
       {% if (movimientoPendiente is defined) and (movimientoPendiente is not empty) %}
          {% if   tramite.expediente | length <= 0 %}
         <li role="presentation" data-toggle="tooltip" data-placement="top" title='Añadir este {{ tramite.tipoTramite }} al expediente iniciado para consolidar'>
            <a  role="button" href="{{ path('tramite_expediente_agregar' , { 'tramite_id': tramite.id }) }}"> <span class="glyphicon glyphicon-folder-open text-warning" onclick= "return confirm('¿Desea consolidar?');" ></span> Añadir</a>
        </li>
       {% endif %}
      {% elseif (tramite.expediente | length <= 0)  %}
        <li role="presentation" data-toggle="tooltip" data-placement="top" title='Añade este {{ tramite.tipoTramite }} a un nuevo expediente'>
          <a  role="button" href="{{ path('movimiento_expediente_new' , { 'tramite_id': tramite.id }) }}"><span class="glyphicon glyphicon-folder-open" onclick= "return confirm('¿Desea iniciar una Solicitud?');" ></span> Añadir PEDIDO</a> 
         </li>
      {% endif %}
#}
{% endif %} 
           <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title='Comparte y Notifica a un usuario acerca este PEDIDO'>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
                     <ul class="dropdown-menu">
                       <li class="dropdown-header" style="width:40em">
                        {# El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje #}
                         {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite)})) }}
                       </li>
                     </ul>
            </li>

    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">

            <a href="https://docs.google.com/spreadsheets/d/1evDkuVFNirUdLmjbtP_0FPM9w8Ty6XPccaxQ7ZiLn-8/edit?usp=sharing" target="_blank"> <span class="fa fa-file-excel-o text-success" ></span> Montos BAPIN </a>&nbsp;&nbsp;
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
{% set year = 'now' | date('Y')%}
<!-- copiar - imprimir-->
<div id="copy" class="panel panel-default print">
    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style> 
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp;<span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} | {% if tramite.fechaDestino %} {{ tramite.fechaDestino|date('d-m-Y') }}  {{ tramite.fechaDestino| long_time }} {% endif %}
       
        {% if tramite.expediente.id is defined %}
                {% if ( tramite.expediente |  default(null) | movimiento_estado(app.user))  %}
                     <span class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                    {#<span  class="label label-primary  pull-right">Activo</span>#}
                 {% else %}
                   {% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
                          <span class="pull-right {{tramite.estadoTramite.class}}">{{tramite.estadoTramite }}</span>
                   {% else %} 
                         <span class="pull-right {{tramite.estadoTramite.class}}">{{tramite.estadoTramite }}</span>
                   {% endif %} 
                  <span  class="label label-default pull-right" data-toggle="tooltip" data-placement="bottom" title='Para modificar el PEDIDO debe cambiar el estado de la Nota DPPR que lo contiene'>Enviado</span> 
              {% endif %}
        {% else %}
            {% if app.user.departamentoRm.slug == "dppr" %}
                 <span class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
             {% endif %}
            <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning  pull-right"></span>
        {% endif %}
      </div>

     <div class="panel-body">
            <dl class="list-group-item-heading text-center" role="tab" id="headingTwo">
                <dt> CCOO Nota del SAF</dt>
                <dd>{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}} |  {{ tramite.trimestre }}° Trimestre</dd>
                {% if tramite.estadoTramite.slug == "rectificacion" or  tramite.estadoTramite.slug == "devuelto" or tramite.numeroNota is not empty  %}
                      {% if tramite.estadoTramite.slug == "rectificacion" %}
                        <dt>CCOO Nota Rectificación</dt>              
                      {% else %}
                        <dt>CCOO Nota No Concentra</dt>
                      {% endif %}
                      <dd>{{tramite.numeroNota | default("-")}}</dd>
                {% endif %}
                <dt>Objeto</dt>
                <dd> {{ tramite.texto | default("* Subir una Nota de Pedido.") }}</dd>
                {% if tramite.texto is not empty %} {% endif %}
                 <dt>Unidad Ejecutora</dt>
                 <dd>
                     SAF N° {{ tramite.organismoOrigen.saf.numeroSaf | default("N/D") }} - {{ tramite.organismoOrigen.codigoGde | default("N/D") }} - {{ tramite.organismoOrigen.organismo | default("N/D") }}  
                  </dd>

                  <dt> Rubro</dt>
                  <dd>{{ tramite.rubro}}</dd>
                  <dt>Importe Pedido</dt>
                  <dd> 
                                    
                    $ {{ tramite.PresupuestoOficial | number_format(2, ',', '.')  }} <br />
                    ( {{ numero_a_letras(tramite.PresupuestoOficial,2, 'pesos') }} ) <br />
                 </dd>
            </dl>           
 {# ---- PARA HABILITAR ----------
            {% if tramite.estadoTramite.porcentaje < 100 %}
                    <div class="progress progress-striped active" style="margin:0px;">
                          <div class="progress-bar" role="progressbar"
                          aria-valuenow="{{tramite.estadoTramite.porcentaje}}" aria-valuemin="0" aria-valuemax="100"
                          style="width: {{tramite.estadoTramite.porcentaje}}%">
                          <span class="sr-only">{{tramite.estadoTramite.porcentaje}}% completado</span>
                          </div>
                    </div>
             {% else %}
                    <div class="progress progress-striped" style="margin:0px;">
                      <div class="progress-bar progress-bar-success" role="progressbar"
                           aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                           style="width: 100%">
                        <span class="sr-only">100% completado (éxito)</span>
                      </div>
                    </div>
            {% endif %}
#}
   </div>

<!-- Large modal -->
<div id="modal-cantidad-autorizada"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
     </div><!-- /.header -->
         <div id="modal-body-cantidad-autorizada" class="modal-body">
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Large modal -->
<div id="modal-nuevo-item"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog " role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
            <h3>Nuevo Ítem Acordado <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> </h3>
            
        
     </div><!-- /.header -->
         <div id="modal-body-nuevo-item" class="modal-body">

        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_panel_body.html.twig') }}
{#    {{ render(controller('ExpedienteBundle:Expediente:modalExpedienteNew', {'tramite_id': tramite.id}))}}#}
</div>

 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
</div>
{% endblock %}

{% block javascripts %} 
{{ parent() }}
<script>

  $(function () { // "order": [[ 1, "desc" ]]
    $(".tablaItemTodo").DataTable({"searching": true,"lengthChange": true, "order": [[ 1, "asc" ]],"pageLength": -1,
            "language": {
                "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
            }, "lengthMenu": [[10, 25, 50, 100,-1], [10, 25, 50, 100, "Todo"]],
        });
  });

    $('.tablaItemTodo tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
    

$(".btn-cantidad-autorizada").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
        
        $.ajax({
             url: URL+$href,
             type: 'POST',
             success: function(response){
             var msj= document.getElementById("modal-body-cantidad-autorizada");
             msj.innerHTML =response;
             $('#modal-cantidad-autorizada').modal('show');

             } 
        }); 
    });

$(".btn-nuevo-item").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
        $.ajax({
             url: URL+$href,
             type: 'POST',
             success: function(response){
             var msj= document.getElementById("modal-body-nuevo-item");
             msj.innerHTML =response;
             $('#modal-nuevo-item').modal('show');
             $("#siarme_generalbundle_itemsolicitado_precio").change(function() {
              let str = $(this).val();
              str = str.replace("$", "");
              str = str.replace(".", "");
              str = str.replace(".", "");
              str = str.replace(".", "");
              str = str.trim();
              $("#siarme_generalbundle_itemsolicitado_precio").val(str);
            });

            $("#siarme_generalbundle_itemsolicitado_itemAcuerdoMarco").select2({
                width:'100%',
                placeholder: 'Seleccione un ítem',
                cache: true,
                ajax: {
                   url: "{{ path('itemsolicitado_search', {'id': tramite.expediente.id }) }}",
                   dataType: 'json',            
                   delay: 1000,
                   data: function (params) {
                      return {
                              q: params.term // search term
                             };
                   },
                   processResults: function (data) {
                     return {
                              results: $.map(data, function(obj) {
                                 return { id: obj.id, text: obj.text };
                              })
                            };
                   },
                   
                },

            });

             } 
        }); 
    });

</script>
{% endblock  %}
{% block footer %}
<dir class="footer"></dir>
{% endblock %}