{% extends 'base.html.twig' %}

{% block body %}
    <h1>Itemprocesos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Numero</th>
                <th>Tipo</th>
                <th>Codigoespecial</th>
                <th>Codigo</th>
                <th>Item</th>
                <th>Marca</th>
                <th>Unidadmedida</th>
                <th>Cantidad</th>
                <th>Preciounitario</th>
                <th>Pfprecio</th>
                <th>Pfcalidad</th>
                <th>Pfplazoentrega</th>
                <th>Pfantecedente</th>
                <th>Cantidadadjudicada</th>
                <th>Estado</th>
                <th>Estotal</th>
                <th>Esoferta</th>
                <th>Texto</th>
                <th>Sistema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for itemProceso in itemProcesos %}
            <tr>
                <td><a href="{{ path('itemproceso_show', { 'id': itemProceso.id }) }}">{{ itemProceso.id }}</a></td>
                <td>{% if itemProceso.fecha %}{{ itemProceso.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ itemProceso.numero }}</td>
                <td>{{ itemProceso.tipo }}</td>
                <td>{{ itemProceso.codigoEspecial }}</td>
                <td>{{ itemProceso.codigo }}</td>
                <td>{{ itemProceso.item }}</td>
                <td>{{ itemProceso.marca }}</td>
                <td>{{ itemProceso.unidadMedida }}</td>
                <td>{{ itemProceso.cantidad }}</td>
                <td>{{ itemProceso.precioUnitario }}</td>
                <td>{{ itemProceso.pFPrecio }}</td>
                <td>{{ itemProceso.pFCalidad }}</td>
                <td>{{ itemProceso.pFPlazoEntrega }}</td>
                <td>{{ itemProceso.pFAntecedente }}</td>
                <td>{{ itemProceso.cantidadAdjudicada }}</td>
                <td>{{ itemProceso.estado }}</td>
                <td>{% if itemProceso.esTotal %}Yes{% else %}No{% endif %}</td>
                <td>{% if itemProceso.esOferta %}Yes{% else %}No{% endif %}</td>
                <td>{{ itemProceso.texto }}</td>
                <td>{{ itemProceso.sistema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('itemproceso_show', { 'id': itemProceso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('itemproceso_edit', { 'id': itemProceso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itemproceso_new') }}">Create a new itemProceso</a>
        </li>
    </ul>
{% endblock %}
