
{% if documento.slug != "archivo" %}
<div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">
            &nbsp;&nbsp;<strong>Nuevo Archivo</strong> 
      </div>
    <div class="panel panel-body">
        {% if documento.tramite.expediente is not empty %}
        <dl class="text-center">
            <dt>Expediente | CCOO</dt>
            <dd>{{ documento.tramite.expediente }}</dd>
            <dt>Objeto</dt>
            <dd>{{ documento.tramite.expediente.extracto | upper | raw | nl2br }}</dd>
            <dt><span  class='{{ documento.tramite.tipoTramite.glyphicon}}'></span>{{documento.tramite.tipoTramite}} N° {{documento.tramite.numeroTramite }}</strong></dt>
            <dd>{{ documento.tramite.ccoo}} {{ documento.tramite.numeroComprar}}</dd>
        </dl>
        {% endif %}
            <h2>Selecciona una : <strong>{{ documento.nombreDocumento }} </strong></h2>
            {{ form_start(form)  }}

            {{ form_errors(form) }}
            {#
            <div>   
                {{ form_label(form.referencia) }}
                {{ form_errors(form.referencia) }}
                {% block wiget_texto %}
                {{ form_widget(form.referencia,   {'value' : "Archivo: "})  }}
                {% endblock %}
            </div><hr>#}

            <div>   
                <h3>{{ form_label(form.archivo) }}</h3>      
                {{ form_errors(form.archivo) }}
                 
                {% block wiget_archivo %}
                {{ form_widget(form.archivo,  {'attr' : {'class':'text-info','style':'font-size:18px;'} })  }}
                {% endblock %}
                
            </div>
            <div class="text-right">
                {% if documento.tramite.tipoTramite.slug != "tramite_doc" %} 
                  <a class="btn btn-primary" href="{{ path('tramite_show', { 'id': documento.tramite.id }) }}"> CANCELAR </span></a> 
                {% endif %}
                <input class="btn btn-danger"  type="submit" value="SUBIR" />
            </div>

            {{ form_end(form) }}
    </div>
</div>
{% else %}

<div class="panel panel-default">
      <!-- Default panel contents -->
    <div class="panel-heading">
            &nbsp;&nbsp;<strong>Subir Archivos</strong> 
      </div>
    <div class="panel panel-body">
        {% if documento.tramite.expediente is not empty %}
        <dl class="text-center">
            <dt>Expediente | CCOO</dt>
            <dd>{{ documento.tramite.expediente }}</dd>
            <dt>Objeto</dt>
            <dd>{{ documento.tramite.expediente.extracto | upper | raw | nl2br }}</dd>
            <dt><span  class='{{ documento.tramite.tipoTramite.glyphicon}}'></span>{{documento.tramite.tipoTramite}} N° {{documento.tramite.numeroTramite }}</strong></dt>
            <dd>{{ documento.tramite.ccoo}} {{ documento.tramite.numeroComprar}}</dd>
        </dl>
        {% endif %}
            Has <strong>Click</strong> para seleccionar archivos o <strong>arrastra</strong> los mismos al recuadro.
            {{ form_start(form, {'attr': { 'class': 'dropzone' }, 'action': path('documento_upload', {'tramite_id': documento.tramite.id}), 'method': 'POST'})  }}
            {{ form_errors(form) }}
            <div class="fallback">   
                {{ form_row(form.archivo) }}
            </div>

            {{ form_end(form) }}
            <br>
            <br>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('tramite_show', { 'id': documento.tramite.id }) }}"> VOLVER </span></a> 
            </div>
    </div>
</div>
{% endif %}


