{{ form_start(form) }}
{{ form_errors(form) }}

<div class="text-center">    
    {{ form_label(form.texto) }}
    {{ form_errors(form.texto) }}
    {% block wiget_texto %}

      {% if texto1  is defined %}
        {{ form_widget(form.texto,  { 'value' : texto1 }) }}
      {% else %}
           {{ form_widget(form.texto) }}
      {% endif %}

    {% endblock %}

</div>
<div class="text-right">
    {% if documento.tramite.tipoTramite.slug != "tramite_doc" %}
         <a class="btn btn-primary" href="{{ path('tramite_show', { 'id': documento.tramite.id }) }}"> CANCELAR </span></a>
    {% endif %} 
    <input class="btn btn-danger"  type="submit" value="Guardar" />
</div>

{{ form_end(form) }}