{% set observaciones, edit = [], false %}
{% for documento in documento.tramite.documento | reverse %}  
    {% if documento.tipoDocumento.slug == "observacion-proceso" %} {% set observaciones =  observaciones | merge([documento])%}{% endif %} 
{% endfor %}
<p style="text-align:center"><strong>INFORME DE EVALUACIÓN TÉCNICO</strong></p> 
<br>
<p style="text-align:justify">EXPEDIENTE ELECTR&Oacute;NICO: {{documento.tramite.expediente | upper}}</p>
<p style="text-align:justify">{{documento.tramite.tipoProceso | title }} Nº: {{documento.tramite.numeroComprar | upper}}</p>
<p style="text-align:justify">OBJETO DEL LLAMADO: {{documento.tramite.expediente.extracto | upper}}</p>

<br>
<table id="tablaItemPedido" lass="table table-hover text-left">
  <thead>
    <tr>
        <th>Info&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>N°</th>
        <th>Codigo</th>
        <th class="text-center">Descripción <br> <span style="font-size:10px;">COMPRAR</span> | OFERTA | Especificación</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Calidad</th>
        <th>Observaciones</th>
    </tr>
  </thead>
  <tbody>
     {% for itemOferta in documento.tramite.itemOfertas |sort((a, b) => a.numero <=> b.numero) %}
        <tr>
            <td style="width: 10%;">     
                <div class="dropdown text-left" style="margin:0px;"> 
                            {% include 'AusentismoBundle:ItemOferta:_menu_info_item.html.twig' with {'entidad': itemOferta, 'tipo':constant('TIPO_ENTIDAD', itemOferta ) } %}
                </div>
            </td>
            <td>{{ itemOferta.numero }} </td>
            {# <td>{% if itemOferta.fecha %}{{ itemOferta.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            <td>
                <a href="{{ path('itemoferta_show', { 'id': itemOferta.id }) }}" target="_blank">{{ itemOferta.codigo }}</a>
            </td>
            <td style="width: 40%;">
                <div  style="border:1px black;">
                   <span style="font-size:10px;">{{ itemOferta.itemProceso.item }}</span>
                </div>
                <div id="-{{itemOferta.id}}"><strong>{{ itemOferta.item }}</strong></div>
                {% set itemPedido, cantidadPedida = null, 0 %}
                {% for item in itemOferta.itemProceso.itemPedido %}
                    {% set cantidadPedida = cantidadPedida + item.cantidad %}
                    {% if loop.first %}
                        {% set itemPedido = item %}
                    {% endif %}   
                {% endfor %}        
                {% if itemPedido is not empty  %}
                   {% if itemPedido.detalle is not empty %}
                     <p data-toggle="tooltip" data-placement="top" title='Especificación Técnica' style="font-size:10px; padding:0px; margin:0px; border:1px dashed black;" class="text-muted"><i>{{ itemPedido.detalle | default("-")| striptags | title }}</i></p>
                   {% endif %} 
                {% endif %}
            </td>
            <td>
                ${{ itemOferta.precio  | default(0) | number_format(2, ',', '.')  }}
            </td>
            <td>
                {{ itemOferta.cantidad }}
          </td>
            <td>{% include 'AusentismoBundle:ItemOferta:_calidad_etiqueta.html.twig' %}</td>
            <td style="width: 35%;" >
                    {{ itemOferta.texto }}
            </td>
        </tr>
     {% endfor %}
  </tbody>
</table>
<br>
{% for observacion in observaciones %}
<p style="text-align:justify">{{observacion.texto | default("") | raw}}</p>
{% endfor %}

