<p  style="text-align:center"> 
    <strong> 
  		{{ documento.nombreDocumento | upper }} 
	</strong>
</p> 
<p style="text-align:justify">
Mediante la presente nota se informa que: el Acuerdo Marco N° 100-000-AM22; adjudicado por Resolución RESOL-2022-000-E-CAT-MEC, {{documento.tramite.expediente.extracto}}, tramitado bajo el {{documento.tramite.expediente.numeroGde | default("-") }},<strong> a la fecha no cuenta con stock disponible</strong> en los numero de Ítems, Código y descripción que se detallan:
</p>
<table  class="table table-hover text-left">
      <thead>
        <th>N°</th>
        <th>Codigo</th>
        <th>Item</th>
      </thead>
      <tbody>
        {# for itemPedido in tramite.itemPedido  | sort((a, b) => a.item <=> b.item) #}
         {% for itemAcuerdo in documento.tramite.expediente.itemAcuerdoMarco if itemAcuerdo.cantidadRestante == 0 %}
         	<tr>	
             <td>{{ itemAcuerdo.numero }}</td>
   			 <td>{{ itemAcuerdo.codigo }}</a></td>
    		 <td width="45%"><small>{{ itemAcuerdo.item }}</small></td>
    		</tr>
         {% endfor %}
    </tbody> 
 </table>