{{ documento.texto | raw }}
<p> 
<hr class="linea" />
 	  Diagnostico Codificado:<strong>  {{documento.licencia.enfermedad.codigoEnfermedad | default("N/D")}}</strong> &nbsp; | &nbsp; 
    Fecha Desde: <strong>{% if documento.licencia.fechadesde is defined  %}{{ documento.licencia.fechadesde |date('d-m-Y') }} {% endif %}</strong> &nbsp; | &nbsp; 
    Fecha Hasta:   <strong>{% if documento.licencia.fechahasta is defined  %}{{ documento.licencia.fechahasta |date('d-m-Y') }} {% endif %} </strong> &nbsp; | &nbsp; 
    Días: {# endDate and startDate are strings or DateTime objects #}
{% set difference = date(documento.licencia.fechahasta).diff(date(documento.licencia.fechadesde)) %}
{% set leftDays = difference.days + 1 %}
{% if leftDays == 1 %}
 <strong> 1 día</strong>
{% else %}
<strong>  {{ leftDays }} días </strong>
{% endif %}
 <hr class="linea" />
  Marco Legal: <strong>  {{documento.licencia.articulo | default("N/D")}}</strong>
<hr class="linea" />
 </strong> 
</p>