
{% set year, agenda = 'now' | date('Y') , agenda_ultima(documento.tramite, "llamado") %}
{% set tramites = documento.tramite.expediente | tramite_por_expediente_slug("tramite_pedido") %}
<p style="text-align:justify">Habiendo realizado el control pertinente en cuanto al cumplimiento de la documentación requerida de acuerdo con la normativa vigente y, en virtud del artículo 3° de la Resolución Nº 26/2020 modificada por  Resolución  Nº  14/2021  emitidas  por  la  Contaduría  General  de  la  Provincia,  se  remiten  las presentes  actuaciones  a  efectos  de  dar  curso  al  trámite  de  contratación  de  bienes  que  se  pretende adquirir.</p>

<p style="text-align:justify">Las  solicitudes  embebidas  a  la  presente  tienen  por  objeto  {{documento.tramite.expediente.extracto |replace({'<br>': ", ", '<br />': ", "})  |upper}} , cuyo presupuesto oficial es de <strong>{{ numero_a_letras(documento.tramite.expediente.PresupuestoOficial ,2, 'pesos') }} ($ {{ documento.tramite.expediente.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }})</strong>.</p>
{% if tramites | length > 1%}
<p style="text-align:justify">Por  tal  motivo,  se  sugiere  efectuar  el  procedimiento  de  contratación  que  estime  corresponder mediante  la <strong> modalidad  de  compra  consolidada,  prevista  en  el  Artículo  22°,  24°</strong>   y  afines  del Reglamento  Parcial  N.º  2  de  la  Ley  N.º  4938-  Aprobado  mediante  Dcto.  Acuerdo  1127/2020,  y  sus modificatorios.</p>
{% endif %}

<p style="text-align:justify">Se adjuntan como archivos embebidos:</p>
{% for tramite in tramites %}
   <p style="text-align:justify">
    {% set creditos = tramite.credito %}
    {{loop.index}}) Nota  {{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}} de  <strong>{{tramite.organismoOrigen | title}}</strong>, por la cual se eleva el pedido del {{tramite.trimestre}}° Trimestre {{ tramite.fechaDestino | date('Y')}}, del rubro {{tramite.texto | title }}. Adjuntando como archivo embebido:
    <ul>
        <li>Solicitud de Gasto {% for credito in creditos %} {{ credito.texto | upper }} - {% endfor %}</li> 
        <li>Pedido de Necesidades Trimestrales, Nota de Pedido  Nº --/{{year}}</li> 
        <li>Autorización para Gastar.</li>
    </ul>
    </p>  
{% endfor %}
<p style="text-align:justify">Además, corresponde efectuar las siguientes consideraciones:</p>
<p style="text-align:justify">- En la formulación de requerimiento, se deberá tener en cuenta lo establecido en art. 38° Especificaciones Técnicas, del Anexo Decreto Acuerdo N°1127/20 Reglamento Parcial Nº 2 de la Ley Nº 4938. <i>(...) “Salvo casos especiales originados en razones científicas o técnicas, no deberá pedirse marca determinada, quedando entendido que si se menciona "marca" o "tipo" será al solo efecto de señalar características generales del objeto pedido sin que ello implique que no podrán proponerse artículos similares de otras marcas o tipos. Las pautas establecidas en el presente artículo, podrán ser incluidas en el Pliego de Bases y Condiciones Particulares o en un anexo del mismo”</i>.</p>
<p style="text-align:justify">- Asimismo, es preciso destacar que la CIRCC-2021-1-E-CAT-CGP#MHP establece <i> (...)Los precios consignados en la Nota de Pedido deberán ser coherentes con los precios vigentes de mercado(...)</i> y el Art. 35 del ANEXO I- Reglamento Parcial N°2 de la Ley 4938-Decreto AcuerdoN°1127 dispone <i>(...)"las unidades ejecutoras requirentes deberán formular sus requerimientos de bienes y/o servicios a  las  Unidades  Responsables  de  Compras  y  Contrataciones  y/o  a  la  Secretaria  de  Compras  y Abastecimiento,  según  corresponda,  con  la  debida  antelación  y  cumpliendo  con  los  siguientes requisitos,  los  cuales  uno  de  ellos  es  estimar  el  costo  de  acuerdo  a  las  cotizaciones  de  plaza  o  de otros elementos o datos que se estimen pertinentes a tal efecto"(...)</i> </p>
<p style="text-align:justify">No   obstante,   ello,   mediante   NO-2021-00249590-CAT-SCA#MHP,   se   solicitó   a   los   distintos Organismos  responsabilidad  en  el  uso  y  elección  de  los  precios  estimados  para  una correcta confección del Formulario de Necesidades Trimestrales, Nota de Pedido y Autorización para Gastar.</p>
<p style="text-align:justify">- Tener presente lo establecido en el Art.91 del Reglamento Parcial Nº  2 - Decreto Acuerdo N°1127 <i>(...) “Los plazos  de  entrega  y/o  prestación  de  servicio se computarán en <strong>días hábiles</strong> contados a partir del día hábil inmediato siguiente a la fecha de perfeccionamiento del contrato, o de la apertura del respectivo crédito documentario cuando se hubiera convenido esa forma de pago, o del cumplimiento de las obligaciones del organismo contratante, si así se hubiera establecido, salvo que el Pliego de Bases y Condiciones Particulares, por razones debidamente justificadas, estableciera el cómputo del plazo de entrega en días corridos” (...)</i>.</p>
<p style="text-align:justify">- Se  agrega  como  archivo  de  trabajo  (en  formato  Excel),  Planilla  con  Ítems  agrupados  a  fin  de facilitarlas tareas de control.</p>
<p style="text-align:justify">Se  remite  la  misma  a  efectos  de  dar  continuidad  al  trámite,  mediante  el  procedimiento  de  selección que se estime más conveniente.</p>
<p style="text-align:justify">Atentamente</p>