{% set year, agenda = 'now' | date('Y') , agenda_ultima(documento.tramite, "llamado") %}
{% set tramites = documento.tramite.expediente | tramite_por_expediente_slug("tramite_pedido") %}
{% set itemDesierto, itemFracasado = [], [] %}
{% set numero = 1 %}
{% for itemProceso in documento.tramite.itemProceso %}
    {% if itemProceso.itemOferta | length > 0 %}
       {% set  fracasado = true %}
       {% for item in itemProceso.itemOferta if item.adjudicado %}
            {% set fracasado = false %}
       {% endfor %}     
       {% if  fracasado %}
          {% set  itemFracasado = itemFracasado | merge([itemProceso]) %}
       {% endif %}
    {% else %}
        {% set itemDesierto = itemDesierto | merge([itemProceso]) %}
    {% endif %}
{% endfor %}

{% set extracto = documento.tramite.expediente.extracto | replace({'<br>': ", ", '<br />': ", "}) | split('SAF') %}
{% set extracto = extracto[0] | replace({'ADQUISICIÓN DE': "", 'ADQUISICION DE': "", 'ADQUISICIÓN': "", 'ADQUISICION': "", 'ADQ. DE': "", 'ADQ.DE': "", 'ADQ.': ""}) | upper  %}
{% set organismos = "" %}
     {% for tramite in tramites %} 
        {% if loop.first %}
            {% set organismos =  organismos ~ tramite.organismoOrigen.organismo | upper %}
        {% elseif loop.last %}
            {% set organismos =  organismos ~ " Y " ~ tramite.organismoOrigen.organismo | upper %}
        {% else %}
            {% set organismos =  organismos ~ ", " ~ tramite.organismoOrigen.organismo | upper ~ ", " %}
        {% endif %}
     {% endfor %} 
{% set extracto = "ADQUISICIÓN DE " ~ extracto ~ " DESTINADO AL " ~ organismos %}

{% set docP, docR = documento.tramite | documento_palabra_clave("PLIEG-"), documento.tramite | documento_palabra_clave("RS-") %}

{% set tipoPliego, marcoLegal = "el Pliego de Bases y Condiciones Particulares", "" %}
{% if documento.tramite.tipoProceso.codigo == "CDI" %}
    {% set tipoPliego = "las Bases de Condiciones" %}
    {% set marcoLegal = "en el marco del Artículo 98° Inc. a) de la Ley N°4938 y modificatorios," %}
{% endif %}
{% if documento.tramite.tipoProceso.codigo == "LPR" %}
       {% set marcoLegal = "en el marco del Artículo 97° de la Ley N° 4938," %}
{% endif %}

{% set ofertas = [] %}
{% for tramite in documento.tramite.oferta | reverse  if not tramite.estado  %}
    {% set ofertas =  ofertas | merge([tramite]) %}
{% endfor %}

<p><strong>VISTO:</strong></p>
<p style="text-align:justify">El    expediente  {{documento.tramite.expediente.numeroGde | default('EX-' ~ year ~'-000- -CAT-DPCBS#MEC')}}, por el  cual    se  tramita el  llamado a {{documento.tramite.tipoProceso | title }} Nº {{documento.tramite.numeroComprar | upper}}, {{marcoLegal}}  {{documento.tramite.tipo}}, modalidad  {{documento.tramite.modalidad}}, para la {{extracto}}; y</p>

<p><strong>CONSIDERANDO:</strong></p>
<p style="text-align:justify">Que a orden 03, obra Nota de Firma Conjunta {{documento.tramite.expediente.ccoo | default('NO-' ~ year ~'-000-CAT-DPPR#MEC')}}, de la Dirección Provincial de Planificación y Registro de la Secretaria de Compras y Abastecimiento dependiente del Ministerio de Economía, informando el requerimiento de {{extracto}}, adjuntando como archivos embebidos: Formulario de Necesidades Trimestrales, Nota de Pedido, Autorizacion Para Gastar, Solicitud de Gastos, Prsupuestos de Referencia y Notas de Elevación.</p>
<p style="text-align:justify">Que en orden 000 toma intervención, mediante IF-{{year}}-0000-CAT-DLT#MEC, la Dirección de Legal y Técnica de la Secretaría de Compras y Abastecimiento, por el cual se expide en relación procedimiento de selección de contratista.</p>
<p style="text-align:justify">Que a  orden 000 obra Resolución RESOL-{{year}}-000-E-CAT-SCA#MEC de fecha 00 de 00 de {{ 'now' | date('Y')}} de la Secretaria de Compras y Abastecimiento, Ministerio de Economía, mediante la cual Autoriza el llamado al {{documento.tramite.tipoProceso | title }} Nº {{documento.tramite.numeroComprar | upper}}, {{documento.tramite.tipo}}, bajo la modalidad  {{documento.tramite.modalidad}},  para la {{extracto}}, con un presupuesto oficial de {{ numero_a_letras(documento.tramite.expediente.PresupuestoOficial ,2, documento.tramite.moneda | default("PESOS")) }} ($ {{ documento.tramite.expediente.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}), aprueba {{tipoPliego}}, con sus respectivos Anexos; establece fecha y hora termino para la presentación y apertura de ofertas y designa a los integrantes de la Comisión Evaluadora de Oferta.</p>
<p style="text-align:justify">Que en orden 000, obran {{tipoPliego}}, {{docP.nombreArchivo | default('PLIEG-' ~ year ~'-000-CAT-DPCBS#MEC') }}, conforme lo autorizado por la Resolución mencionada.</p>
{% for tramite in tramites %}
    <p style="text-align:justify">Que a orden 000 obra la correspondiente Solicitud de Contratación 100-000-SCO{{year | replace({'20': ""})}} de {{tramite.organismoOrigen | title }}, generada por el sistema electrónico de contrataciones COMPR.AR.</p>
{% endfor %} 
<p style="text-align:justify">Que en orden 000, obra constancia de publicidad en el sitio de internet del Sistema Electrónico de Compras.</p>
<p style="text-align:justify">Que en orden 000, obra documento de invitación a Proveedores obrantes en el Sistema Electrónico COMPR.AR.</p>
<p style="text-align:justify">Que en orden 000, obra constancia de acuse de recibo de Contaduría General de la Provincia y constancia de publicación en página web de Contaduría General de la Provincia, en cumplimiento de publicidad del llamado, conforme la normativa vigente.</p>
<p style="text-align:justify">Que en orden 000, obra Acta de Apertura de Ofertas, IF-{{year}}-000-CAT-DPCBS#MEC, de fecha 00 de .... de {{year}} a horas 00:00, donde consta que los proveedores participantes son: 00 y las ofertas confirmadas: {{documento.tramite.oferta | length }}, siendo confirmadas las ofertas de las firmas: 
{% for tramite in documento.tramite.oferta | reverse  %}
    {% set oferente = tramite.oferente %}
    {{ tramite.proveedor  | default(oferente)}},
{% endfor %}</p>
<p style="text-align:justify">Que en orden 000, obran ofertas económicas y demás documentación de los oferentes 
{% for tramite in documento.tramite.oferta | reverse %}
    {% set oferente = tramite.oferente %}
    {{ tramite.proveedor  | default(oferente)}},
{% endfor %}, presentadas mediante los formularios otorgados por el Sistema Electrónico de Contrataciones de la Provincia (COMPR.AR).</p>
<p style="text-align:justify">Que en orden 000, obra Cuadro Comparativo por Renglón de Ofertas, IF-{{year}}-000-CAT-DPCBS#MEC, emitido por el Sistema Electrónico de Contrataciones de la Provincia.</p>
<p style="text-align:justify">Que a orden 000, obra documentacion presentada por la firma 
{% for tramite in documento.tramite.oferta | reverse if tramite.estado %}
    {% set oferente = tramite.oferente %}
    {{ tramite.proveedor  | default(oferente)}},
{% endfor %} </p>
<p style="text-align:justify">Que en orden 000, obra Informe Técnico de Evaluación de Calidad de los bienes ofrecidos,IF-{{year}}-000-CAT-SCA#MEC ...</p>
<p style="text-align:justify">Que en orden 000, obra constancia de antecedentes, sanciones y constancia de la situación registral en el Registro de Proveedores del Estado, donde se observa que las firmas {% for tramite in documento.tramite.oferta | reverse if tramite.estado %}
    {% set oferente = tramite.oferente %}
    {{ tramite.proveedor  | default(oferente)}},
{% endfor %} se encuentran en estado “inscripto” en el Rubro de actividad objeto de la presente Contratación. Con respecto a los antecedentes y sanciones se observa que las firmas ... no registra antecedentes ni sanciones, mientras que las firmas ... registran antecedentes.</p>
<p style="text-align:justify">Que a orden 000, obra cuadro comparativo de factores de ponderación IF-{{year}}-000-CAT-DPCBS#MEC.</p>
<p style="text-align:justify">Que en orden 000, obra Dictamen de la Comisión Evaluación de Ofertas, IF-{{year}}-000-CAT-DPCBS#MEC de fecha 00 de ... de {{ 'now' | date('Y')}}, emitido por la Comisión constituida al efecto, quienes sugieren: “(…)……………”.</p>
<p style="text-align:justify">Que en orden 000, toma intervención la Contaduría General de la Provincia mediante informe IF-{{year}}-000-CAT-SCGC#CGP, la cual concluye manifestando que corresponde a la Autoridad Competente, Aprobar lo actuado y Adjudicar la Contratación de conformidad a lo normado por el Artículo 18° del Decreto Acuerdo N° 1127 y sus modificatorios.
</p>
<p style="text-align:justify">Que en orden 000 se adjunta documentación de afectación preventiva de créditos presupuestarios por parte de las unidades solicitantes.</p>
<p style="text-align:justify">Que a orden 000, toma intervención Asesoría Legal del Ministerio de Economía, a través de Dictamen ....</p>
<p style="text-align:justify">Que por el monto estimado del contrato, se encuentra correctamente encuadrado el procedimiento de selección, de conformidad con lo establecido en los Artículos 31° y 32° del Reglamento Parcial N° 2 aprobado por Decreto Acuerdo N°1127/2020  y sus modificatorios. </p>
<p style="text-align:justify">Que mediante Decreto Acuerdo N° 751/2018 se aprobó la implementación del Sistema Electrónico de Contrataciones de la Administración Provincial COMPR.AR.</p>
<p style="text-align:justify">Que por Resolución RESOL-2020-23-E-CAT-CGP#MHF el Órgano Rector del Sistema de Contrataciones implementa el Sistema Electrónico de Contrataciones de la Administración Provincial "COMPR.AR".</p>
<p style="text-align:justify">Que por el Artículo 8° de Anexo I –Reglamento Parcial Nº 2 de la Ley N°4938– Decreto Acuerdo Nº 1127/2020, establece a la Secretaría de Compras y Abastecimiento, dependiente del Ministerio de Hacienda Pública (hoy Ministerio de Economía), como órgano ejecutor del sistema de contrataciones.</p>
<p style="text-align:justify">Que el presente acto se dicta en uso de las facultades otorgadas; conforme lo previsto en los artículos 17° inc. f) y 18° “in fine” del Reglamento Parcial N.º 2 de la Ley N.º 4938 – Aprobado por Decreto Acuerdo N.º 1127/2020, modificado por Decreto Acuerdo N° 1573/20 y N° 2036/20.</p>
<p style="text-align:justify">Por ello; </p>
<p style="text-align:center"><strong>LA MINISTRA DE ECONMÍA <br> RESUELVE:</strong></p>

<p style="text-align:justify"><strong>ARTÍCULO 1°</strong>.- <strong>Apruébese</strong> lo actuado por la Secretaría de Compras y Abastecimiento dependiente del Ministerio de Economía, en {{documento.tramite.tipoProceso | upper}} Nº {{documento.tramite.numeroComprar | upper}} , {{marcoLegal}} {{documento.tramite.tipo}}, modalidad  {{documento.tramite.modalidad}}, para la {{extracto}}, cuyo presupuesto oficial es de {{ numero_a_letras(documento.tramite.expediente.PresupuestoOficial ,2, documento.tramite.moneda | default("PESOS")) }} ($ {{ documento.tramite.expediente.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}).</p>

{% if ofertas | length > 0   %}
    {% set numero = numero + 1 %}
    <p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Téngase por Inadmisible</strong>, de acuerdo a lo dictaminado por la Comisión Evaluadora de Ofertas,  {% if ofertas | length == 1  %} la oferta presentada por: {% else %} las ofertas presentadas por: {% endif %}
    <ul>
    {% for oferta in ofertas if not oferta.estado  %}
         <li style="text-align:justify"> La firma {{oferta.oferente}} - CUIL:{{oferta.cuit | default("") | mostrar_como_cuil}}, por no encontrarse inscripta en el Registro de Proveedores del Estado Provincial al momento de la emisión del presente Dictamen de Evaluación, conforme a lo establecido por el Artículo 75° inciso f) y j) del Anexo I del Reglamento Parcial Nº 2 de la Ley 4938 – Anexo I - Decreto Acuerdo Nº 1127/20 y modificatorios, conforme a lo dictaminado por la Comisión Evaluadora de Ofertas.</li>
    {% endfor %}
    </ul> </p>
{% endif %}

{% if itemDesierto | length > 0   %}
     {% set numero = numero + 1 %}
    <p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Téngase por Desierto</strong> los ítems N° <strong>{% for itemP in itemDesierto %} {{itemP.numero}}, {% endfor %}</strong> de {{documento.tramite.tipoProceso | upper}} Nº {{documento.tramite.numeroComprar | upper}}, de acuerdo a lo dictaminado por la Comisión Evaluadora de Ofertas. </p>
{% endif %}

{% if  itemFracasado | length > 0 and documento.tramite.estado   %}
    {% set numero = numero + 1 %}
   <p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Téngase por Fracasado</strong> los ítems N° <strong>{% for itemP in itemFracasado %} {{itemP.numero}}, {% endfor %}</strong> de {{documento.tramite.tipoProceso | upper}} Nº {{documento.tramite.numeroComprar | upper}}, de acuerdo a lo dictaminado por la Comisión Evaluadora de Ofertas.</p>
{% endif %}
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Adjudicase</strong>  
{% if documento.tramite.adjudicado %}
    {% for tramite in documento.tramite.oferta | reverse if tramite.montoAdjudicado > 0 %}
             {% set oferente = tramite.oferente %}
             a la firma {{ tramite.proveedor  | default(oferente)}}  - CUIT: {{ tramite.cuit  | default("") | mostrar_como_cuil }}, los ítems N° <strong>
                    {% for itemOferta in tramite.itemOferta if itemOferta.adjudicado %}
                        {{itemOferta.numero}},&nbsp;
                    {% else %}  
                      -     
                    {% endfor %}</strong>
               {% if tramite.montoAdjudicado > 0 %}  por la suma de {{ numero_a_letras(tramite.montoAdjudicado,2, '') }} (${{ tramite.montoAdjudicado | number_format(2, ',', '.')  }}){% endif %};&nbsp;
      {% endfor %}
{% endif %} por, respectivamente, ajustarse sus ofertas a lo solicitado, obtener mayor puntaje y ser económicamente convenientes a los intereses del Estado Provincial.  </p>
<p style="text-align:justify">El monto total adjudicado asciende a la suma de {{ numero_a_letras(documento.tramite.montoAdjudicado,2, documento.tramite.moneda | default("PESOS")) }} (${{ documento.tramite.montoAdjudicado | number_format(2, ',', '.')  }})</p>

{#
MODALIDAD
1   Acuerdo Marco
2   Compra Determinada
3   Compulsa Inversa de Precios
4   Compra Abierta
5   Compra Consolidada
#}
{% if documento.tramite.modalidad.id == 5 %}
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Dejase</strong> establecido que del total adjudicado en forma consolidada corresponde su distribución a: 
<ol>
{% for tramite in tramites %}
   {% set monto = 0 %}
   {% for itemPA in tramite.itemPedido | sort((a, b) => a.ipp <=> b.ipp) if itemPA.itemProceso.adjudicado | default(false) %}
         {% for itemOferta in itemPA.itemProceso.itemOferta if itemOferta.adjudicado %}
              {% set cantidad = (itemPA.cantidad/itemPA.itemProceso.cantidad)*itemOferta.cantidadAdjudicada %}
              {% set monto = monto + ((cantidad | round) * itemOferta.precio ) %}
        {% endfor %}
   {% endfor %}

        <li style="text-align:justify">{{tramite.organismoOrigen.organismo | upper }}: el Monto de {{ numero_a_letras(monto,2, tramite.moneda | default('PESOS'))}} (${{ monto | number_format(2, ',', '.')  }}) </li>
{% endfor %}
 </ol>
</p> 
{% endif %}

{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Autorizase</strong> a la Secretaría de Compras y Abastecimiento dependiente del Ministerio de Economía a emitir las correspondientes Órdenes de Compra a la Razones Sociales: 
{% for tramite in documento.tramite.oferta | reverse if tramite.montoAdjudicado > 0  %}
        {% set oferente = tramite.oferente %}
        {{ tramite.proveedor  | default(oferente)}}; &nbsp;
{% endfor %} 
</p>
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- <strong>Autorizase</strong> a la Dirección de Administración, Servicio Administrativo Financiero o quien haga sus veces, {% for tramite in tramites %} {{tramite.organismoOrigen | title }}, {% endfor %}  a emitir las Ordenes de Pagos correspondientes por el importe total de {{ numero_a_letras(documento.tramite.montoAdjudicado,2, documento.tramite.moneda | default("PESOS"))  }} (${{ documento.tramite.montoAdjudicado | number_format(2, ',', '.')  }}) correspondiente a la presente adjudicación. </p>
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- El gasto emergente será imputado a las partidas presupuestarias vigentes de los organismos solicitantes: {{organismos}} </p>
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}°</strong>.- Tomen conocimiento a sus efectos Secretaría de Compras y Abastecimiento del Ministerio de Economía, {% for tramite in tramites %} {{tramite.organismoOrigen.organismo | title }}, {% endfor %} Contaduría General de la Provincia y Tesorería General de la Provincia </p>
{% set numero = numero + 1 %}
<p style="text-align:justify"><strong>ARTÍCULO {{numero}}º</strong>.- Comuníquese, publíquese, dese al Registro Oficial y Archívese.
</p>