{# Siarme\ExpedienteBundle\Resources\views\Reporte\_reporte_despacho.html.twig#}
  {% set tareas = true %}
   {% set reporteDespachosActivos, tramites2, despachos,  cantidad, sumaTotal, organismo= [],despachos_por_estado(anio, false), {}, 0, 0, 0 %}

          {% for tramite in tramites2 %}
            {% if loop.first %}
              {% set organismo, cantidad, despachos = tramite.organismoDestino, 1, despachos | merge([tramite])  %}
            {% elseif tramite.organismoDestino == organismo %}
               {% set cantidad , despachos = cantidad  + 1,  despachos | merge([tramite])  %}
            {% else %}
             {% set  reporteDespachosActivos = reporteDespachosActivos | merge([{organismo, cantidad , despachos}]) %}
                {% set  despachos = [] %}
             {% set organismo, cantidad,  despachos = tramite.organismoDestino, 1, despachos | merge([tramite]) %}
            {% endif %}
          {% endfor %}
               {% set  reporteDespachosActivos = reporteDespachosActivos | merge([{organismo, cantidad ,  despachos}]) %}
               
<h3><span class="label label-primary"> DESPACHOS ACTIVOS</span></h3>
<div class="list-group-item" style="height: 100%;">
   <table id="tablaActivos" class="table table-striped table-hover">
            <thead class="text-center">
             <tr>
                <th></th>
                <th>Organismo</th>
                <th>Cantidad</th>
             </tr>
           </thead>
            <tbody class="panel">
                {% set sumaCantidad = 0 %}
              {% for reporte  in reporteDespachosActivos %}
                <tr data-toggle="collapse" data-parent="#tablaActivos" data-target="#collapseActivos{{loop.index}}">
                  <th>
                    {% if loop.first %} <span  data-toggle="popover" data-placement="top"  data-content="Haga Click para ver los DESPACHOS"></span>{% endif %}
                    <span class="chevron glyphicon glyphicon-chevron-down text-info"  ></span></th>
                  <th>{{reporte.organismo | default("n/d")}}</th>
                  <td>{{reporte.cantidad}} </td>
                </tr> 
                <tr id="collapseActivos{{loop.index}}" class="collapse">  
                   <td colspan="5">

                          {% set   despachos, cantidad = reporte.despachos, reporte.cantidad %}
                        {% for tramite in  despachos  %}        
                        {# cabecera de tabla #}
                         {% if loop.first %}
                              <table class='{{(cantidad > 5)? "tablaTramite": " "}}  table table-responsive'>
                                  <thead>
                                    {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                  </thead>
                                  <tbody>
                          {% endif %}   
                                     {# filtro los tramites que no tienen expedientes #}
                                     {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}    
                         {% endfor %}
                                  </tbody>
                              </table>     
                    </td>
                </tr> 
                {% set sumaCantidad = sumaCantidad + reporte.cantidad %}
              {% endfor %}
              <tr>
                <th></th>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
              </tr> 
            </tbody>
        </table>
    </div>
    {# SALTO DE PAGINA #}
    <div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>
     {% set reporteDespachosConcluidos, tramites2, despachos,  cantidad, sumaTotal, organismo= [], despachos_por_estado(anio, true), {}, 0, 0, 0 %}

          {% for tramite in tramites2 %}
            {% if loop.first %}
              {% set organismo, cantidad, despachos = tramite.organismoDestino, 1, despachos | merge([tramite])  %}
            {% elseif tramite.organismoDestino == organismo %}
               {% set cantidad , despachos = cantidad  + 1,  despachos | merge([tramite])  %}
            {% else %}
             {% set  reporteDespachosConcluidos = reporteDespachosConcluidos | merge([{organismo, cantidad , despachos}]) %}
                {% set  despachos = [] %}
             {% set organismo, cantidad,  despachos = tramite.organismoDestino, 1, despachos | merge([tramite]) %}
            {% endif %}
          {% endfor %}
               {% set  reporteDespachosConcluidos = reporteDespachosConcluidos | merge([{organismo, cantidad ,  despachos}]) %}
<h3><span class="label label-success"> DESPACHOS CONCLUIDOS</span></h3>
<div class="list-group-item" style="height: 100%;">
   <table id="tablaConcluidos" class="table table-striped table-hover">
            <thead class="text-center">
             <tr>
                <th></th>
                <th>Organismo</th>
                <th>Cantidad</th>
             </tr>
           </thead>
            <tbody class="panel">
                {% set sumaCantidad = 0 %}
              {% for reporte  in reporteDespachosConcluidos %}
                <tr data-toggle="collapse" data-parent="#tablaConcluidos" data-target="#collapseConcluidos{{loop.index}}">
                  <th>
                    <span class="chevron glyphicon glyphicon-chevron-down text-info"  ></span></th>
                  <th>{{reporte.organismo}}</th>
                  <td>{{reporte.cantidad}} </td>
                </tr> 
                <tr id="collapseConcluidos{{loop.index}}" class="collapse">  
                   <td colspan="5">

                          {% set   despachos, cantidad = reporte.despachos, reporte.cantidad %}
                        {% for tramite in  despachos  %}        
                        {# cabecera de tabla #}
                         {% if loop.first %}
                              <table class='{{(cantidad > 5)? "tablaTramite": " "}}  table table-responsive'>
                                  <thead>
                                    {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                  </thead>
                                  <tbody>
                          {% endif %}   
                                     {# filtro los tramites que no tienen expedientes #}
                                     {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}    
                         {% endfor %}
                                  </tbody>
                              </table>     
                    </td>
                </tr> 
                {% set sumaCantidad = sumaCantidad + reporte.cantidad %}
              {% endfor %}
              <tr>
                <th></th>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
              </tr> 
            </tbody>
        </table>
    </div>