{# Siarme\ExpedienteBundle\Resources\views\Reporte\_reporte_items.html.twig#}
  <div class="list-group-item" style="height: 100%;">
          <table class="table table-striped">
            <thead class="text-center">
              <tr> <h3> CANTIDAD DE ITEMS POR TRIMESTRE </h3> </tr>
             <tr>
                <th>Trimestres</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody>
              {% set resportePorTrimestre, sumaCantidad, sumaPresupuesto = items_por_trimestre(app.user.departamentoRm, anio), 0, 0 %}
      
              {% for reporte  in resportePorTrimestre %}
                <tr> 
                  <th>{{reporte.trimestre}}° Trimestre</th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto 

                %}
              {% endfor %}
              <tr>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
          </table>
      <div id="chartTrimestreItems" style="height: 300px; max-width: 80%"></div>
    </div>
    {# SALTO DE PAGINA #}
    <div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>
    <div class="list-group-item">
          <table class="table table-striped">
            <thead class="text-center">
              <tr> <h3> CANTIDAD DE ITEMS POR RUBRO</h3> </tr>
             <tr>
                <th>Rubro</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody>
              {% set resportePorRubro, sumaCantidad, sumaPresupuesto = items_por_rubro(app.user.departamentoRm, anio), 0, 0 %}
      
              {% for reporte  in resportePorRubro %}
                <tr> 
                  <th>{{reporte.item.tramite.rubro}}</th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto 

                %}
              {% endfor %}
              <tr>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
          </table>
        <div id="chartRubroItems"  style="height: 600px; max-width: 80%;"></div>
    </div>
    {# SALTO DE PAGINA #}
    <div style="page-break-after:always"><span style="display:none">&nbsp;</span></div>
    <div class="list-group-item">
          <table class="table table-striped">
            <thead class="text-center">
              <tr> <h3> CANTIDAD DE ITEMS POR SAF</h3> </tr>
             <tr>
                <th>SAF</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody>
              {% set resportePorSaf, sumaCantidad, sumaPresupuesto = items_por_saf(app.user.departamentoRm, anio), 0, 0 %}
      
              {% for reporte  in resportePorSaf %}
                <tr> 
                  <th><a href="{{ path('organismo_show', { 'id': reporte.item.tramite.organismoOrigen.id | default(0) }) }}" target="_blank">{{reporte.item.tramite.organismoOrigen}}</a></th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto 

                %}
              {% endfor %}
              <tr>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
          </table>
        <div id="chartSafItems"  style="height: 600px; max-width: 80%;"></div>
    </div>    
