{# Siarme\ExpedienteBundle\Resources\views\Reporte\reparticion_index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} REPORTE{% endblock %}
  {% block header %}
    {{ include('ExpedienteBundle:Default:_header.html.twig') }}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block contenido %}
        {% if app.user.departamentoRm.slug != "dppr" %} {% set modulo ="EXPEDIENTES" %}{% else %}{% set modulo ="CCOO-DPPR" %}{% endif %}
        {% set modulo2 = "TAREAS" %}  
        {% for tipoTramite in app.user.departamentoRm.tipoTramite %}
            {% if loop.first %}
            {% set modulo2 = tipoTramite %}
            {% endif %}
        {% endfor %}
        {{ app.session.set('modulo', "REPORTE") }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-stats') }}
        {{ app.session.set('route', 'reporte_index') }}    
     <div class="nav nav-tabs nav-justified hidden-print" style="padding-top:5px;">      
        <li role="presentation" ><a href="{{ path('expediente_reparticion_index') }}"> <span class="glyphicon glyphicon-folder-open"></span>{{modulo}}</a></li>
        <li role="presentation" ><a href="{{ path('tramite_reparticion_index') }}"> <span class="glyphicon glyphicon-tasks"></span>{{modulo2}}</a></li>
        <li role="presentation"><a style="color:#306066;" href="{{ path('general_reparticion_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-folder-open"></span> ACUERDO MARCO</a></li>
        <li role="presentation" class="active"><a  href="{{ path('reporte_index') }}"> <span class="glyphicon glyphicon-stats"></span> REPORTE</a></li>
        <li role="presentation"><a href="{{ path('organismo_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-tent" ></span> SAFS</a></li>
        <li role="presentation"><a  href="{{ path('usuario_index', {'id': app.user.departamentoRm.id }) }}"> <span class="glyphicon glyphicon-user"></span> USUARIOS</a></li>
      </div>
<div id="copy" class="container"> 
      <ol class="breadcrumb"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 3) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('reporte_index', { 'id': app.user.departamentoRm.id, 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
      </ol>
 <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified hidden-print" role="tablist">
    {% if app.user.departamentoRm.slug == "dppr" %} 
            <li role="presentation"  class="active" ><a href="#pedidos" aria-controls="pedidos" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-tasks"></span> PEDIDOS </a></li>
    {% endif %}
            <li role="presentation" {% if app.user.departamentoRm.slug == "dpcbs" %} class="active" {% endif %}><a href="#procesos" aria-controls="procesos" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-tasks"></span> PROCESOS </a></li>
            <li role="presentation" {% if app.user.departamentoRm.slug == "despacho" %} class="active" {% endif %}><a href="#despachos" aria-controls="despachos" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-random"></span> DESPACHOS </a></li>
  </ul>

<div class="tab-content">
  {% if app.user.departamentoRm.slug == "dppr" %}
    <div role="tabpanel" class="tab-pane fade in   active" id="pedidos">
       <div class="panel panel-default">
        <div class="panel-heading"> 
        <h4 class="panel-title text-center"> REPORTE POR PEDIDOS <span class="pull-right"> Fecha: {{'now' | date('d-m-Y')  }}</span></h4>
        </div>
        <div id="pedidos" class="panel-collapse collapse in">
          <div  class="panel-body ">        
           
              {{ include('ExpedienteBundle:Reporte:_reporte_pedidos.html.twig') }} 
             
          </div>
        </div>
      </div>
    </div>
  {% endif %}
    <div role="tabpanel" class="tab-pane fade in {% if app.user.departamentoRm.slug == "dpcbs" %} active {% endif %}" id="procesos">
            <div class="panel panel-default">
        <div class="panel-heading"> 
        <h4 class="panel-title text-center"> REPORTE POR PROCESOS <span class="pull-right"> Fecha: {{'now' | date('d-m-Y')  }}</span></h4>
        </div>
        <div id="pedidos" class="panel-collapse collapse in">
          <div  class="panel-body ">        
              {{ include('ExpedienteBundle:Reporte:_reporte_procesos.html.twig') }} 
             
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in {% if app.user.departamentoRm.slug == "despacho" %} active {% endif %}" id="despachos">
      <div class="panel panel-default">
        <div class="panel-heading"> 
        <h4 class="panel-title text-center"> REPORTE POR DESPACHO <span class="pull-right"> Fecha: {{'now' | date('d-m-Y')  }}</span></h4>
        </div>
        <div id="pedidos" class="panel-collapse collapse in">
          <div  class="panel-body ">        
              {{ include('ExpedienteBundle:Reporte:_reporte_despacho.html.twig') }} 
          </div>
        </div>
      </div>
    </div>
</div>
</div>   

{% endblock %}
{% block javascripts %}  
{{ parent() }}
 {% if app.user.departamentoRm.slug == "dppr" %} 
{{ include('ExpedienteBundle:Reporte:_reporteJavaScript.html.twig') }} 
 {% endif %}  

{{ include('ExpedienteBundle:Reporte:_procesosJavaScript.html.twig') }} 
  
{% endblock %}