{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}  {% endblock %}


{% block main %}  

    <h1>Tipodocumento edit</h1>
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
        <li role="presentation">
            <a href="{{ path('tipodocumento_index') }}">Volver a la Lista</a>
        </li>
         <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
</div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(edit_form) }}

{% endblock %}
{% block javascripts %} 
     <script src="{{ asset('bundles/expediente/plugins/jquery/jquery.min.js') }}">
    </script>
    <script src="{{ asset('bundles/expediente/plugins/boostrap3/js/bootstrap.min.js') }}">
    </script> 
    <script src="{{  asset('bundles/expediente/plugins/summernote/summernote.min.js') }}"></script>
 <script>
  $('#siarme_documentobundle_tipodocumento_texto').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 500,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
        //  ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
</script>
{% endblock %}