{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}  {% endblock %}


{% block main %}  

    <h1>Tipodocumento edit</h1>
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
        <li role="presentation">
            <a href="{{ path('tipodocumento_index') }}">Volver a la Lista</a>
        </li>
         <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
</div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Guardar" />
    {{ form_end(edit_form) }}

{% endblock %}
{% block javascripts %} 
  {{ parent() }}
<script type="text/javascript">
 CKEDITOR.replace( 'siarme_documentobundle_tipodocumento_texto', {  height: 400, 
    // Configure SCAYT to load on editor startup.
    scayt_autoStartup: true,
    autoGrow_onStartup: true,
} );
</script>
{% endblock %}
