{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {% endblock %}

{% block contenido %}  
    <h1>Tipos de Documentos</h1>

<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
        <li role="presentation">
            <a href="{{ path('tipodocumento_new') }}">Crear un Nuevo Tipo de Documento</a>
        </li>
</div>

    <table id="tablaTipoDocumento"  class="table table-responsive table-hover text-capitalize tablaExpediente"  style="margin:0px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Documento</th>
                <th>Cantidad</th>
                <th>Año</th>
                <th>Visible</th>
                <th>Es Archivo</th>
                <th>Tipo Tramite</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoDocumento in tipoDocumentos %}
            <tr>
                <td><a href="{{ path('tipodocumento_show', { 'id': tipoDocumento.id }) }}">{{ tipoDocumento.id }}</a></td>
                <td>{{ tipoDocumento.slug }}</td>
                <td> <span class="{{ tipoDocumento.glyphicon }}"></span> <a href="{{ path('tipodocumento_show', { 'id': tipoDocumento.id }) }}">{{ tipoDocumento.nombreDocumento }}</a></td>
                <td>{{ tipoDocumento.numero }}</td>
                <td>{{ tipoDocumento.anio }}</td>
                <td>{% if tipoDocumento.visible %}Es Visible{% else %}No{% endif %}</td>
                <td>{% if tipoDocumento.esArchivo %}Es Archivo{% else %} <span class="glyphicon glyphicon-file"> </span>{% endif %}</td>
                <td>{{ tipoDocumento.tipoTramite | default("N/D")}}</td>
                <td>
                            <a href="{{ path('tipodocumento_edit', { 'id': tipoDocumento.id }) }}">Modificar</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block javascripts %}  
{{ parent() }}
<!-- DataTables -->
<script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>

<script> 
 $("#link-2").addClass('active');
  $(function () {
    $("#tablaTipoDocumento").DataTable({"searching": true,"lengthChange": false, "order": [[ 0, "desc" ]],"pageLength": 20,
            "language": {
                "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
            },
        });
  });

</script> <!-- DataTables  -->
{% endblock %}