
{# Siarme\ExpedienteBundle\Resources\views\Tarea\modal_new.html.twig#}
<!-- Modal -->
<div class="modal fade" id='{{tarea.tramite.id}}' tabindex="-1" role="dialog" aria-labelledby="modalTareaNew" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTareaNew">ASIGNAR USUARIO COLABORADOR AL {{tarea.tramite}} - {{tarea.tramite.numeroTramite}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </h5>
      </div>
        <div class="modal-body">
            {{ form_start(form,  {'action': path('modal_tarea_new', {'tramite_id': tarea.tramite.id}), 'method': 'POST'}) }}
                
                <div>   
                  {{ form_label(form.usuario) }}
                  {{ form_errors(form.usuario) }}
                  {% block wiget_user %}
                  {{ form_widget(form.usuario,   {'value' : ""})  }}
                  {% endblock %}
               </div>   
               <div>   
                  {{ form_label(form.texto) }}
                  {{ form_errors(form.texto) }}
                  {% block wiget_texto %}
                  {{ form_widget(form.texto,   {'value' : ""})  }}
                  {% endblock %}
               </div>     
                <div class="text-right">
                     <input class="btn btn-danger" type="submit" value="ASIGNAR" />
                </div>
            {{ form_end(form) }}
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>