{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} AGENTE{% endblock %}

{% block menu_li%}

{% endblock %}
{% block contenido %}
 <div class="container"> 
{% block mensaje %}
 {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
{% endblock %}

    <h1>Tarea</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarea.id }}</td>
            </tr>
            <tr>
                <th>Fechatarea</th>
                <td>{% if tarea.fechaTarea %}{{ tarea.fechaTarea|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharesponsable</th>
                <td>{% if tarea.fechaResponsable %}{{ tarea.fechaResponsable|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaagenda</th>
                <td>{% if tarea.fechaAgenda %}{{ tarea.fechaAgenda|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horaagenda</th>
                <td>{% if tarea.horaAgenda %}{{ tarea.horaAgenda|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharealizado</th>
                <td>{% if tarea.fechaRealizado %}{{ tarea.fechaRealizado|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Realizado</th>
                <td>{% if tarea.realizado %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Destacar</th>
                <td>{% if tarea.destacar %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>{{ tarea.prioridad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarea_edit', { 'id': tarea.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
