  {% for licencia in pagination %}   
         {% set glyphicon = licencia.documento.tipodocumento.glyphicon |default("") ~ ' text-info' %}
           <tr> 
          <td> 
               {{ loop.revindex | default(1) }}
           </td>
           <td>
            <div class="dropdown hidden-print" style="background-color:#F5F5F5;"> 
            {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
             {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': licencia.documento,'tipo': 'DOC' } %}
           </div>
            </td>
            {% if licVigentes is defined %}
                <td>{{licencia.agente}}</td>
                <td>{{licencia.agente.usuario.departamentoRm | default("SCA")}}</td>
                <td> {{licencia.fechaDesde |localizeddate('none', 'none', 'es', null, "MMMM")}}</td>
            {% endif %}
                <td>
                {# {% if ( app.user.id == licencia.documento.usuario.id | default(null)) %}
                        <span data-toggle="tooltip" data-placement="top" title='{{ licencia.documento.usuario | title }}' class='glyphicon glyphicon-user text-success' aria-hidden="true"></span>  
                 {% else %}       
                         <span data-toggle="tooltip" data-placement="top" title='{{ licencia.documento.usuario| default("N/D") | title }}' class='glyphicon glyphicon-user text-muted' aria-hidden="true"></span> 
                  {% endif %}#}
           {% if licencia.documento is not empty %}
                {% if  not  licencia.documento.papelera  %}
                            <a  href='{{ path('documento_show', { 'id': licencia.documento.id }) }}' data-toggle="tooltip" data-placement="top" title= "Ver {{ licencia.articulo |  default("N/D") }}" > 
                                   <span  class='{{glyphicon}}'>  </span> 
                            {% if   licencia.documento.slug != "licencia"  %}  
                                  {{licencia.documento}}
                            {% else %} 
                                    {{licencia.articulo.codigoArticulo | default("N/D")  }} -  {{licencia.articulo.grupoArticulo.grupo | default("N/D")  }}
                            {% endif %}    
                            </a>
                  {% else %} 
                                <span class='{{licencia.documento.tipodocumento.glyphicon}}'> 
                                </span> 
                                   {{licencia.articulo.codigoArticulo | default("N/D")  }} -  {{licencia.articulo.grupoArticulo.grupo | default("N/D")  }}
                   {% endif %} 
            {% else %}

                            <a data-toggle="tooltip" data-placement="top" 
                            title= "Ver detalle de Licencia" href='{{ path('licencia_show', { 'id': licencia.id }) }}' target="_blank"> 
                                <span class="glyphicon glyphicon-tags text-info"> {{licencia }} </span> 
                             </a>
           {% endif %}
                    
               </td>
                <td>{{ licencia.fechaDesde | date("d/m/Y") | default("N/D")}}</td>

                <td>{{ licencia.fechaHasta | date("d/m/Y") | default("N/D") }}</td>
                <td>
                {# endDate and startDate are strings or DateTime objects #}
                {% set difference = date(licencia.fechaHasta).diff(date(licencia.fechaDesde)) %}
                {% set leftDays = difference.days + 1 %}
                {% if leftDays == 1 %}
                  1 día
                {% else %}
                  {{ leftDays }} días
                {% endif %}
            {#  {{ date( licencia.fechaHasta | date ).diff( licencia.fechaDesde ).format('%d') }} #}
                </td>
                <td>       
                  {#<span data-toggle="tooltip" data-placement="top" title= "{{licencia.enfermedad.enfermedad }}"></span>#}
                  {{licencia.enfermedad.codigoEnfermedad }} 
                </td>
                <td>
                    {% if  (licencia.fechaHasta  | date('Y-m-d')  >=  'now' | date('Y-m-d'))  %} <span class="label label-success">Vigente</span>{% else %} <span class="label label-default">Finalizada</span>{% endif %}
                </td>           
                <td>
                    {% if app.user.departamentoRm.slug == "despacho" %}
                             <a  data-toggle="tooltip" data-placement="top" title='Modificar el Documento' role="button" href="{{ path('extranet_documento_edit' , { 'id': licencia.documento.id }) }}"> <span class="glyphicon glyphicon-pencil"> </span> Modificar</a> &nbsp; 
                            <a data-toggle="tooltip" data-placement="top" title='Eliminar' role="button" href="{{ path('documento_eliminar' , { 'id': licencia.documento.id }) }}"> <span class="glyphicon glyphicon-trash text-danger" onclick= "return confirm('¿Desea Eliminar definitivamente la Licencia?');"> </span></a> 
                    {% endif %}
                  </td>
            </tr>
 {% endfor %}