{# Siarme/AusentismoBundle/Resources/views/Licencia/show.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} LICENCIA{% endblock %}
{% block stylesheets %}   
          <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_cerulean.min.css') }}" type="text/css" rel="stylesheet">  
{% endblock %}
{% block menu_li %}    
     
 {% endblock %}   
{% block main %}
       <li>
            <a   href="{{ path('licencia_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Listar Licencias</span></a>
        </li> 
        <li>
            <a data-toggle="tooltip" data-placement="top" title="MODIFICAR LICENCIA"  href="{{ path('licencia_edit', { 'id': licencia.id }) }}" role="button"> <span class="glyphicon glyphicon-pencil"> Modificar</span></a>
        </li>
         <li>
                    <a  data-toggle="tooltip" data-placement="top" title="VER DETALLE DE AGENTE" href="{{ path('agente_show', { 'id': licencia.agente.id }) }}" role="button"><span class="glyphicon glyphicon-user"> Agente </span></a>
         </li>
         {% set botonDelet %}                     
            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR la Licencia?")'}}) }}                       
             <button class="btn btn-danger btn-sm" type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash"> Eliminar  </span> </button>
             {{ form_end(delete_form) }}
        {% endset %}

           {% if (licencia.documento | length == 0) and not (licencia.estado) %} 
                <li> 
                {{ botonDelet }}
                </li>
     
            {% endif %}                  
         <li><a  id="printer"  value="Imprimir" role="button"><span class="glyphicon glyphicon-print"></span> Imprimir </a>
        </li>
        {% set rolusuario = app.user.rol %}
        {% if ( not is_granted('ROLE_USUARIO'))
       %}
        {% if licencia.estado %}
            <li>            
                <a  role="button" href="{{ path('licencia_gde' , { 'id': licencia.id , 'estado': 0 }) }}"> <span class="label label-success"> Desmarcar GDE</span></a>
            </li>
        {% else %}
            <li>            
                <a  role="button" href="{{ path('licencia_gde' , { 'id': licencia.id , 'estado': true }) }}"> <span class="label label-default"> Marcar GDE</span></a>
            </li>
        {% endif %}
        {% endif %}
<div id="print" class="panel panel-default print">
    <div class="panel-heading text-center">  
       <h4> CERTIFICACION DE LICENCIA</h4>
    </div>
     <div class="panel-body">
            </strong> {{licencia.agente}}<br> 
            <strong> Edad:</strong> {{ licencia.agente.fechaNacimiento | age }}  - 
            <strong>Antiguedad: </strong>{{ licencia.agente.fechaInicioLaboral | age }} - 
            {% if licencia.agente.localidad.departamento is defined %}
            <strong>Departamento:</strong> {{ licencia.agente.localidad.departamento }} <hr style="margin:5px" >

            {% else %}
            <strong>Departamento:</strong> N/D  <hr style="margin:5px" >
            {% endif %}
            <strong>Lugar de Trabajo:</strong> <br> 
            {% for cargo in licencia.agente.cargo %} {{ cargo | default("N/D")}} - {{ cargo.funcion | default("N/D") }} 
             {% else %}
            <em>No se Registro el Lugar de Trabajo </em>
             {% endfor %} 
             <dl>
                 <dt>Datos de Licencia:</dt>
                <dd> Fecha de Licencia:{% if licencia.fechaDocumento %}{{ licencia.fechaDocumento|date('d-m-Y') }}{% endif %}</dd>
                <dt> Articulo</dt>
                <dd> {{licencia.articulo}}</dd>
                <dt> Enfermedad</dt>
                <dd> {{licencia.enfermedad}}</dd>
                <dt> Fecha Desde     -   Fecha Hasta (Cantida de Días)</dt>
                <dd> {% if licencia.fechaDesde %}{{ licencia.fechaDesde|date('d-m-Y') }}{% endif %} - {% if licencia.fechaHasta %}{{ licencia.fechaHasta|date('d-m-Y') }}{% endif %}                 {# endDate and startDate are strings or DateTime objects #}
                {% set difference = date(licencia.fechaHasta).diff(date(licencia.fechaDesde)) %}
                {% set leftDays = difference.days + 1 %}
                {% if leftDays == 0 %}
                  1 day
                {% else %}
                 ( {{ leftDays }} días )
                {% endif %} </dd>
                <dt> Diagnostico:</dt>
                <dd> {{ licencia.diagnostico }} </dd>
             </dl>
        </div>
</div>
{% endblock %}
