{# Siarme/AusentismoBundle/Resources/views/Cargo/index.html.twig #}
{% extends '::ausentismo.html.twig' %}
{% block stylesheets %}  
  {{ parent() }}

  <!-- DataTables -->
  <link href="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">

{% endblock %}  
{% block lista %}
    <h1>Cargos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Funcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cargo in cargos %}
            <tr>
                <td><a href="{{ path('cargo_show', { 'id': cargo.id }) }}">{{ cargo.id }}</a></td>
                <td>{{ cargo.funcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cargo_show', { 'id': cargo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cargo_edit', { 'id': cargo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cargo_new') }}">Create a new cargo</a>
        </li>
    </ul>
{% endblock %}
