{# Siarme/AusentismoBundle/Resources/views/Cargo/new.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} AGENTE{% endblock %}
{% block stylesheets %}   
    <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_yeti.min.css') }}" type="text/css" rel="stylesheet">  
    <link href="{{ asset('bundles/expediente/plugins/select2/css/select2.min.css') }}" rel="stylesheet">   
{% endblock %}
{% block menu_li %}    
                <li>
                    <a  href="{{ path('agente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista de Agentes </span></a>
                </li>               
 {% endblock %}   
{% block main %}
    <div class="panel panel-default">
    <div class="panel-heading text-center">  
       <h4>NUEVO LUGAR DE TRABAJO</h4>               
    </div>
    <div class="panel-body">            
 <h4> {{agente}}</h4>
    {{ form_start(form) }}
        {{ form_widget(form) }}
            <div class="text-right">
            <a  class="btn btn-danger" href="{{ path('agente_show', { 'id': agente.id }) }}"> CANCELAR</a>
                <input class="btn btn-danger" type="submit" value="GUARDAR" />
            </div>
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script src="{{ asset('bundles/expediente/plugins/select2/js/select2.min.js') }}"></script>
    <script> /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('select').select2();
    </script>
{% endblock %}