{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} AGENTE{% endblock %}

{% block menu_li%}

{% endblock %}
{% block contenido %}
 <div class="container"> 
{% block mensaje %}
 {{ include('ExpedienteBundle:Default:_mensaje.html.twig') }}
{% endblock %}
<a href="{{ path('tramite_index') }}">Volver a lista de Pedidos</a>
 <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">PEDIDO {{ tramite.numeroTramite }} - Fecha: {% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}</div>
  <!-- List group -->
  <div class="list-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="list-group-item" >
      <div class="list-group-item-heading  panel panel-primary" role="tab" id="headingTwo">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> {{ tramite.trimestre }}° Trimestre - SAF N° {{ tramite.organismoOrigen.saf.numeroSaf }} - {{ tramite.organismoOrigen.codigoGde }} - {{ tramite.organismoOrigen.organismo }} </a>
      </div>
      <div id="collapseTwo" class="list-group-item-text text-center" aria-expanded="true"  role="tabpanel" aria-labelledby="headingTwo">  
        <dl>
              <dt> Rubro y SubRubro</dt>
              <dd>{{ tramite.rubro}}</dd>
              <dt>Presupuesto Oficial</dt>
              <dd > {{ tramite.PresupuestoOficial }}</dd>        
          </dd>
        </dl>

      </div>
    </div>

    <div class="list-group-item" >
      <div class="list-group-item-heading panel panel-primary" role="tab" id="headingThree">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Documentos</a>
      </div>
      <div id="collapseThree" class="list-group-item-text" role="tabpanel" aria-labelledby="headingThree">


      </div>
    </div>
  </div>

   <div class="panel-footer text-center">{% include 'ExpedienteBundle:Tramite:_menu_acciones_tramite.html.twig' %}</div>
</div>


</div>

{% endblock %}
