{# Siarme\AusentismoBundle\Resources\views\Rubro\show.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}RUBRO {{grupoRubro.codigo}}{% endblock %}
{% block contenido %}
 <div class="container"> 
<div class="nav nav-pills hidden-print"> 

      <li role="presentation" class="disabled"><a href="#">Menu</a></li>

      <li role="presentation"  class="dropdown overflow" >

      </li>

    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>


<div id="copy" class="panel panel-default print">
        <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 
  <!-- Default panel contents -->
  <div class="panel-heading"> 
   <h4> {{grupoRubro.codigo}} - {{grupoRubro.grupo}}</h4>
  </div>
  <div class="panel-body"> 
    <ol class="breadcrumb hidden-print"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('grupo_rubro_show', { 'id': grupoRubro.id | default(0),  'anio': year }) }}" > <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="list-group-item">
        <table id="tablaGrupoRubro" class="table table-striped table-hover">
            <thead class="text-center">
              <tr> <h3>CANTIDAD DE PEDIDOS POR RUBRO</h3> </tr>
             <tr>
                <th></th>
                <th>Rubro</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody class="panel">
              {% set reportePorRubro, sumaCantidad, sumaPresupuesto, sumaTotal = tramites_por_grupo_rubro_y_rubro(grupoRubro, anio), 0, 0, 0 %}
              {% for reporte  in reportePorRubro %}
                <tr data-toggle="collapse" data-parent="#tablaGrupoRubro" data-target="#collapse{{loop.index}}">
                  <th>
                    {% if loop.first %} <span  data-toggle="popover" data-placement="bottom"  data-content="Haga Click para ver los PEDIDOS"></span>{% endif %}
                    <span class="chevron glyphicon glyphicon-chevron-down text-info"  ></span></th>
                  <th>{{reporte.tramite.rubro}}</th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                <tr id="collapse{{loop.index}}" class="collapse">  
                   <td colspan="4">
                          {% set  tramites1, cantidad = reporte.tramite.rubro.tramite, reporte.tramite.rubro.tramite | length %}
                        {% for tramite in  tramites1 if tramite.fechaDestino | date('Y') ==  anio  %}        
                        {# cabecera de tabla #}
                         {% if loop.first %}
                              <table class='{{(cantidad > 5)? "tablaTramite": " "}}  table table-responsive'>
                                  <thead>
                                    {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_thead_completo.html.twig') }}         
                                  </thead>
                                  <tbody>
                          {% endif %}   
                                      {# filtro los tramites que no tienen expedientes #}
                                     {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_tbody_completo.html.twig') }}    
                         {% endfor %}
                                  </tbody>
                              </table>     

         
                    </td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto, sumaTotal = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto, 
                              sumaTotal + (reporte.cantidad * reporte.presupuesto) 

                %}
              {% endfor %}
              <tr>
                <th></th>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
        </table>
     <div id="chartRubro"  style="height: 600px; max-width: 80%;"></div>
    </div>


 </div>
{% endblock %}

{% block javascripts %} 
    {{parent()}}

    {% set reportePorRubro = tramites_por_grupo_rubro_y_rubro(grupoRubro, anio) %}


    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
     <script>
     $(document).ready(function(){
  $('[data-toggle="popover"]').popover('show');
});

$(function () {
  CanvasJS.addCultureInfo("es", 
    {      
      decimalSeparator: ",",// Observe ToolTip Number Format
      digitGroupSeparator: ".", // Observe axisY labels                   
      days: ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"]
      
    });
      ///GRAFICO PEDIDOS POR RUBRO Y AÑO
    var chart = new CanvasJS.Chart("chartRubro", {
      theme: "light1", // "light2", "dark1", "dark2"
      culture: "es",
      animationEnabled: true,
      
      title:{
        text:""
      },
      axisX:{
        interval: 1
      },
      axisY2:{
        interlacedColor: "rgba(1,77,101,.2)",
        gridColor: "rgba(1,77,101,.1)",
        title: ""
      },
      data: [{
        type: "bar",
        name: "Rubros",
        axisYType: "secondary",
        toolTipContent: "<b>{rubro}</b><br>Pedidos: {cantidad}<br>Presupuesto: $ {presupuesto}",
        dataPoints: [
              {% for reporte in reportePorRubro %}
                    { y: {{reporte.presupuesto}}, label: '{{reporte.tramite.rubro.ipp}}', rubro:'{{reporte.tramite.rubro}}', cantidad:'{{reporte.cantidad}}', presupuesto:'{{reporte.presupuesto | number_format(2, ',', '.')}}' },
              {% endfor %}     
        ]
      }]
    });
    chart.render();

});


     </script>
{% endblock %}

{% block footer %}
<dir class="footer"></dir>
{% endblock %}



