{#  Siarme\ExpedienteBundle\Resources\views\Tramite\_registro.html.twig#}

          <tr {% if tramite.departamentoRm != app.user.departamentoRm  %} style="background-color:#E4D8B6;"  class="text-muted"  data-toggle="tooltip" data-placement="top" title="Reparticion {{ tramite.departamentoRm  }}"  {% elseif  tramite.tareaActiva %}  style="background-color:hsla(120,60%,70%,0.3);" {% endif %}
           >
              {#  <td>
                    <div class="dropdown text-left" style="margin:0px;"> 
                    {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
                   {# {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': tramite, 'tipo': constant('TIPO_ENTIDAD', tramite) } %}
                    {% include 'ExpedienteBundle:Tramite:_menu_info_tramite.html.twig' with {'entidad': tramite, 'tipo':constant('TIPO_ENTIDAD', tramite) } %}
                    </div>
                </td> #}
                <td><a  href="{{ path('tramite_show', { 'id': tramite.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Ver' class='{{ tramite.tipoTramite.glyphicon}} hidden-print'></span> {{tramite.tipoTramite}}-{{ tramite.numeroTramite}}</a>
                </td>
              {#<td>
                    {% for tarea in tramite.tarea | reverse %}  
                            {% if loop.last and tarea.esResponsable | default(false) %} 
                                    {% set title = "Responsable: " ~ tarea.usuario.agente.apellidoNombre | default( tarea.usuario.departamentoRm ) %} 
                                         {% if ( app.user.id == tarea.usuario.id  | default(null) ) %}
                                                     <small><span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-info' aria-hidden="true">
                                                     </span></small>  {{ tarea.usuario.usuario }} 
                                          {% else %}       
                                                   <small> <span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-muted' aria-hidden="true"></span></small> {{ tarea.usuario.usuario }}
                                          {% endif %} 
                           {% endif %}   
                   {% endfor %}
                 </td>#}
                <td>{{ tramite.numeroComprar }}</td>
                <td>{% if tramite.fecha %}
                  <small><span data-toggle="tooltip" data-placement="top" title='{{ tramite.fecha|date('d-m-Y') }}' class='glyphicon glyphicon-info-sign text-info'></span></small>{{ tramite.fecha|long_time }}{% endif %}
                </td>
                <td>{{ tramite.modalidad }}</td>
                <td>{{ tramite.tipoProceso }}</td>
                <td>$ {{ tramite.expediente.PresupuestoOficial | default(0) | number_format(2, ',', '.')  }}</td>
                <td>
                  {% if tramite.departamentoRm == app.user.departamentoRm and tramite.expediente | length > 0  and expediente is defined %}
                     <a  onclick= "return confirm('¿Desea quitar el proceso de este expediente?');" href="{{ path('tramite_expediente_quitar', {'tramite_id': tramite.id}) }}" ><span   data-toggle="tooltip" data-placement="top" title="Quitar de la lista" class="glyphicon glyphicon-remove"></span></a>
                 {% endif %}
                </td>
            </tr>
