{# Siarme\ExpedienteBundle\Resources\views\Tramite\_registro_completo.html.twig#}

          <tr {% if tramite.departamentoRm != app.user.departamentoRm  %} style="background-color:#E4D8B6;"  class="text-muted"  data-toggle="tooltip" data-placement="top" title="Reparticion {{ tramite.departamentoRm  }}"  {% elseif  tramite.tareaActiva %}  style="background-color:hsla(120,60%,70%,0.3);" {% endif %}
           >
           {% if tramites is defined or  tareas is defined or realizadas is defined %}
                <td>
                    <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                    {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
                    {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': tramite, 'tipo': constant('TIPO_ENTIDAD', tramite) } %}
                    {% include 'ExpedienteBundle:Tramite:_menu_info_tramite.html.twig' with {'entidad': tramite, 'tipo':constant('TIPO_ENTIDAD', tramite) } %}

                    </div>
                </td>
            {% endif %}
                <td>{{ tramite.ccoo}}</td>
                <td> 
                    {% set tabla = tramite.tipoTramite~" "~tramite.ccoo %}
                    <a  data-toggle="tooltip" data-placement="top" title='Ver Proceso'   href="{{ path('tramite_show', { 'id': tramite.id }) }}" target="_blank" ><span class='{{ tramite.tipoTramite.glyphicon}} hidden-print'></span> {{ tramite.numeroComprar  | default(tabla )}}</a>
                </td>
                <td>{% if tramite.fecha %}
                  <small><span data-toggle="tooltip" data-placement="top" title='{{ tramite.fecha|date('d-m-Y') }}' class='glyphicon glyphicon-info-sign text-info'></span></small>{{ tramite.fecha|long_time }}{% endif %}
                </td>
                <td>{{ tramite.modalidad }}</td>
                <td>{{ tramite.tipoProceso }}</td>
          
                <td>
                    {% if ( tramite.expediente.id is defined and tramite.expediente | movimiento_estado(app.user))  %} <span  class="label label-primary">Activo</span>{% elseif  tramite.expediente.id is defined %} <span  class="label label-default">Enviado</span> {% else %} <span  data-toggle="tooltip" data-placement="top" title='El pedido no esta asignado a Nota DPPR' class="glyphicon glyphicon-warning-sign text-warning"></span>{% endif %}
                        {# include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') #}
                </td>

                <td>
                    {% if ( app.user.departamentoRm == tramite.departamentoRm | default(null) ) %}
                    {% include 'ExpedienteBundle:Tramite:_menu_acciones_tramite.html.twig' %}
                    {% endif %}
                </td>

            </tr>