{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}  {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} {% endblock %} 
{% block contenido %}
 <div class="container"> 
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{% if ( app.user.departamentoRm == tramite.departamentoRm ) %}
        <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                    {{ render(controller('ExpedienteBundle:Tramite:edit', {'id': tramite.id  }))}}
              </div>
            </div>
      </li> 
      {#
    <li role="presentation">
       {% if (movimientoPendiente is defined) and (movimientoPendiente is not empty) %}
          {% if   tramite.expediente | length <= 0 %}
         
            <a data-toggle="tooltip" data-placement="top" title='Añadir este {{ tramite.tipoTramite }} al expediente iniciado para consolidar' role="button" href="{{ path('tramite_expediente_agregar' , { 'tramite_id': tramite.id }) }}"> <span class="glyphicon glyphicon-folder-open text-warning" onclick= "return confirm('¿Desea consolidar?');" ></span> Añadir</a>

       {% endif %}
      {% elseif (tramite.expediente | length <= 0)  %}

          <a data-toggle="tooltip" data-placement="top" title='Añade este {{ tramite.tipoTramite }} a un nuevo expediente' role="button" href="{{ path('movimiento_expediente_new' , { 'tramite_id': tramite.id }) }}"><span class="glyphicon glyphicon-folder-open" onclick= "return confirm('¿Desea iniciar una Solicitud?');" ></span> Añadir</a>

      {% endif %}
    </li>#}

   {% endif %}
   {#
     <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title='Comparte y Notifica a un usuario acerca este PROCESO'>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
               <ul class="dropdown-menu">
                 <li class="dropdown-header" style="width:40em">
                  {- El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje -}
                   {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite)})) }}
                 </li>
               </ul>
      </li>
     #}
     {% if (tramite.documento | length <= 0) and (tramite.expediente | length <= 0) %}
            <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}' >
                <a  role="button" href="{{ path('tramite_eliminar' , { 'id': tramite.id }) }}"> <span class="glyphicon glyphicon-trash text-danger"> </span> Eliminar</a>
            </li>  
   {% endif %} 

    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
<!-- copiar - imprimir-->
<div id="copy" class="panel panel-default print">
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp; <span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} <span ><kbd  style="font-size: 20px"> <strong> {{ tramite.numeroTramite }}</strong></kbd></span> -  Fecha: {% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}<div class="pull-right">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</div><span class="pull-right">Estado:</span>
      </div>
      <!-- List group -->
      <div class="panel-body">
        <dl class="text-center">
               <dt> Nota del SAF</dt>
                      <dd >{{ tramite.ccoo | default("TABLA S/D")}} </dd>
                      <dt>Objeto</dt>
                      <dd> {{ tramite.texto | default("* Subir una Nota de Pedido.") }}</dd>
                <div class="hidden-print">
                <dt>Tarea</dt>
                <dd>
                    {% set tareas = tramite.tarea %}
                    <table class="table table-hover">
                            <tbody> 
                              {% for tarea in tareas %}
                                    {% set tramite = tarea.tramite %}
                                    {{ include('ExpedienteBundle:Tarea:_tbody_completo.html.twig') }}      
                             {% endfor %}
                            </tbody>
                    </table>
                </dd>
                <dd >
                    {{ render(controller('DocumentoBundle:Compartir:index', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) } )) }} 
                </dd>
                </div>
          </dl>
          {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_panel_body.html.twig') }} 

    </div>
{#
    {{ render(controller('ExpedienteBundle:Expediente:modalExpedienteNew', {'tramite_id': tramite.id}))}} #}
</div>
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
</div>

{% endblock %}
{% block footer %}
<dir class="footer"></dir>
{% endblock %}