{# Siarme\ExpedienteBundle\Resources\views\Tramite\_menu_acciones_tramite.html.twig #}
  {% if tramite.recordatorio | length > 0 %}
    <span data-toggle="tooltip" data-placement="top" title="Agenda">
    <a class="dropdown-toggle previous hidden-print" data-toggle="dropdown" role="button" aria-expanded="false"> <span  class="glyphicon glyphicon-calendar text-info" aria-hidden="false"><small>{{tramite.recordatorio | length}}</small></span></a>
       <ul  class="dropdown-menu"  style="width:400px;">  <!-- dropdown-menu -->  
            {% for recordatorio in tramite.recordatorio  %}
                    <li class="list-group-item" style="margin:0px;">   <!-- list-group -->  
                       <span class="glyphicon glyphicon-calendar text-info"></span> {{recordatorio | upper }} - {{recordatorio.fecha | date('d-m-Y') }} - {{recordatorio.hoy ? 'Hoy': '' }}- {{recordatorio.vigente ? 'Vigente': 'Finalizado' }}

                    </li> <!-- list-group -->
             {% endfor %}
        </ul> <!-- dropdown-menu -->  
     </span>

 {% endif %}
{% if tramite.documento | length > 0 %}
    <span data-toggle="tooltip" data-placement="top" title="Documentos">
    <a class="dropdown-toggle previous" data-toggle="dropdown" role="button" aria-expanded="false">{% if tramite.documento | length > 0 %}<span  class="glyphicon glyphicon-file text-info" aria-hidden="false">{{ tramite.documento | length }}</span>{% else %}<span  class="glyphicon glyphicon-file text-muted" aria-hidden="false">{{ tramite.documento | length }}</span>{% endif %}</a>
       <ul  class="dropdown-menu"  style="width:300px;">  <!-- dropdown-menu -->  
                {% for documento in tramite.documento %} 
                {#                                 
                       {% if documento.papelera  %}
                               {%  set detalle = "Documento en Papelera" %}
                       {% elseif documento.tipoDocumento.esArchivo %}
                              {% set   detalle= documento.nombreArchivo %}   

                         {% else %}
                          {%  set detalle= documento %}   
                            
                          {% if documento.slug == "licencia"  %} 
                                 {% set cantidadDias = cantidadDias + documento.licencia.dias %} 
                                
                                 {% if   ((documento.licencia.fechaDesde  | date('d-m-Y')  <=  'now' | date('d-m-Y')) and (documento.licencia.fechaHasta  | date('d-m-Y')  >=  'now' | date('d-m-Y')) ) %} 
                                          {% set licenciaActivaArray = licenciaActivaArray|merge([documento.licencia]) %}
                                 {% endif %}   
                         {% endif %}
                       {% if documento.slug == "ampliacion"  %}

                         {% set cantidadDiasAmpliacion = cantidadDiasAmpliacion  + documento.licencia.dias %} 

                       {% endif %}
                   {% if documento.slug == "acta-medica"  %}
                         {% set documentoMedicoActivoArray = documentoMedicoActivoArray|merge([documento.licencia]) %}
                      {% if   ((documento.licencia.fechaDesde  | date('d-m-Y')  <= 'now' | date('d-m-Y')) and (documento.licencia.fechaHasta  | date('d-m-Y')  >=  'now' | date('d-m-Y')) ) %} 
                      {% set documentoMedicoActivoArray = documentoMedicoActivoArray|merge([documento.licencia]) %}
                       {% endif %} 
                  {% endif %}

                     {% endif %}     #}          
           <li class="list-group" style="margin:0px;" >   <!-- list-group -->   
                 <a href="{{ path('documento_show', { 'id': documento.id }) }}"> 
                 {% if ( app.user.id == documento.usuario.id) %}
                    <small><span data-toggle="tooltip" data-placement="top" title='{{ documento.usuario | title }}' class='glyphicon glyphicon-user text-success' aria-hidden="true"></span></small>
                    {% else %}       
                    <small><span data-toggle="tooltip" data-placement="top" title='{{ documento.usuario | title }}' class='glyphicon glyphicon-user  text-muted' aria-hidden="true"></span></small>
                    {% endif %}                             
                {% if documento.papelera == false  %}
                        {% if documento.tipoDocumento.esArchivo %} 
                            {% set type = documento.archivo |default('nn.pdf') |split('.') %}
                            <span style="font-size: 20px" class="file-icon" data-type='{{type[1]}}'></span> {{ documento.nombreArchivo[:23]}}...
                        {% else %}
                            <span style="font-size: 20px" class='{{documento.tipodocumento.glyphicon ~ ' text-primary'}}'></span> {{ documento }}
                         {% endif %}
                {% endif %}  
                 </a> 
          </li> <!-- list-group --> 
        {% endfor %}
    </ul> <!-- dropdown-menu -->  
  </span>
 {% endif %} 

 <div class="pull-right">
    <span class="text-info">&nbsp;{{tramite.estadoTramite.porcentaje}}%</span>
</div>


    {# for tarea in tramite.tarea | reverse %}  
            {% if loop.last and tarea.esResponsable | default(false) %} 
                    {% set title = "Responsable: " ~ tarea.usuario.agente.apellidoNombre | default( tarea.usuario.departamentoRm ) %} 
                         {% if ( app.user.id == tarea.usuario.id  | default(null) ) %}
                                     <small><span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-info' aria-hidden="true">
                                     </span></small>  {{ tarea.usuario.usuario }} 
                          {% else %}       
                                   <small> <span data-toggle="tooltip" data-placement="top" title='{{ title | default(null)}}' class='glyphicon glyphicon-user text-muted' aria-hidden="true"></span></small> {{ tarea.usuario.usuario }}
                          {% endif %} 
           {% endif %}   
   {% endfor #} 
