{# Siarme\ExpedienteBundle\Resources\views\Tramite\_menu_acciones_tramite.html.twig #}
<div class="pull-left hidden-print">
    {% if expediente is defined  %}
        {% if ( tramite.expediente | movimiento_estado(app.user))  %}<a  data-toggle="tooltip" data-placement="top" title="Quitar de la lista" onclick= "return confirm('¿Desea quitar el pedido de este expediente?');" href="{{ path('tramite_expediente_quitar', {'tramite_id': tramite.id}) }}" ><span class="glyphicon glyphicon-remove"></span></a>{% endif %}
    {% else %} 
         {% if (tramite.documento | length <= 0) and (tramite.expediente | length <= 0) %}
             <a data-toggle="tooltip" data-placement="top" title='Eliminar el {{ tramite.tipoTramite }}' role="button" href="{{ path('tramite_eliminar' , { 'id': tramite.id }) }}"><span class="glyphicon glyphicon-trash text-danger" onclick= "return confirm('¿Desea eliminar el Registro  del {{ tramite.tipoTramite }}?');"></span></a>
          {% endif %} 

            {% if tarea is defined and tarea.usuario.id == app.user.id %}
                       {# -----------PARA HABILITAR  ---------    
                    {% if tarea.tramite is defined and tarea.tramite is not empty  %}
                     {% if tarea.esResponsable and tarea.realizada == false %} 
                          <span  data-toggle="tooltip" data-placement="top" title='Asignar un colaborador al {{tarea.tramite}}' role="button">
                            <!-- Button trigger modal -->
                            <a type="button" data-toggle="modal" data-target='#{{tarea.tramite.id}}'> <span class="glyphicon glyphicon-wrench"> </span> Asignar</a>
                          </span> <br>
                      {% endif %}
                       
                    {% endif %}
                         #}
                    {% if tarea.realizada == false %}
                          <span><a data-toggle="tooltip" data-placement="top" title='Marcar como realizada' role="button"  href="{{ path('tarea_cambiar_estado' , { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-ok"></span> Realizada</a></span>
                     {% elseif tarea.realizada %}
                         <span><a data-toggle="tooltip" data-placement="top" title='Avocarme Nuevamente' role="button"  href="{{ path('tarea_cambiar_estado' , { 'id': tarea.id }) }}"><span class="glyphicon glyphicon-ok text-success"></span> Avocarme</a></span>
                     {% endif %}
                     
            {{ render(controller('ExpedienteBundle:Tarea:modalTareaNew', {'tramite_id': tarea.tramite.id})) }} 

        {% endif %}
    {% endif %} 
{% if expediente is not defined  %}
    <br><span role="presentation" class="dropdown"   data-toggle="tooltip" data-placement="top" title='Comparte y Notifica a un usuario acerca este {{tramite}}'>
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a> 
        <ul class="dropdown-menu dropdown-menu-right">
           <li class="dropdown-header" style="width:40em">
            {# El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje #}
             {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite)})) }}
           </li>
         </ul>
    </span>
{% endif %} 
</div>