{# Siarme\ExpedienteBundle\Resources\views\Externo\show.html.twig #}
{% extends 'frontend.html.twig' %}
{% block title %} PEDIDOS{% endblock %}
{% block stylesheets %}   
     <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_cerulean.min.css') }}" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ asset('bundles/expediente/plugins/font-awesome/css/font-awesome.min.css') }}">  
    <link href="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>     
{% endblock %}
{% block body %}
<header>
  <nav class="navbar navbar-inverse hidden-print"  role = "navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand"><span  class="glyphicon glyphicon-shopping-cart"> {{app.user.departamentoRm}}</span></a>
    </div>
        <ul class="nav navbar-nav">       
        <li>
            <a href="{{ path('externo_index') }}">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
              INICIO
            </a>            
        </li>        
      </ul> 
      <ul class="nav navbar-nav navbar-right">           
        <li>
             <a href="{{ path('usuario_logout') }}" >
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  Salir
              </a>           
        </li>        
      </ul> 
  </div><!-- /.container-fluid -->
</nav>
</header>

 <div class="container"> 
<div class="nav nav-pills hidden-print"> 
    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>
{% set year = 'now' | date('Y')%}
<!-- copiar - imprimir-->
<div id="copy" class="panel panel-default print">
      <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 

      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp; <span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} {{ tramite.numeroTramite }} | <strong>{{ tramite.ccoo | default('NO-'~ year ~ '-n/d')}}</strong> | SAF N° {{ tramite.organismoOrigen.saf.numeroSaf | default("N/D") }} | {{ tramite.trimestre }}° Trimestre  | Fecha: {% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}
      </div>

     <div class="panel-body">
            <dl class="list-group-item-heading text-center" role="tab" id="headingTwo">
                <dt>Objeto</dt>
                <dd> {{ tramite.texto | default("* Subir una Nota de Pedido.") }}</dd>
                {% if tramite.texto is not empty %} {% endif %}
                 <dt>Unidad Ejecutora</dt>
                 <dd>
                     {{ tramite.organismoOrigen.codigoGde | default("N/D") }} - {{ tramite.organismoOrigen.organismo | default("N/D") }}  
                  </dd>

                  <dt> Rubro</dt>
                  <dd>{{ tramite.rubro}}</dd>
                  <dt>Presupuesto Oficial </dt>
                  <dd > $ {{ tramite.PresupuestoOficial | number_format(2, ',', '.')  }}</dd>   
                  <dd>( {{ numero_a_letras(tramite.PresupuestoOficial,2, 'pesos') }} )</dd> 
                  <dt> Disponibilidad de Crédito Presupuestario 
                  </dt> 
                  <dd>
                    {% set creditos = tramite.credito %}
                    {{ include('ExpedienteBundle:Credito:_lista.html.twig') }}
                  </dd>
            </dl>           
   </div>
</div>
</div>
{% endblock %}

{% block javascripts %} 
    <script src="{{ asset('bundles/expediente/plugins/jquery/jquery.min.js') }}">
    </script>
    <script src="{{ asset('bundles/expediente/plugins/boostrap3/js/bootstrap.min.js') }}">
    </script>         
    <script src="{{ asset('bundles/expediente/plugins/print/printArea.js') }}">
    </script> 
    <script src="{{ asset('bundles/expediente/plugins/dropzone/dist/dropzone.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/expediente/plugins/clipboard/dist/clipboard.min.js') }}"></script>
   <script>
        $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip(); 
             var options = {mode:"popup", popHt: 500,   popWd: 400, popX: 100,   popY: 100, popTitle:"", popClose: false, strict: undefined};
            $("#printer").click(function(){
            $("div.print").printArea(options); 
            }); 
            });
      
   </script>
   
  <!-- 3. Instantiate clipboard by passing a list of HTML elements -->
    <script>
          var clipboard = new ClipboardJS('.btn');

          clipboard.on('success', function(e) {
              console.info('Action:', e.action);
              console.info('Text:', e.text);
              console.info('Trigger:', e.trigger);

             // e.clearSelection();
          });

          clipboard.on('error', function(e) {
              console.error('Action:', e.action);
              console.error('Trigger:', e.trigger);
          });
    </script>
{% endblock  %}
