{% extends 'base.html.twig' %}

{% block body %}
    <h1>Datoat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ datoAT.id }}</td>
            </tr>
            <tr>
                <th>Fechaat</th>
                <td>{% if datoAT.fechaAt %}{{ datoAT.fechaAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numerodenuncia</th>
                <td>{{ datoAT.numeroDenuncia }}</td>
            </tr>
            <tr>
                <th>Formaocurrencia</th>
                <td>{{ datoAT.formaOcurrencia }}</td>
            </tr>
            <tr>
                <th>Agentecausante</th>
                <td>{{ datoAT.agenteCausante }}</td>
            </tr>
            <tr>
                <th>Naturalezalesion</th>
                <td>{{ datoAT.naturalezaLesion }}</td>
            </tr>
            <tr>
                <th>Zonaafectada</th>
                <td>{{ datoAT.zonaAfectada }}</td>
            </tr>
            <tr>
                <th>Descripcionzona</th>
                <td>{{ datoAT.descripcionZona }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('datoat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('datoat_edit', { 'id': datoAT.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
