
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{organismo.codigoGde}}{% endblock %}
{% block main %}
	<br>
  <div id="copy" class="panel panel-default print"> 
        <div class="panel-heading"> 
                 {{ organismo.organismo }}
        </div>
        <div class="panel-body"> 
				 {{ form_start(edit_form, {'action': path('organismo_edit', { 'id': organismo.id } ), 'method': 'POST'}) }}
				    {{ form_widget(edit_form) }}
				       <div class="text-right">
				            <input class="btn btn-sm btn-default"  type="submit" value="Aceptar" />
				        </div>
				{{ form_end(edit_form) }}
        </div>
</div>
{% endblock %}
 {% block footer %}
<dir class="footer"></dir>
{% endblock %}




