{# Siarme/AusentismoBundle/Resources/views/Oganismo/index.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} ORGANISMO{% endblock %}

{% block menu_li %}    
                <li>
                    <a href="{{ path('agente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista de Agentes </span></a>
                </li>    
                   {#   <li >
           <a href="{{ path('organismo_lista')  }}"  role="button"> <span class="glyphicon glyphicon-stats"> Organismos</span></a>
     </li>     #}
                <li>
                    <a role="button" <span data-href="{{ path('organismo_new') }}" class="btn-nuevo"> <span  class="glyphicon glyphicon-tent"> Nuevo Organismo</span></a>
                </li>    
 {% endblock %}   
{% block contenido %}
 <div class="container">
<div id="mensaje"></div>
<!-- Large modal -->
<div id="modal-organismo"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div><!-- /.header -->
         <div id="modal-body" class="modal-body">
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
        <table id="tablaOrganismo" class="hover responsive" style="width:100%">
            <thead>
                <tr> 
                    <th>Información</th>
                    <th>N° SAF</th>
                    <th>Organismo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            {% for organismo in organismos %}
                <tr>
                    <td></td>
                    <td>{{ organismo.saf.numeroSaf }}</td>
                    <td> <a href="{{ path('organismo_show', { 'id': organismo.id | default(0) }) }}"> {{ organismo.ministerio }}</a></td>
                    <td>
                        <a role="button"><span data-href="{{ path('organismo_edit', { 'id': organismo.id }) }}" data-id="{{organismo.id}}" class="btn-modificar glyphicon glyphicon-glyphicon glyphicon-pencil"><small>Modificar</small> </span> </a> &nbsp;&nbsp;
                        {% if organismo.cargo.isEmpty and  organismo.tramite.isEmpty %}
                         <a data-id="{{organismo}}" role="button" ><span  data-href="{{ path('organismo_eliminar', { 'id': organismo.id }) }}"  data-id="{{organismo.id}}" class="btn-eliminar glyphicon glyphicon-glyphicon glyphicon-glyphicon glyphicon-trash"><small>Eliminar</small></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
 </div>
{% endblock %}
 {% block footer %}
<dir class="footer"></dir>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">$.fn.modal.Constructor.prototype.enforceFocus = function() {};</script>
<script src="{{ asset('bundles/expediente/plugins/select2/js/select2.min.js') }}"></script>
          <!-- DataTables -->
<script src="{{ asset('bundles/expediente/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script>
 $(function (){
    $(".btn-eliminar").unbind('click').click( function(){
      var $op=confirm("Esta seguro de Eliminar " + $(this).parent().attr("data-id"));
      if ($op==true) {
        var $href= $(this).attr("data-href");
        $(this).parent().parent().parent().addClass("hidden");
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("mensaje");

             msj.innerHTML = '<div class="alert-mensaje alert alert-info text-center" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+ response +' </div>';

             } 
        });
      } 
      
    });

$(".btn-modificar").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
        //alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 

      
    });

$(".btn-nuevo").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
       // alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 

      
    });

 });

</script>
  <script> 
  $(function () {
    $("#tablaOrganismo").DataTable({"searching": true,"lengthChange": true,"order": [[ 1, "asc" ]], "pageLength": 12,
            "language": {
                "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
            },
        });
  });

</script> <!-- DataTables  -->
{% endblock %}