{# Siarme/AusentismoBundle/Resources/views/Oganismo/index.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} SAFS{% endblock %}
{% block header %}
  {{ include('ExpedienteBundle:Default:_header.html.twig') }}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block menu_li %}    
                <li>
                    <a href="{{ path('agente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista de Agentes </span></a>
                </li>    
                   {#   <li >
           <a href="{{ path('organismo_lista')  }}"  role="button"> <span class="glyphicon glyphicon-stats"> Organismos</span></a>
     </li>     #}
                <li>
                    <a role="button" <span data-href="{{ path('organismo_new') }}" class="btn-nuevo"> <span  class="glyphicon glyphicon-tent"> Nuevo Organismo</span></a>
                </li>    
 {% endblock %}   
{% block contenido %}
<div id="copy">
        {% if app.user.departamentoRm.slug != "dppr" %} {% set modulo ="EXPEDIENTES" %}{% else %}{% set modulo ="CCOO-DPPR" %}{% endif %}
        {% set modulo2 = "TAREAS" %}  
        {% for tipoTramite in app.user.departamentoRm.tipoTramite %}
            {% if loop.first %}
            {% set modulo2 = tipoTramite %}
            {% endif %}
        {% endfor %}
        {{ app.session.set('modulo', "SAFS") }}
        {{ app.session.set('route', 'organismo_index') }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-tent') }}
     <div class="nav nav-tabs nav-justified" style="padding-top:5px;">      
        <li role="presentation" ><a href="{{ path('expediente_reparticion_index') }}"> <span class="glyphicon glyphicon-folder-open"></span> {{modulo}}</a></li>
        <li role="presentation" ><a href="{{ path('tramite_reparticion_index') }}"> <span class="glyphicon glyphicon-tasks"></span>{{modulo2}}</a></li>
        <li role="presentation"><a style="color:#306066;" href="{{ path('general_reparticion_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-folder-open"></span> ACUERDO MARCO</a></li>
        <li role="presentation" ><a  href="{{ path('reporte_index', {'id': app.user.departamentoRm.id }) }}"> <span class="glyphicon glyphicon-stats"></span> REPORTE</a></li>
        <li role="presentation" class="active"><a href="{{ path('organismo_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-tent" ></span> SAFS</a></li>
        <li role="presentation"><a  href="{{ path('usuario_index', {'id': app.user.departamentoRm.id }) }}"> <span class="glyphicon glyphicon-user"></span> USUARIOS</a></li>
      </div>


        <div id="mensaje"></div>
        <!-- Large modal -->
        <div id="modal-organismo"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
             <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             </div><!-- /.header -->
                 <div id="modal-body" class="modal-body">
                </div><!-- /.body -->
            <!--    <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
             </div> /.footer -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <table id="tablaOrganismo" class="table table-responsive" >
              <thead>
                <tr>   
                <th style="width: 7%;">SAF N°</th>
                <th>Nombre</th>
                <th>Cuit</th>
                <th>Domicilio</th>
                <th>Email</th>
                <th>Director</th>
                <th>Acciones</th>
               </tr>
              </thead>
            {% for organismo in organismos %}
                <tr>
                    <td><h3 style="margin:0px;">{{organismo.saf.numerosaf}}</h3></td>
                    <td> <a href="{{ path('organismo_show', { 'id': organismo.id | default(0) }) }}" target="_blank"> {{organismo.organismo}}</a></td>
                    <td>{{organismo.saf.cuil}}</td>
                    <td>{{organismo.saf.domicilio | default("n/d")}}</td>
                    <td>{{organismo.saf.email | default("-")}}</td>
                    <td>{{organismo.clasificacion | default("-")}}</td>
                    <td>
                        <a  data-toggle="tooltip" data-placement="bottom" title="Modificar los datos del SAF" href="{{ path('organismo_edit', { 'id': organismo.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                       {# {% if organismo.cargo.isEmpty and  organismo.tramite.isEmpty %}
                         <a  data-id="{{organismo}}" role="button" ><span  data-href="{{ path('organismo_eliminar', { 'id': organismo.id }) }}"  data-id="{{organismo.id}}" class="btn-eliminar glyphicon glyphicon-glyphicon glyphicon-glyphicon glyphicon-trash">Eliminar</span></a>
                        {% endif %}
                        #}
                    </td>
                </tr>
             {% endfor %}
        </table>
</div>
{% endblock %}
 {% block footer %}
<dir class="footer"></dir>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">$.fn.modal.Constructor.prototype.enforceFocus = function() {};</script>
<script>
 $(function (){
    $(".btn-eliminar").unbind('click').click( function(){
      var $op=confirm("Esta seguro de Eliminar " + $(this).parent().attr("data-id"));
      if ($op==true) {
        var $href= $(this).attr("data-href");
        $(this).parent().parent().parent().addClass("hidden");
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("mensaje");

             msj.innerHTML = '<div class="alert-mensaje alert alert-info text-center" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+ response +' </div>';

             } 
        });
      } 
      
    });

$(".btn-modificar").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
        //alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 

      
    });

$(".btn-nuevo").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
       // alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 

      
    });

 });

</script>
  <script> 
  $(function () {
    $("#tablaOrganismo").DataTable({"searching": true,"lengthChange": true,"order": [[ 0, "asc" ]], "pageLength": 30,
            "language": {
                "url": "{{asset('bundles/expediente/plugins/datatables/extensions/language/Spanish.json')}}"
            },
        });
  });

</script> <!-- DataTables  -->
{% endblock %}