{# Siarme/AusentismoBundle/Resources/views/Agente/lista.html.twig #}
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel">Organismos</h4>
     </div><!-- /.header -->
         <div class="modal-body">
            <div class="content">
              <div id="mensaje" ></div>
        <table id="tablaOrganismo" class="hover" style="width:100%">
            <thead>
                <tr>
                    <th>Organismo</th>
                    <th>Clasificacion</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
            {% for organismo in organismos %}
                <tr>
                    <td>{{ organismo.organismo }}</td>
                    <td>{{ organismo.clasificacion }}</td>
                    <td>
                        <a href="{{ path('organismo_edit', { 'id': organismo.id }) }}"><span class="glyphicon glyphicon-glyphicon glyphicon-pencil"></span> <small>Modificar</small></a> &nbsp;&nbsp;
                        {% if organismo.cargo.isEmpty %}
                         <a data-id="{{organismo}}" role="button" ><span data-id="{{organismo.id}}" class="btn-eliminar glyphicon glyphicon-glyphicon glyphicon-glyphicon glyphicon-trash"><small>Eliminar</small></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div><!-- /.row -->
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



