{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{organismo.codigoGde}}{% endblock %}
{% block contenido %}
 <div class="container"> 
 <ul class="nav nav-pills hidden-print"> 
      <li><a  data-toggle="tooltip" data-placement="bottom" title="Modificar los datos del SAF" href="{{ path('organismo_edit', { 'id': organismo.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
      </li> 
      
       <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div> 
</ul> 
<div id="copy" class="panel panel-warning print"> 
        <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
      </style> 
        <div class="panel-heading"> 
            {{ organismo.organismo }}
        </div>
<div class="panel-body"> 
  <dl class="text-center">
    <dt>Organismo</dt>
    <dd>SAF N°  {{ organismo.saf.numeroSaf }} - {{ organismo.organismo }} -  {{ organismo.codigoGde}}</dd> 
    <dt>CUIT</dt>
    <dd>{{ organismo.saf.cuil }}</dd>    
    <dt>Responsable</dt>
    <dd>{{ organismo.clasificacion }}</dd>
    <dt>Ministerio</dt>
    <dd>{{ organismo.ministerio }}</dd>  
    <dt><span class="glyphicon glyphicon-map-marker"></span> Domicilio</dt>
    <dd>{{ organismo.saf.domicilio  | default("-")  }}</dd>      
    <dt><span class="glyphicon glyphicon-envelope"></span> Email</dt>
    <dd>{{ organismo.saf.email | default("-") }}</dd>    
  </dl>
  
 <div class="panel-group" id="accordion">
    <ol class="breadcrumb hidden-print"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('organismo_show', { 'id': organismo.id, 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
    
{% if (organismo.cargo | length) > 0  %} 
 <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapseTwo'>
          <span class="glyphicon glyphicon-plus  text-info" ></span>  <span class="glyphicon glyphicon-user"></span> EMPLEADOS ({{ organismo.cargo | length }})
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div  class="panel-body ">                    
             <table id="tablaAgente" class="table table-condensed text-left">
                <tbody> 
               {% for cargo in organismo.cargo %}
               {% set agente = cargo.agente %}
                    {{ include('AusentismoBundle:Agente:_tbody_completo.html.twig') }} 
               {% endfor %}
                </tbody>
            </table>     
      </div>
    </div>
  </div>
{% endif %}

{% set pago = organismo | tramite_por_organismo_slug("tramite_pago" , anio ) %}
{% if pago | length > 0  %} 
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapsePago'>
          <span class="glyphicon glyphicon-minus"></span> <span class="glyphicon glyphicon-list"></span> PAGO ({{ pago | length }})
        </a>
      </h4>
    </div>
    <div id="collapsePago" class="panel-collapse collapse {% if app.user.departamentoRm.slug == "sca" %} in {% endif %}">
      <div  class="panel-body ">  
        <p>
            <a class="hidden-print pull-right" data-toggle="collapse" href="#collapseResumen" role="button" aria-expanded="false" aria-controls="collapseResumen"> <span class="glyphicon glyphicon-stats"></span> Ver Resumen por Proveedor</a> <br>
            <div class="collapse" id="collapseResumen">    
                           {% set tramite1, anterior, organismos, pagos1 = 0, 0, {}, pago %}
                                
                                {% for tramite1 in pagos1 | sort((a, b) => a.organismoOrigen <=> b.organismoOrigen ) %}
                                  {% if loop.first %}
                                      {% set organismos = organismos | merge([tramite1.organismoOrigen]) %}
                                      {% set anterior = tramite1.organismoOrigen.id %}
                                  {% elseif anterior != tramite1.organismoOrigen.id  %}
                                    {% set organismos = organismos | merge([tramite1.organismoOrigen]) %}
                                     {% set anterior = tramite1.organismoOrigen.id %}
                                  {% endif %}
                                {% endfor %}

                              {% set tramite1, anterior, proveedores = 0, 0, {} %}
                                {% for tramite1 in pagos1 | sort((a, b) => a.proveedor.id <=> b.proveedor.id) %}
                                  {% if loop.first %}
                                      {% set proveedores = proveedores | merge([tramite1.proveedor]) %}
                                      {% set anterior = tramite1.proveedor.id %}
                                  {% elseif anterior != tramite1.proveedor.id  %}
                                    {% set proveedores = proveedores | merge([tramite1.proveedor]) %}
                                     {% set anterior = tramite1.proveedor.id %}
                                  {% endif %}
                                {% endfor %}

                  <table id="tablaCuadro" class="table table-hover table-bordered">
                    <thead>
                            <th>Proveedor</th> 
                            <th>Total</th>
                      </thead>
                      <tbody> 
                      
                        {% set sumafila , sumaCelda= 0, 0 %}
                        {% for proveedor1 in proveedores %}
                          <tr>
                            <td><a href="{{ path('proveedor_show', { 'id': proveedor1.id }) }}" target="_blank">{{proveedor1}}</a></td> 
                           
                            {% for organismo1 in organismos %}
                                {% set pagos = pagos_por_proveedor_organismo( proveedor1, organismo1, null, anio ) %}
                                  {% for pago in pagos %}
                                    {% set sumafila, sumaCelda = sumafila + pago.montoAdjudica, sumaCelda + pago.montoAdjudica  %}
                                  {% endfor %}
                                  {% set sumaCelda = 0 %}
                            {% endfor %}
                            <th> $ {{sumafila | number_format(2, ',', '.') }}</th>
                              {% set sumafila = 0 %}
                          </tr>
                        {% endfor %}  
                        
                            <tr>
                            <th> Total</th>
                            {% set sumaColumna, sumaTotal = 0, 0 %}
                            {% for organismo1 in organismos %}
                              {% for proveedor1 in proveedores %}
                                    {% set pagos = pagos_por_proveedor_organismo( proveedor1, organismo1, null, anio ) %}
                                    {% for pago in pagos %}
                                        {% set sumaCelda = sumaCelda + pago.montoAdjudica %}  
                                    {% endfor %}
                              {% endfor %}
                                    <th>$ {{sumaCelda  | number_format(2, ',', '.') }}</th>
                                    {% set sumaTotal, sumaCelda = sumaTotal + sumaCelda, 0 %}
                            {% endfor %}
                  
                          </tr>
                      </tbody>
                </table> 
             </div>  
        </p>
        {{ include('ExpedienteBundle:Tramite:_lista_simple.html.twig', {'pedidos': pago}) }} 
      </div>
    </div>
  </div>
{% endif %}

{% set pedidos = organismo | tramite_por_organismo_slug("tramite_pedido" , anio ) %}
{% set itemsPedidos = organismo | item_pedido_por_organismo( anio ) %}

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapsePedido'>
          <span class="glyphicon glyphicon-minus"></span> <span class="glyphicon glyphicon-list"></span> PEDIDOS ({{ pedidos | length }})
        </a>
      </h4>
    </div>
    <div id="collapsePedido" class="panel-collapse collapse {% if app.user.departamentoRm.slug == "dppr" %} in {% endif %}">
      <div  class="panel-body ">    
        {{ include('ExpedienteBundle:Tramite:_lista_simple.html.twig') }} 
      </div>
    </div>
  </div>

{% set pedidos = organismo | tramite_por_organismo_slug("tramite_solicitud" , anio ) %}
{% if pedidos | length > 0  %} 
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#collapseSolicitud'>
          <span class="glyphicon glyphicon-plus "></span> <span class="glyphicon glyphicon-list"></span> PEDIDOS DE ACUERDO MARCO ({{ pedidos | length }})
        </a>
      </h4>
    </div>
    <div id="collapseSolicitud" class="panel-collapse collapse">
      <div  class="panel-body ">    
        {{ include('ExpedienteBundle:Tramite:_lista_simple.html.twig') }} 
      </div>
    </div>
  </div>
{% endif %}

{% if app.user.departamentoRm.slug == "dppr" %}
{% if itemsPedidos | length > 0  %} 
{% set itemsR = organismo | item_pedido_por_rubro_por_organismo(anio) %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseCero">
          <span class="glyphicon glyphicon-plus  text-info"></span> <span class="fa fa-bars"></span> CANTIDADES PEDIDAS POR ITEMS ({{ itemsR | length }})
        </a>
      </h4>
    </div>
    <div id="collapseCero" class="panel-collapse collapse">
      <div  class="panel-body ">
            <table id="tablaItemPedido" class="table table-hover text-left" >
              <thead >
                {{ include('AusentismoBundle:ItemPedido:_thead_reporte.html.twig') }}
              </thead>
              <tbody >
                  {% for itemR in itemsR %}
                     {{ include('AusentismoBundle:ItemPedido:_tbody_reporte.html.twig') }}
                  {% endfor %}
              </tbody>
            </table>  
      </div>
    </div>
  </div>
{% endif %}

  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#reporte">
          <span class="glyphicon glyphicon-plus  text-info"></span> <span class="glyphicon glyphicon-stats"></span> REPORTE
        </a>
      </h4>
    </div>
    <div id="reporte" class="collapse in">
      <div  class="panel-body ">
          <div class="list-group-item" style="height: 100%;">
            <table class="table table-striped">
            <thead class="text-center">
              <tr> <h3> CANTIDAD DE PEDIDOS POR TRIMESTRE </h3> </tr>
             <tr>
                <th>Trimestres</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody>
              {% set resportePorTrimestreSaf, sumaCantidad, sumaPresupuesto = tramites_por_trimestre_saf(app.user.departamentoRm, anio, organismo.id), 0, 0 %}
      
              {% for reporte  in resportePorTrimestreSaf %}
                <tr> 
                  <th>{{reporte.trimestre}}° Trimestre</th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto 

                %}
              {% endfor %}
              <tr>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
          </table>
            <div id="chartTrimestre" style="height: 300px; max-width: 80%"></div>
          </div>
          
          <div class="list-group-item">
          <table class="table table-striped">
            <thead class="text-center">
              <tr> <h3> CANTIDAD DE PEDIDOS POR RUBRO</h3> </tr>
             <tr>
                <th>Rubro</th>
                <th>Cantidad</th>
                <th>Presupuesto</th>
             </tr>
           </thead>
            <tbody>
              {% set resportePorRubroSaf, sumaCantidad, sumaPresupuesto = tramites_por_rubro_saf(app.user.departamentoRm, anio, organismo.id), 0, 0 %}
      
              {% for reporte  in resportePorRubroSaf %}
                <tr> 
                  <th>{{reporte.tramite.rubro}}</th>
                  <td> {{reporte.cantidad}} </td>
                  <td>$ {{reporte.presupuesto | number_format(2, ',', '.')}}</td>
                </tr> 
                {% set sumaCantidad, sumaPresupuesto = 
                              sumaCantidad + reporte.cantidad , 
                              sumaPresupuesto +  reporte.presupuesto 

                %}
              {% endfor %}
              <tr>
                <th>Totales</th>
                <th>{{sumaCantidad}}</th>
                <th>$ {{sumaPresupuesto | number_format(2, ',', '.')}}</th>
              </tr> 
            </tbody>
          </table>
              <div id="chartRubro"  style="height: 700px; max-width: 80%;"></div>
          </div>

      </div>
    </div>
  </div>
{% endif %}
</div> <!-- Panel Accordion-->
</div>
</div>
</div>
{% endblock %}
 {% block footer %}
<dir class="footer"></dir>
{% endblock %} 

{% block javascripts %}  
{{ parent() }}

{# obtengo los reportes para ITEMPEDIDO #}
{% set itemsPorTrimestreSaf, itemsPorRubroSaf= tramites_por_trimestre_saf(app.user.departamentoRm,anio, organismo.id), tramites_por_rubro_saf(app.user.departamentoRm,anio, organismo.id) %}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
$(function () {

  CanvasJS.addCultureInfo("es", 
    {      
      decimalSeparator: ",",// Observe ToolTip Number Format
      digitGroupSeparator: ".", // Observe axisY labels                   
      days: ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sábado"]
      
    });

///GRAFICO CANTIDAD DE ITEMS POR TRIMESTRE
var chart = new CanvasJS.Chart("chartTrimestre", {
  theme: "light2", // "light2", "dark1", "dark2"
  culture: "es",
  animationEnabled: false, // change to true    
  title:{
    text: ""
  },
  data: [
  {
    // Change type to "bar", "area", "spline", "pie",etc.
    type: "column",
    toolTipContent: "<b>{label}</b><br>Cantidad de ítems: {cantidad}<br>Presupuesto: $ {presupuesto}",
    dataPoints: [
      {% for reporte in itemsPorTrimestreSaf %}
        { label: "{{reporte.trimestre}} ° Trimestre",  y: {{reporte.presupuesto}}, cantidad:'{{reporte.cantidad}}', presupuesto:'{{reporte.presupuesto | number_format(2, ',', '.')}}' },
      {% endfor %}
    ]
  }
  ]
});
chart.render();

///GRAFICO RUBRO POR TOTAL POR RUBRO Y AÑO
var chart = new CanvasJS.Chart("chartRubro", {
  culture: "es",
  animationEnabled: true,
  
  title:{
    text:""
  },
  axisX:{
    interval: 1
  },
  axisY2:{
    interlacedColor: "rgba(1,77,101,.2)",
    gridColor: "rgba(1,77,101,.1)",
    title: ""
  },
  data: [{
    type: "bar",
    name: "Rubros",
    axisYType: "secondary",
    toolTipContent: "<b>{rubro}</b><br>Cantidad de ítems: {cantidad}<br>Presupuesto: $ {presupuesto}",
    dataPoints: [
          {% for reporte in itemsPorRubroSaf %}
                { y: {{reporte.presupuesto}}, label: '{{reporte.tramite.rubro.ipp}}', rubro:'{{reporte.tramite.rubro}}', cantidad:'{{reporte.cantidad}}', presupuesto:'{{reporte.presupuesto | number_format(2, ',', '.')}}'},
          {% endfor %} 
    ]
  }]
});
chart.render();
});
</script>
{% endblock %}