{# Siarme/AusentismoBundle/Resources/views/Oganismo/index.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} SAFS{% endblock %}
{% block header %}
  {{ include('ExpedienteBundle:Default:_header.html.twig') }}
  {{ include('ExpedienteBundle:Default:_breadcrumb_principal.html.twig') }}
{% endblock %}
{% block menu_li %}    
                <li>
                    <a href="{{ path('agente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista de Agentes </span></a>
                </li>    
                   {#   <li >
           <a href="{{ path('organismo_lista')  }}"  role="button"> <span class="glyphicon glyphicon-stats"> Organismos</span></a>
     </li>     #}
                <li>
                    <a role="button" <span data-href="{{ path('organismo_new') }}" class="btn-nuevo"> <span  class="glyphicon glyphicon-tent"> Nuevo Organismo</span></a>
                </li>    
 {% endblock %}   
{% block contenido %}
<div id="copy">
        {% if app.user.departamentoRm.slug != "dppr" %} {% set modulo ="EXPEDIENTES" %}{% else %}{% set modulo ="CCOO-DPPR" %}{% endif %}
        {% set modulo2 = "TAREAS" %}  
        {% for tipoTramite in app.user.departamentoRm.tipoTramite %}
            {% if loop.first %}
            {% set modulo2 = tipoTramite %}
            {% endif %}
        {% endfor %}
        {{ app.session.set('modulo', "PROVEEDORES") }}
        {{ app.session.set('route', 'proveedor_index') }}
        {{ app.session.set('glyphicon', 'glyphicon glyphicon-pushpin') }}
     <div class="nav nav-tabs nav-justified" style="padding-top:5px;">      
        <li role="presentation" ><a href="{{ path('expediente_reparticion_index') }}"> <span class="glyphicon glyphicon-folder-open"></span> {{modulo}}</a></li>
        <li role="presentation" ><a href="{{ path('tramite_reparticion_index') }}"> <span class="glyphicon glyphicon-tasks"></span>{{modulo2}}</a></li>
        <li role="presentation"><a style="color:#306066;" href="{{ path('general_reparticion_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-folder-open"></span> ACUERDO MARCO</a></li>
        <li role="presentation" ><a  href="{{ path('reporte_index', {'id': app.user.departamentoRm.id }) }}"> <span class="glyphicon glyphicon-stats"></span> REPORTE</a></li>
        <li role="presentation"><a href="{{ path('organismo_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-tent" ></span> SAFS</a></li>
        <li role="presentation" class="active"><a href="{{ path('proveedor_index', {'id': app.user.departamentoRm.id }) }}"><span class="glyphicon glyphicon-pushpin" ></span> PROVEEDORES</a></li>
        <li role="presentation"><a  href="{{ path('usuario_index', {'id': app.user.departamentoRm.id }) }}"> <span class="glyphicon glyphicon-user"></span> USUARIOS</a></li>
      </div>
    {% if app.user.departamentoRm.slug == "sca" %}<div class="text-center"><a class="btn btn-link"  href="{{ path('proveedor_new') }}">Agregar Nuevo Proveedor</a></div>{% endif %}
    <table class="table table-responsive table-hover tablaTramite">
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Tramites</th>
                <th>Cuit</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in proveedors %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">{{ proveedor.proveedor }}</a></td>
                <td>{{ proveedor.oferta | length }}</td>
                <td>{{ proveedor.cuit }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
