{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} {{proveedor}}{% endblock %}
{% block contenido %}
 <div class="container"> 
 <ul class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
      <li><a  data-toggle="tooltip" data-placement="bottom" title="Modificar los datos del SAF" href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a></li> 
      {% if proveedor.oferta | length == 0  %}
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
      {% endif %}
       <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              
                <a href="javascript:if(window.print)window.print()" value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print" ></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div> 
</ul>

<div id="copy" class="panel panel-default print">

    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style> 
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp; <span class='glyphicon glyphicon-pushpin'></span>  <strong> {{ "now" |date('d-m-Y') }}</strong> 
      </div>
      <div class="panel-body">  
            <dl class="text-center" >
                <dt>Proveedor</dt>
                <dd>{{ proveedor }} - CUIT: {{proveedor.cuit  }}</dd>
                <dt>Domicilio</dt>
                <dd> {{ proveedor.direccion  | default("-") | upper}} </dd>
                <dt>Contacto</dt>
                <dd>Email: {{proveedor.email | default("ninguno")}} - Telefono: {{proveedor.telefono | default("-")}}</dd>
                <dt>Rubro</dt>
                <dd>{{ proveedor.rubro }}</dd>
            </dl>
      </div>
   <ol class="breadcrumb"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('proveedor_show', { 'id': proveedor.id, 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
<div class="panel-group" id="accordion">
  {% if (tipoTramites | length) != 0  %}
  {% for tipoTramite in tipoTramites if tipoTramite.slug =="tramite_pago"  %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#tipo{{tipoTramite.id}}'>
          <span {% if loop.first %}class="glyphicon glyphicon-minus"{% else %}class="glyphicon glyphicon-plus  text-info" {% endif %} ></span>  <span class="{{tipoTramite.glyphicon}}"></span> {{tipoTramite}} ({{ tipoTramite.tramite  | length}})
        </a>
      </h4>
    </div>
    <div id="tipo{{tipoTramite.id}}" class="panel-collapse collapse {% if loop.first %}in{% endif %}">
      <div  class="panel-body ">    
         {% if tipoTramite.slug == "tramite_pago" %}
             <span  class="pull-right hidden-print">
                <a class="btn" data-clipboard-target="#todoPago"><!-- clipboard-copiar texto de id="copy" --><span class="glyphicon glyphicon-copy"></span>Copiar Todo</a>
                <a class="btn" data-clipboard-target="#tablaCuadro"><!-- clipboard-copiar texto de id="copy" --><span class="glyphicon glyphicon-copy"></span>Copiar Cuadro</a>
              </span>
             <span id="todoPago">   
                  {% set tramite1, anterior, organismos, pagos1 = 0, 0, {}, tipoTramite.tramite %}
                    
                    {% for tramite1 in pagos1 | sort((a, b) => a.organismoOrigen <=> b.organismoOrigen ) %}
                      {% if loop.first %}
                          {% set organismos = organismos | merge([tramite1.organismoOrigen]) %}
                          {% set anterior = tramite1.organismoOrigen.id %}
                      {% elseif anterior != tramite1.organismoOrigen.id  %}
                        {% set organismos = organismos | merge([tramite1.organismoOrigen]) %}
                         {% set anterior = tramite1.organismoOrigen.id %}
                      {% endif %}
                    {% endfor %}
    
                  {% set tramite1, anterior, proveedores = 0, 0, {} %}
                    {% for tramite1 in pagos1 | sort((a, b) => a.proveedor.id <=> b.proveedor.id) %}
                      {% if loop.first %}
                          {% set proveedores = proveedores | merge([tramite1.proveedor]) %}
                          {% set anterior = tramite1.proveedor.id %}
                      {% elseif anterior != tramite1.proveedor.id  %}
                        {% set proveedores = proveedores | merge([tramite1.proveedor]) %}
                         {% set anterior = tramite1.proveedor.id %}
                      {% endif %}
                    {% endfor %}

                    {% set pagosPorEstados, reporte, estado, pagos, total = {}, {}, 0, [], 0 %}
                    {% for tramite1 in pagos1 | sort((a, b) => a.estadoTramite <=> b.estadoTramite) %}
                            {% if loop.first %}
                                {% set  estado = tramite1.estadoTramite %}
                                {% set pagos = pagos | merge([tramite1]) %}
                                  {% set  total = total + tramite1.montoAdjudica %}
                            {% else %}
                                    {% if estado == tramite1.estadoTramite %} 
                                          {% set  total = total + tramite1.montoAdjudica %}
                                          {% set pagos = pagos | merge([tramite1]) %}
                                    {% else %}
                                        {% set reporte = reporte | merge([{estado, pagos, total}]) %}
                                        {% set pagos, total = [], 0 %}
                                        {% set  total = total + tramite1.montoAdjudica %}
                                        {% set  estado, pagos = tramite1.estadoTramite, pagos | merge([tramite1]) %}
                                    {% endif %}

                            {% endif %}
                    {% endfor %}
                    {% set reporte = reporte | merge([{estado, pagos, total}]) %}
                {# dump(reporte)
                array:3 [▼
                  0 => array:3 [▼
                    "estado" => EstadoTramite {#8792 ▶}
                    "pagos" => array:27 [▶]
                    "total" => 420854285.11
                  ]
                  1 => array:3 [▶]
                ]
                 #}
               {% set sumafila , sumaCelda= 0, 0 %}
               <table id="tablaCuadro"  class="table table-hover table-bordered">
                    <thead>
                        <th> Organismos</th>
                        <th>  Importe de Pagos </th>
                    </thead>
                      <tbody> 
                        {% for organismo1 in organismos %}
                          <tr>
                            <td><a href="{{ path('organismo_show', { 'id': organismo1.id | default(0) }) }}" target="_blank"> {{organismo1.codigoGde}} - {{organismo1}}</a></td>
                            <td>  
                                  {% set pagos = pagos_por_proveedor_organismo( proveedor, organismo1, null, anio ) %}
                                    {% for pago in pagos %}
                                      {% set sumafila, sumaCelda = sumafila + pago.montoAdjudica, sumaCelda + pago.montoAdjudica  %}
                                    {% endfor %}
                                    
                                    {% if sumaCelda > 0  %} $ {{sumaCelda  | number_format(2, ',', '.') }} {% else %} -
                                    {% endif %}
                                    
                                    {% set sumaCelda = 0 %}
                           </td>             
                          </tr>
                       {% endfor %}
                          <tr>
                            <th> Total </th>
                            <th> $ {{sumafila | number_format(2, ',', '.') }}</th>
                          </tr>
                          <tr>
                            <td colspan="2">
                                <div class="progress progress-striped" style="height:20px">
                                     {% for registro in reporte %}
                                          <div class="progress-bar progress-bar-{{ registro.estado.class | replace({'label label-': ''})}}" style="width: {{((registro.total/sumafila)*100) | round }}%" data-toggle="tooltip" data-placement="bottom" title="${{registro.total  | number_format(2, ',', '.') }}">
                                                 <strong style="font-size:13px;">{{((registro.total/sumafila)*100) | round }}% </strong>  {{registro.estado}} - ${{registro.total  | number_format(2, ',', '.') }}
                                          </div>  
                                     {% endfor %} 
                                </div>
                            </td>
                          </tr>
                      </tbody>
                </table>  

        {% endif %}

          {% set pedidos = tipoTramite.tramite %}   
            {{ include('ExpedienteBundle:Tramite:_lista_simple.html.twig') }}  
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

 </div>
</div>
{% endblock %}
