<ul class="list-group">
     {% for historial in historiales | sort | reverse %}
        <li class="list-group-item">
            <small>
               {% if ( app.user.id == historial.usuario.id) %}
                    <a data-toggle="tooltip" data-placement="top" title='{{ historial.usuario}}' class='glyphicon glyphicon-user glyphicon text-success small'>
                     </a>  
               {% else %}       
                     <a data-toggle="tooltip" data-placement="top" title='{{ historial.usuario}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                   {% endif %} <span class="text-muted">  {{ historial.usuario.usuario}} HA {{ historial.texto}} {% if historial.fecha %}{{ historial.fecha|long_time }}
               {% endif %}</span></small>
        </li>
    {% endfor %}
</ul>
