{% if (compartidos | length > 0 ) %}
<div style="margin-top:10px">
       <table class="table table-hover table-responsive">
          <thead>
            <tr>
                <th><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Notificaciones</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
        <tbody>
        {% for compartido in compartidos %}
        {% if ( app.user.id == compartido.usuarioEnvia.id) or ( app.user.id == compartido.usuarioRecive.id) %}
            <tr>                
                <td> 
                    <small>
                    {% if ( app.user.id == compartido.usuarioEnvia.id) %}
                         <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia }}' class='glyphicon glyphicon-user glyphicon text-success '>
                         </a>  
                         <span class="text-muted">  {{ compartido.usuarioEnvia.usuario}} &nbsp; compartiste con &nbsp;</span>
                    {% else %}       
                          <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioEnvia}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                          <span class="text-muted">  {{ compartido.usuarioEnvia.usuario}} &nbsp; compartió contigo &nbsp;</span>
                   {% endif %} 

                    {% if ( app.user.id == compartido.usuarioRecive.id) %}
                         <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive }}' class='glyphicon glyphicon-user glyphicon text-success '>
                         </a>  
                    {% else %}       
                          <a data-toggle="tooltip" data-placement="top" title='{{ compartido.usuarioRecive}}' class='glyphicon glyphicon-user glyphicon text-default'></a> 
                   {% endif %}
                   <span class="text-muted"> 
                   {{ compartido.usuarioRecive.usuario}} &nbsp;
                   {% if compartido.fecha %}{{ compartido.fecha | long_time }}{% endif %}
                   </span> 
                 </small>
                </td>   
                <td>{{ compartido.texto | raw }}</td>             
                <td class="text-center"> 

                    {% if ( app.user.id == compartido.usuarioEnvia.id) or (compartido.estado == true) %}
                     <a href="{{ path('compartir_eliminar', { 'id': compartido.id }) }}"><span data-toggle="tooltip" data-placement="top" title='Eliminar el Mensaje' class="glyphicon glyphicon-trash text-danger"></span></a>
                    {% endif %}&nbsp;
                    {% if compartido.estado %}
                        <span data-toggle="tooltip" data-placement="top" title='Visto' class="glyphicon glyphicon-ok text-success"></span>
                    {% else %}
                           <span data-toggle="tooltip" data-placement="top" title='Pendiente, no visto'  class="glyphicon glyphicon-ok text-muted"></span>
                   {% endif %}                    
                 </td>
            </tr>
              {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
 {% endif %}