{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compartir</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compartir.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if compartir.fecha %}{{ compartir.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idenvia</th>
                <td>{{ compartir.idEnvia }}</td>
            </tr>
            <tr>
                <th>Idrecive</th>
                <td>{{ compartir.idRecive }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ compartir.texto }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ compartir.tipo }}</td>
            </tr>
            <tr>
                <th>Idtipo</th>
                <td>{{ compartir.idTipo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compartir_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('compartir_edit', { 'id': compartir.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
