 <span data-toggle="tooltip" data-placement="top" title='Agente'>
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>+</a>
            <div  class="dropdown-menu" style="width:300px;">
              <ul class="list-group text-center"> 
              <li class="list-group-item">
               <span class="glyphicon glyphicon-user"></span><strong>{{agente}}</strong><br> 
                 <span class='glyphicon glyphicon-phone'></span>{{ agente.telefonoMovil }}  - {{ agente.telefonoFijo }} <br>  
                {% if agente.localidad is defined %}
                <span class= "glyphicon glyphicon-map-marker"></span> {{ agente.domicilio }} | {{ agente.localidad }} <hr style="margin:5px" >
                
                {% else %}
                <strong>Departamento:</strong> N/D  <hr style="margin:5px" >
                {% endif %}
                  <strong>Lugar de Trabajo:</strong> <br> 
                  {% for cargo in agente.cargo %} {{ cargo | default('N/D') }} - {{ cargo.funcion }} {% endfor %}
              </li>
               <a class="hidden-print"  data-toggle="tooltip" data-placement="top" title="VER mas Datos del Agente" href="{{ path('agente_show', { 'id': agente.id }) }}" role="button"><span class="glyphicon glyphicon-user text-info"></span><strong>Ver</strong></a><br> 
            </ul>
          </div>  
</span>&nbsp;&nbsp;
