<div class="row center-block" style="margin-right:2px;">
    {% for agente in pagination  %}
    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2" style="background-color: #8FBC8F; margin:2px; padding:5px; width:auto; height:120px;">
      <div class="panel panel-default" style="margin:0px; padding:2px; height:120px;">
       <div class="panel-heading" style="margin:0px; padding:0px;">
        <div class="dropdown text-left text-info"> 
             {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
            {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': agente, 'tipo': 'AG'} %}

            {% include 'AusentismoBundle:Agente:_menu_agente_panel_heading.html.twig'  %}

            {% set expedienteArray = [] %} 
                 {% for expediente in agente.expediente | sort | reverse  %}    
                        {% set expedienteArray = expedienteArray|merge([expediente]) %}        
                 {% endfor %} 
<span>  
        <a class="dropdown-toggle hidden-print" data-toggle="dropdown" role="button" aria-expanded="false">{% if expedienteArray | length > 0 %}<span  class="glyphicon glyphicon-folder-open text-info" aria-hidden="true"></span> {{ expedienteArray | length }}{% else %}<span  class="glyphicon glyphicon-folder-open text-muted" aria-hidden="false"></span>{{ expedienteArray | length }}{% endif %}</a>
             <ul class="dropdown-menu">  <!-- dropdown-menu -->             
                    {% for expediente in expedienteArray %}  
                            
                         <li>                        
                         <a href="{{ path('expediente_show', { 'id': expediente.id }) }}">
                     {% if expediente.estado %}

                          {% if expediente.letra == 'LIC' %} 
                             <span  class="glyphicon glyphicon-folder-open text-warning"></span>  
                          {% else %} 
                              <span  class="glyphicon glyphicon-folder-open"></span>
                          {% endif %} 
                     {% else %}
                          {% if expediente.letra == 'IN' %} 

                                <span class="glyphicon glyphicon-folder-close text-danger"> </span>
                          {% else %} 
                                 <span class="glyphicon glyphicon-folder-close"></span>
                          {% endif %}

                           {% endif %} <small>{% if expediente | length > 10 %} &nbsp;{{ expediente | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw  }} | {{ expediente.tipoTramite }}{% else %}&nbsp;{{ expediente.extracto[:14] | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw  }} | {{ expediente.tipoTramite }}{% endif %}</small>
                         </a> </li> 

                    {% endfor %} 
            </ul> <!-- dropdown-menu --> 
    
  </span>
</div>
      </div><!-- Panel Heading -->
    <div class="panel-body  text-center" style="margin:0px; padding:3px;">
   <dl  style="padding:0px; margin:0px; width:200px;">
        <dd style="padding:0px; margin:0px;"> 
            <a href="{{ path('agente_show', { 'id': agente.id }) }}"><span class="glyphicon glyphicon-user"></span>
           <small>{{agente.apellidoNombre[ :25] | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}</small></a> <small> <br> CUIL: <strong>{{agente.cuil | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}</strong></small>              
       </dd>

   </dl>           
</div>
 <div class="panel-footer" style="margin:0px; padding:3px;"> {{ include('AusentismoBundle:Agente:_menu_agente_acciones.html.twig' , {'agente': agente }) }} 
 </div>
</div>
</div>
   {% set sector = app.user.departamentoRm.id %}
 {% if agente is defined  %}
          {{ render(controller('ExpedienteBundle:Expediente:modalNew',
            { 'id': agente.id, 'tipo': sector }
        )) }} 
{% endif %}
   {% endfor %} 

</div>


