{# Siarme/AusentismoBundle/Resources/views/Agente/show.html.twig#}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}USUARIO{% endblock %}

{% block contenido %}
<div class="container">
 <ul class="nav nav-pills hidden-print"> 


 {% if (app.user.departamentoRm.slug == "info" or app.user.agente == agente or app.user.departamentoRm.slug == "despacho") %}
        {% if agente.cargo is empty %}
             <li role="presentation" data-toggle="popover" data-placement="bottom"  title="Atención...!" data-content="Debe Actualizar los datos del agente falta asigana un cargo">   
              <a  href="{{ path('agente_edit', { 'id': agente.id }) }}"><span class="glyphicon glyphicon-pencil">Modificar</span></a></li> 
        {% else %}
              <li><a  data-toggle="tooltip" data-placement="bottom" title="Modificar los datos del Agente" href="{{ path('agente_edit', { 'id': agente.id }) }}"><span class="glyphicon glyphicon-pencil">Modificar</span></a>
              </li>  
        {% endif %}
            <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="top" title="Nuevo Lugar de Trabajo o Cargo">
                   <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><span class="glyphicon glyphicon-home"></span> Nuevo Cargo<span class="caret"></span></a>             
                   <ul class="dropdown-menu" style="width:500px">
                     <li style="margin:5px;" >
                      {{ render(controller('AusentismoBundle:Cargo:new', { 'id': agente.id} )) }}
                     </li>
                   </ul>
            </li>
        {% if app.user.departamentoRm.slug == "info" %}
            <li role="presentation" >
                {% if agente.usuario.id is not defined %}
                     <a data-toggle="tooltip" data-placement="top" title="CREAR nuevo Usuario" href="{{ path('usuario_new', { 'id': agente.id }) }}">
                        <span class="glyphicon glyphicon-plus-sign"></span> Crear Usuario
                    </a>
                {% endif %}
            </li>
                {% if tipoTramites | length <= 0 %}
                    {% set botonDelet %}                     
                        {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("¿Desea ELIMINAR el Agente?")'}}) }}                       
                         <button class="btn btn-danger btn-sm" type="submit" value="Eliminar"><span class="glyphicon glyphicon-trash"> Eliminar  </span> </button>
                        {{ form_end(delete_form) }}
                    {% endset %}
                    <li>{{ botonDelet }}</li>
               {% endif %}
        {% endif %}
 {% endif %}
            <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
            <div class="pull-right">
                    <li  role="presentation">
                      <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                        <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                        <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                          <span class="glyphicon glyphicon-copy"></span>Copiar</a>
                    </li>
            </div>
</ul>

<div id="copy" class="panel panel-default print">
    <div class="panel-heading text-uppercase text-center"> 

       <span class="h3">{{ agente }} - CUIL: {{agente.cuil}} </span>

    </div>
<ul class="list-group">   <!-- list-group --> 
   <li class="list-group-item">  <!-- list-group-item --> 
       <span class="glyphicon glyphicon-calendar"></span> Fecha Nacimiento:  {% if agente.fechaNacimiento %} <strong>{{ agente.fechaNacimiento|date('d-m-Y') }} - Edad: {{ agente.fechaNacimiento | age }}</strong> Años {% endif %} &emsp;&emsp;&emsp;&emsp;<span class="glyphicon glyphicon-calendar"></span> Ingreso Laboral: {% if agente.fechaInicioLaboral %} <strong>{{ agente.fechaInicioLaboral|date('d-m-Y') }} -  Antiguedad: {{ agente.fechaInicioLaboral| age }}</strong> Años {% endif %} 
        <hr style="margin:5px"> 
        <span class='glyphicon glyphicon-phone'>Telefono:</span> <strong> {{ agente.telefonoMovil }}
         </strong>
         &emsp;&emsp;Email: <a {% if agente.email | length > 5 %} href='mailto: {{ agente.email | trim }}'>{{agente.email}} {% endif %}</a>   
        <hr style="margin:5px" > 
      {% if agente.localidad is defined %}
      <span class= "glyphicon glyphicon-map-marker">Domicilio</span> {{ agente.domicilio }} | {{ agente.localidad }} <hr style="margin:5px" >
      {% else %}
      <strong>Departamento:</strong> N/D  <hr style="margin:5px" >
      {% endif %}      
      <span class= "glyphicon glyphicon-home">Lugar de Trabajo: </span>
      <br style="margin:5px"> 
        {% for cargo in agente.cargo %}{{loop.index}}- {{ cargo | default('N/D') }} - {{ cargo.funcion }}
            {% if app.user.departamentoRm.slug == "info" or app.user.agente == agente  %}
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Modificar<span class="caret"></span></a> 
                 <ul class="dropdown-menu dropdown-menu-right" style="width:300px">
                    <ul class="list-group">   <!-- list-group --> 
                        <li class="list-group-item"> 
                        {{ render(controller('AusentismoBundle:Cargo:edit', { 'id': cargo.id} )) }}
                        </li>
                   </ul>
                 </ul>
                <a  href="{{ path('cargo_elimiar', {'id': cargo.id }) }}"><span class="glyphicon glyphicon-trash text-danger"></span> Eliminar</a>
            {% endif %}
            <br style="margin:2px">
        {% endfor %}
    
     </li> <!-- list-group-item -->           
   </ul> <!-- list-group -->     

 {% set find = null %}
    <ol class="breadcrumb"  style="margin-bottom:1px;"> 
        {% for year in ( ('now' | date("Y") - 2) .. ('now' | date("Y"))) %} 
            {% if year != anio %}
              <li><a href="{{ path('agente_show', { 'id': agente.id, 'anio': year }) }}"> <span class="glyphicon glyphicon-calendar"></span>{{year}}</a></li>
            {% else %}
                <li class="active"> 
                  <span class="glyphicon glyphicon-calendar text-success"></span> <strong>{{year}}</strong>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
<div class="panel-group" id="accordion">
 {% if app.user.departamentoRm.slug == "despacho" or agente == app.user.agente or app.user.id == 8   or is_granted('ROLE_SUPERVISOR')  %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a data-toggle="collapse" href='#tipoLicencia'> <span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-file"></span> LICENCIAS</a>
      </h4>
    </div>
     <div id="tipoLicencia" class="panel-collapse collapse {% if app.user.departamentoRm.slug == "despacho" %} in {% endif %}">
      <div  class="panel-body ">   
        {% if app.user.departamentoRm.slug == "despacho"%}
           <a  class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Muestra TODOS los datos del Agente" href="{{ path('documento_new', { 'tramite_id': agente.id, 'slug': "licencia" }) }}"> Nueva Licencia</a>
           {#<button type="button" class="btn btn-sm btn-primary btn-nuevalicencia" data-toggle="modal" data-target="#myModal" data-agente="{{ agente.apellidoNombre }}" data-href="{{ path('licencia_modal_new', { 'id': agente.id }) }}"> Nueva Licencia</button> #}
        {% endif %}
             {{ render(controller('AusentismoBundle:Licencia:lista', { 'agenteId': agente.id, 'anio':anio} )) }}
      </div>
     </div>
  </div>
{% endif %}
  {% if (tipoTramites | length) != 0  %}
  {% for tipoTramite in tipoTramites | reverse %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-info">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href='#tipo{{tipoTramite.id}}'>
          <span {% if loop.first %}class="glyphicon glyphicon-minus"{% else %}class="glyphicon glyphicon-plus  text-info" {% endif %} ></span>  <span class="{{tipoTramite.glyphicon}}"></span> {{tipoTramite}} ({{ tipoTramite.tramite  | length}})
        </a>
      </h4>
    </div>
    <div id="tipo{{tipoTramite.id}}" class="panel-collapse collapse {% if tipoTramite.departamentoRm == app.user.departamentoRm %} in {% endif %}">
      <div  class="panel-body ">     
          {% set pedidos = tipoTramite.tramite %}   
            {{ include('ExpedienteBundle:Tramite:_lista_simple.html.twig') }}  
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
</div>
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': agente.id, 'tipo': "AG" }
        )) }}
        
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': agente.id, 'tipo': "AG" }
        )) }}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Seleccionar el Tipo de Licencia para 
            <br/> <span id="modal-nombre"></span></h4>
      </div>
      <div id="modal-body-licencia" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
 {% block footer %}
<dir class="footer"></dir>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">  /*-- $('select').select2({  allowClear:true, placeholder:""});*/

 $('#siarme_ausentismobundle_cargo_organismo').select2({ width: '100%'});

$(document).ready(function(){
  $('[data-toggle="popover"]').popover('show');
});

    $(function(){
      $(".btn-modificar").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
        //alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 

      
    });
  $(".btn-nuevalicencia").unbind('click').click( function(){
     var $href= URL + $(this).attr("data-href");
     var $agente= $(this).attr("data-agente");
      $("#modal-nombre").append($agente);
      $("#modal-body-licencia").load($href);
    });

    $(".btn-nuevo").unbind('click').click( function(){
        var $href= $(this).attr("data-href");
       // alert(URL+$href);
        $.ajax({

             url: URL+$href,
             type: 'GET',
             success: function(response){

             var msj= document.getElementById("modal-body");

             msj.innerHTML =response;
             $('#modal-organismo').modal('show');
            /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('#siarme_ausentismobundle_organismo_localidad').select2({ width: '100%', allowClear:true, placeholder:"Buscar"});

             } 
        }); 
   });

  });


</script> <!-- DataTables  -->


{% endblock %}