{# Siarme/AusentismoBundle/Resources/views/Agente/index.html.twig #}
{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %}  {{ tramite.tipoTramite }} {{ tramite.numeroTramite }}  {% endblock %} 
{% block contenido %}
 <div class="container"> 
{% set ofertas = tramite.proceso.oferta%}
{% if ofertas | length > 1 %}
<nav aria-label="Page navigation">
  <ul class="pager"  style="margin-bottom:0px; margin-top:5px;">
    {% for tramite1 in ofertas %}
        {% if tramite1.id == tramite.id %}
            <li class="active"><span  class='{{ tramite1.tipoTramite.glyphicon}}'></span>{{tramite1.oferente[0:14]}}</li>
        {% else %} 
                <li data-toggle="tooltip" data-placement="top" title="{{tramite1.oferente}}"><a href="{{ path('tramite_show', { 'id': tramite1.id  }) }}"><span ></span>{{tramite1.oferente[0:15]}}</a></li> 
        {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
<div class="nav nav-pills hidden-print"> 
      <li role="presentation" class="disabled"><a href="#">Menu</a></li>
{% if edit %}
        <li role="presentation"  class="dropdown overflow" >
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Modificar <span class="caret"></span></a>
            <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
              <div class="list-group-item">
                    {{ render(controller('ExpedienteBundle:Tramite:edit', {'id': tramite.id  }))}}
              </div>
            </div>
      </li> 
      {#
    <li role="presentation">
       {% if (movimientoPendiente is defined) and (movimientoPendiente is not empty) %}
          {% if   tramite.expediente | length <= 0 %}
         
            <a data-toggle="tooltip" data-placement="top" title='Añadir este {{ tramite.tipoTramite }} al expediente iniciado para consolidar' role="button" href="{{ path('tramite_expediente_agregar' , { 'tramite_id': tramite.id }) }}"> <span class="glyphicon glyphicon-folder-open text-warning" onclick= "return confirm('¿Desea consolidar?');" ></span> Añadir</a>

       {% endif %}
      {% elseif (tramite.expediente | length <= 0)  %}

          <a data-toggle="tooltip" data-placement="top" title='Añade este {{ tramite.tipoTramite }} a un nuevo expediente' role="button" href="{{ path('movimiento_expediente_new' , { 'tramite_id': tramite.id }) }}"><span class="glyphicon glyphicon-folder-open" onclick= "return confirm('¿Desea iniciar una Solicitud?');" ></span> Añadir</a>

      {% endif %}
    </li>#}

   {% endif %}
     {# 
     <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title='Comparte y Notifica a un usuario acerca este PROCESO'>
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-share"></span> Notificar<span class="caret"></span></a>             
               <ul class="dropdown-menu">
                 <li class="dropdown-header" style="width:40em">
                  {- El tipo puede ser ['EX','DOC','AG','MSJ'] corresponde con las entidades Expediente, Documento, Agente, Mensaje -}
                   {{ render(controller('DocumentoBundle:Compartir:new', { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite)})) }}
                 </li>
               </ul>
      </li>
      #}
     {% if (tramite.documento | length <= 0) and edit   %}
            <li role="presentation" data-toggle="tooltip" data-placement="top" title='Eliminar el {{ tramite.tipoTramite }}  {{ tramite.numeroTramite }}' >
                <a  role="button" href="{{ path('tramite_eliminar' , { 'id': tramite.id }) }}"> <span class="glyphicon glyphicon-trash text-danger"> </span> Eliminar</a>
            </li>  
   {% endif %} 

    <!-- Menu DERECHO *** IMPRIMIR - COPIAR -->
    <div class="pull-right">
            <li  role="presentation">
              <a id="printer"  value="Imprimir" role="button"><!-- Printer-imprime el texto de clase="print" -->
                <span class="glyphicon glyphicon-print"></span> Imprimir</a>

                <a class="btn" data-clipboard-target="#copy"><!-- clipboard-copiar texto de id="copy" -->
                  <span class="glyphicon glyphicon-copy"></span>Copiar</a>
            </li>
    </div>
</div>

<!-- copiar - imprimir-->
<div id="copy" class="panel panel-warning print">

    <style type="text/css" media="print">
        @media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style> 
      <!-- Default panel contents -->
      <div class="panel-heading">
          &nbsp;&nbsp; <span class='{{ tramite.tipoTramite.glyphicon}}'></span> {{ tramite.tipoTramite }} <strong> {{ tramite.numeroTramite }}</strong> -  Fecha: {% if tramite.fechaDestino %}{{ tramite.fechaDestino|date('d-m-Y') }}{% endif %}</span>- 
                        {% if edit %}
                             <a href="{{ path('oferta_estado', { 'id': tramite.id }) }}" role="button" onclick= "return confirm('¿Desea cambiar al estado ({{ tramite.estado? "No Válido" : "Admisible" }}) la  {{ tramite.tipoTramite }} y los ítems relacionados?');">{% if tramite.estado %}<span class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title='Cambiar al estado (No Válido)'></span>Admisible{% else %}<span class="glyphicon glyphicon-unchecked text-warning" data-toggle="tooltip" data-placement="top" title='Cambiar al estado (Admisible)'></span>Inadmisible{% endif %}</a>
                        {% else %} 
                             {% if tramite.estado %}<span class="glyphicon glyphicon-check text-info" data-toggle="tooltip" data-placement="top" title='Estado Admisible'>Admisible</span>{% else %}<span class="glyphicon glyphicon-unchecked text-warning" data-toggle="tooltip" data-placement="top" title='Estado No Válido'>Inadmisible</span>{% endif %}
                        {% endif %} 
        {% if tramite.proceso.adjudicado %}
                 <span  class="label label-success pull-right">Ajudicado</span> 
        {% else %}
            <span  class="label label-primary  pull-right">Ingresado</span>
        {% endif %}

      </div>
      <!-- List group -->
      <div class="list-group" aria-multiselectable="true">
        <div class="list-group-item text-center" >
               <dl class="list-group-item-heading" role="tab" id="headingTwo">
                <dt>Expediente</dt>
                <dd>
                     <a href="{{ path('expediente_show', { 'id': tramite.expediente.id }) }}">{{tramite.proceso.expediente}}</a>
                </dd>
                <dt>Proceso</dt>
                <dd>
                    <a   href="{{ path('tramite_show', { 'id': tramite.proceso.id }) }}">{{ tramite.proceso.numeroComprar  | default("n/d" )}}</a>
                </dd>
                <dt>Oferente</dt>
                <dd>
                  {{  tramite.oferente | default("-")}} - CUIT: {{tramite.cuit | mostrar_como_cuil }} 
                </dd>
                <dt>Domicilio</dt>
                <dd> {{ tramite.proveedor.direccion  | default("-") | upper}} </dd>
                <dt>Contacto</dt>
                <dd>Email: {{tramite.proveedor.email | default("ninguno")}} - Telefono: {{tramite.proveedor.telefono | default("-")}}</dd>
                <hr>
                <dt>Monto Ofertado </dt>
                <dd > $ {{ tramite.montoOfertado | number_format(2, ',', '.')  }}</dd>   
                <dd>( {{ numero_a_letras(tramite.montoOfertado,2, 'pesos') }} )</dd> 
            {% if  tramite.proceso.adjudicado %}
                <dt>Monto Adjudicado</dt> 
                <dd>$ {{ tramite.montoAdjudicado | default(0) | number_format(2, ',', '.')  }}</dd> 
                <dd>( {{ numero_a_letras(tramite.montoAdjudicado ,2, 'pesos') }} )</dd> 
            {% endif %}
                <hr>
                <dt> Factor Ponderacion  - <span class="estadoTramite">{% if tramite.proceso.adjudicado %}(<span class=" text-success">Ponderado</span>){% else %} (Evaluación){% endif %} |  {% if edit %} <a role="button" data-href="{{ path('oferta_ponderacion_edit', {'id':tramite.id})}}" class="btn-editarPonderacionOferta hidden-print"> <span  class="glyphicon glyphicon-pencil"></span> Modificar </a>{% endif %} 
                </dt>
                <dd>Plazo de Entrega: <strong>{{tramite.pFPlazoEntrega}}</strong> % | Antecedente: <strong>{{ tramite.pFAntecedente}}</strong> % | Plazo: <strong>{{ tramite.plazo}}</strong>  días </dd>
                <dd>                 
                   <a  id="actualizar-pagina" class="hidden btn btn-lg" href="javascript:location.reload()" ><span class="glyphicon glyphicon-refresh text-info" ></span> <span class="text-info">Actualizar página</span></a>
                </dd>
            </dl>
        </div>
           {{ include('ExpedienteBundle:'~ tramite.tipoTramite.slug ~':_panel_body.html.twig') }}

    </div>
<!-- Large modal -->
<div id="modal-ponderacion"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
     <div class="modal-header text-center">
            <h5>MODIFICAR FACTORES DE PONDERACION
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </h5>
     </div><!-- /.header -->
         <div id="modal-body-ponderacion" class="modal-body">
        </div><!-- /.body -->
    <!--    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button> 
     </div> /.footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
 {{ render(controller('ExpedienteBundle:Comentario:index',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
 {{ render(controller('ExpedienteBundle:Comentario:new',
            { 'tipoid': tramite.id, 'tipo': constant('TIPO_ENTIDAD', tramite) }
        )) }}
</div>

{% endblock %}
{% block javascripts %} 
{{ parent() }}
{{ include('AusentismoBundle:ItemOferta:_java_script.html.twig') }} 
{{ include('ExpedienteBundle:tramite_oferta:_java_script.html.twig') }} 
{% endblock  %}
{% block footer %}
<dir class="footer"></dir>
{% endblock %}