{# Siarme\ExpedienteBundle\Resources\views\tramite_pago\_tbody_completo.html.twig #}
{% set year = 'now' | date('Y')%}
    <tr {# if tramite.departamentoRm != app.user.departamentoRm  %} style="background-color:#E4D8B6;"  class="text-muted"  data-toggle="tooltip" data-placement="top" title="Reparticion {{ tramite.departamentoRm  }}"  {% elseif  tramite.tareaActiva %}  style="background-color:hsla(120,60%,70%,0.3);" {% endif #}>
             {# if tramites is defined or  tareas is defined or realizadas is defined %}
                <td>
                    <div class="dropdown text-left hidden-print" style="margin:0px;"> 
                       {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': tramite, 'tipo': constant('TIPO_ENTIDAD', tramite) } %}
                       {% include 'ExpedienteBundle:tramite_oferta:_menu_info_tramite.html.twig' with {'entidad': tramite, 'tipo':constant('TIPO_ENTIDAD', tramite) } %}
                    </div>
                </td>
            {% endif #}
                <td>
                    <a  href="{{ path('tramite_show', { 'id': tramite.id }) }}">{{ tramite.tipoTramite}} {{ tramite.numeroTramite}}</a>
                    <br>
                    {{ (tramite.ccoo  | default("EX-2022-000000-N/D") | split('*'))[0] }}
                </td>
                <td class="hidden">{{tramite.id}}</td>  
                <td>
                {% if tramite.fecha %}{{ tramite.fecha |date('d-m-Y') }}{% endif %} <br>
                    <span data-toggle="tooltip" data-placement="top" title="{{tramite.organismoOrigen.organismo }}">{{tramite.organismoOrigen.codigoGde}}</span>
                  {% if ( app.user.departamentoRm == tramite.departamentoRm and expediente.id is defined and not tramite.estado ) %}
                            <span role="presentation"  class="dropdown overflow" >
                                <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span><span class="caret"></span></a>
                                <div class="dropdown-menu" style="width: 400px;" aria-labelledby="dropdownMenuLink">
                                  <div class="list-group-item">
                                        {{ render(controller('ExpedienteBundle:Tramite:edit', {'id': tramite.id  }))}}
                                  </div>
                                </div>
                          </span> 
                     {% endif %}
                </td>
                {% if tramites is defined or  tareas is defined or realizadas is defined or organismo is defined  %}
                    <td> 
                        {% if tramite.expediente.id is defined %} 
                            <a href="{{ path('expediente_show', { 'id': tramite.expediente.id | default("-") }) }}">{{ tramite.expediente.numeroGde | default('NO-'~ year ~ '-n/d') }}</a>
                            {% set procesos = tramite.expediente | tramite_por_expediente_slug("tramite_proceso")  %}
                             {% for tramite1 in procesos %}
                               <br/><small><span class="{{tramite1.estadoTramite.class}}"  data-toggle="tooltip" data-placement="bottom" title='{{tramite1.estadoTramite}}' >-</span>
                               {{ tramite1.numeroComprar | default('100-00000-n/d')}}</small>
                            {% endfor %}
                        {% else %}
                            <span  data-toggle="tooltip" data-placement="top" title='El PAGO no esta asignado a un Expediente' class="glyphicon glyphicon-warning-sign text-warning"></span>
                        {% endif %}
                    </td>
                    <td> <small data-toggle="tooltip" data-placement="top" title="{{tramite.expediente.extracto | default("-") | replace({'<br>': " - ", '<br />': " - "})  }}">
                        {% if tramite.expediente.id is defined %} 
                            {{tramite.expediente.extracto[0:50] | raw}}
                        {% endif %}
                        ...</small>
                    </td>  
                {% endif %}   
                <td> <a href="{{ path('proveedor_show', { 'id': tramite.proveedor.id }) }}" target="_blank">{{tramite.proveedor}}</a></td>
                <td>                   
                   ${{ tramite.montoAdjudica | default(0) | number_format(2, ',', '.')  }}<br>
                   {{tramite.numeroNota}}
                </td>
                <td>
                    <span class="pull-left">{{ include('ExpedienteBundle:Tramite:_estado_etiqueta.html.twig') }}</span>
                    <br>{{ tramite.fechaEstado |long_time}}
                </td>
            {% if tramites is defined or  tareas is defined or realizadas is defined or expediente is defined %}
                <td>{# include 'ExpedienteBundle:Tramite:_menu_acciones_tramite.html.twig' #}
                      {% set clase, etiqueta = "","-" %}
                      {% if tramite.expediente.estado is null %}
                          {% set clase, etiqueta = "","-" %}
                      {% elseif tramite.expediente.estado == 0 %}
                         {% set clase, etiqueta = "label label-default","Archivado" %}
                      {% elseif tramite.expediente.estado == true %}
                          {% set clase, etiqueta = "label label-success","Concluido" %}
                      {% endif %} 
                      <span class="{{clase}}">{{etiqueta}}</span>
                </td>
            {% endif %}
    </tr>