{# Siarme/ExpedienteBundle/Resources/views/Extranet/_lista_tramite.html.twig #}
    <table id="#tablaTramite" class="table table-responsive table-hover" >
        <thead >
            <tr class="text-muted">
                <th>Docs.</th>
                <th>Inicio</th>
                <th>Estado</th>
                {% set rolusuario = app.user.rol %}
            {% if  is_granted('ROLE_USUARIO') %}
                  <th >Acciones</th>
            {% endif %}      
            </tr>
        </thead>
        <tbody> 
          {% for tramite in expediente.tramite | sort | reverse  %}
         {% if loop.first  %} 
             <tr>
                <td>       
                    
                    <span  class="label label-info glyphicon glyphicon-paperclip" data-toggle="tooltip" data-placement="top" title="ULTIMOS Documentos">
                      <button class="badge" data-toggle="collapse" data-target=".t-{{tramite.id}}" aria-expanded="true" id="t-{{tramite.id}}"> 
                      {{  (tramite.documento | length ) }} </span>
                </td>
                
                 <td>
                    {% if tramite.fechaOrigen %}{{ tramite.fechaOrigen|date('d-m-Y') }}{% endif %}
                  </td>  

                <td> 

                  {% if expediente.estado %}      
                   <span  class="text-success">EN CURSO...</span> 

                  {% else %}
                    <span class="text-muted">ENVIADO...</span>
                  {% endif %}

                </td>
       {% if  is_granted('ROLE_ADMINISTRATIVO') and (expediente.departamentoRm  == app.user.departamentoRm ) %}
              <td>                   
                {% if expediente.estado %}      
                  <a  class="label label-success" data-toggle="tooltip" data-placement="top" title="ENVIAR Expediente" href="{{ path('expediente_concluir', { 'id': expediente.id }) }}">ENVIAR</a> 

                  {% else %}
                  <a class="label label-default" data-toggle="tooltip" data-placement="top" title="RECIBIR Expediente" href="{{ path('expediente_iniciar', { 'id': expediente.id }) }}">RECIBIR</a>
                  {% endif %}
                </td>
        {% else %}

                <td> N/D </td>
      {% endif %}
  
            </tr>
            <tr>
                <td colspan="4">
                <div class="conteiner collapse in out budgets t-{{tramite.id}}"> 
                <div class="row">
                   <ul class="list-inline text-center text-info">
                   {% for documento in tramite.documento %}                             
                   
                        {{ include('ExpedienteBundle:Expediente:_lista_documento.html.twig') }}
                      
                   {% endfor %}
                   </ul>
                    <ul class="list-inline text-center">
            {% else %}
                  
                   {% for documento in tramite.documento %}                          
                   
                        {{ include('ExpedienteBundle:Expediente:_lista_documento.html.twig') }}
                      
                   {% endfor %}
                       
            {% endif %}

          {% endfor %} 
        </ul> 
                 </div>
                

               </div>
               </td>
            </tr>            

        </tbody>
    </table>                 
