<div class="row text-center center-block">
    {% for expediente in pagination  %}

    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2" style="background-color: #DEB887; margin:5px; padding:5px; width:auto; height:150px;">
      <div class="panel panel-default" style="margin:0px; padding:2px; height:150px;">
       <div class="panel-heading" style="margin:0px; padding:2px;">

        <div class="dropdown text-left" style="margin:0px;"> 
             {# El tipo puede ser ['EX','DOC','AG'] corresponde con las entidades Expediente, Documento, Agente #}
            {% include 'DocumentoBundle:Documento:_menu_comun_informacion.html.twig' with {'entidad': expediente, 'tipo': 'EXP'} %}

            {% include 'ExpedienteBundle:Expediente:_menu_expediente_panel_heading.html.twig' with {'entidad': expediente, 'tipo': 'EXP'} %}

        </div>
      </div>
      <div class='panel-body' style="margin:0px; padding:2px;">
     <dl  style="padding:0px; margin:0px; width:200px;">
        <dt>   <h6>       
             <a href="{{ path('expediente_show', { 'id': expediente.id }) }}">
         {% if expediente.estado %}

             {% if expediente.letra == 'LIC' %} 
                             <span class="glyphicon glyphicon-folder-open text-info" data-toggle="tooltip" data-placement="top" title='{{expediente.extracto}}'></span> 
              {% else %} 
                              <span class="glyphicon glyphicon-folder-open" data-toggle="tooltip" data-placement="top" title='{{expediente.extracto}}'></span>
              {% endif %} 

         {% else %}

             {% if expediente.letra == 'LIC' %} 
                             <span class="glyphicon glyphicon-folder-close text-info" data-toggle="tooltip" data-placement="top" title='{{expediente.extracto}}'></span> 
              {% else %} 
                              <span class="glyphicon glyphicon-folder-close" data-toggle="tooltip" data-placement="top" title='{{expediente.extracto}}'></span>
              {% endif %} 

        {% endif %}    
           
           {% if expediente | length > 10 %}
                {{ expediente | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw  }}</a> {% set extracto = expediente.extracto %}
           {% else %}
            
               {{ expediente.extracto[:14] | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw  }}</a> {% set extracto = expediente.extracto[14: ] %}        
           {% endif %}
          </h6>
        </dt>
       
        <dd> <h6> {{expediente.agente | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}<br> {{ extracto | default ("N/D") | upper | replace({ (find) :'<mark>'~find~'</mark>' })  | raw }}</h6>
        </dd>
        {% if app.user.departamentoRm != expediente.departamentoRm %}
        <df>
            <h5 class="bg-success"> Sector: {{ expediente.departamentoRm }} </h5>
        </df>
      {% endif %}
     </dl>
       </div>
      </div>
    </div> 
   {% endfor %}   
      
</div>
