{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block stylesheets %}   
{{ parent() }}
      <link href="{{ asset('bundles/expediente/select2/css/select2.min.css') }}" rel="stylesheet">     
{% endblock %}
{% block menu_li %}
    <li>
        <a  href="{{ path('expediente_index') }}" role="button"> <span class="glyphicon glyphicon-list-alt"> Lista de Expts. </span></a>
    </li> 
{% endblock %}
{% block main %} 
    <div class="panel panel-default">
        <div class="panel-heading text-center">  
        <h4 class="panel-title">  ENVIAR EXPEDIENTE <br> <br>
           {{expediente}} <br> {{expediente.extracto}}
        </h4>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{form_row(form.organismoDestino, {'attr': {'class': 'select2'}}) }}
                {{ form_widget(form) }}
            <div class="text-right">
               <a  class="btn btn-primary" href="{{ path('expediente_show', { 'id': tramite.expediente.id }) }}"> CANCELAR </span></a> 
                <input class="btn btn-danger" type="submit" onclick="return confirm('¿Desea GUARDAR el tramite?')" value="GUARDAR" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %} 
{{ parent() }}
        <script src="{{ asset('bundles/expediente/select2/js/select2.min.js') }}"></script>
         <script> /*-- $('select').select2({  allowClear:true, placeholder:""});*/
          $('select').select2();
           </script>

{% endblock %}