{% extends 'ExpedienteBundle:Default:layout.html.twig' %}
{% block title %} SINIPPET {% endblock %}
{% block stylesheets %}   
{{ parent() }}
     <link href="{{ asset('bundles/expediente/plugins/boostrap3/css/bootstrap_yeti.min.css') }}" type="text/css" rel="stylesheet">    
{% endblock %}
{% block main %}

                {% set texto1 %}
                    <span style="font-size:14px; text-aling: justify">
                    {{ include(['DocumentoBundle::Snippet/include/'~ slug ~'_text.html.twig', 'DocumentoBundle::Snippet/include/default_text.html.twig']) }}
                    </span>          
                {% endset %}
            <div class="panel panel-default">
                 <div class="panel-body"> 
                 {{ include(['DocumentoBundle::Snippet/include/form_'~ documento.tipoDocumento ~'.html.twig', 'DocumentoBundle::Snippet/include/form_default.html']) }}
                 </div>
            </div>   
                
{% endblock %} 

{% block javascripts %} 
{{ parent() }}
        <script src="{{ asset('bundles/expediente/plugins/ckeditor/ckeditor.js') }}" type="text/javascript"> </script>
        <script type="text/javascript">
         CKEDITOR.replace( 'siarme_documentobundle_docadministrativo_texto', {  height: 400,
            // Configure SCAYT to load on editor startup.
            scayt_autoStartup: true,
    } );
        </script>
        <script type="text/javascript">
         CKEDITOR.replace( 'siarme_documentobundle_docmedico_texto', {  height: 400,
            // Configure SCAYT to load on editor startup.
            scayt_autoStartup: true,
    } );</script>
        <script src="{{ asset('bundles/expediente/select2/js/select2.min.js') }}"></script>
        <script> /*-- $('select').select2({  allowClear:true, placeholder:""});*/
                $('select').select2({  allowClear:true, placeholder:"Buscar"});
        </script>
{% endblock %}